<div class="container main-content">
    <div class="content-header content-header-presentation">
        <h2 class="page-title">Create Data</h2>

    </div>

    <div class="row-view row-view-create row-flex" id="row-view-create">
        <div class="view-item view-item-upload">
            <div class="view-item-wrap">
                <a href="#!/create-dataset">
                    <h3>Upload Datasets</h3>

                    <p>
                        Create new datasets, by providing tabular data from any Open Data source.<br>
                        This allows you to select the suitable data in an interactive way and enrich the dataset information (metadata).

                    </p>
                </a>
            </div>
        </div>
        <div class="view-item view-item-indicators">
            <div class="view-item-wrap"><a href="#!/">
                <h3>Define Indicators</h3>

                <p>
                    Datasets are associated with a properties, such as unemplyment, health.<br>
                    Those properties are used for the creation of metric. </p>
            </a></div>
        </div>

        <div class="view-item view-item-define-metrics">
            <div class="view-item-wrap"><a href="#!/metrics/create">
                <h3>Create metrics</h3>

                <p>
                    Create new datasets by using the inteactive user interface.
                    Apply datasets in mathematical-like forumlas. Store them as a metric to use them with many different datsets of the same indicator.

                </p>
            </a></div>
        </div>
        <div class="view-item view-item-apply">
            <div class="view-item-wrap">
                <a href="#!/">
                    <h3>Apply Datasets to Metric</h3>

                    <p> Apply real datasets of the respective properties of a metric.<br> The output will be a new dataset.
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
