<div class="container main-content">
  <div class="content-header content-header-presentation">
    <h2 class="page-title">Create, visualise, annotate, model and debate</h2>
    
  </div>
  
  <div class="row-view row-view-create row-flex" id="row-view-create">
    <div class="view-item view-item-metrics">
    <div class="view-item-wrap">
      <a  href="#/metrics/create">
        <h3>Create Datasets, Properties and Metrics</h3>
        <p> Create open data based datasets, properties and metrics using mathematical functions over properties and apply them to data values. </p>
        </a>
    </div>
    </div>
    <div class="view-item view-item-visualizations"> 
    <div class="view-item-wrap"><a href="#/visualizations/create">
        <h3>Create Visualisation</h3>
        <p> Create visualization from mashing up datasets available in the policy Compass Plattform </p>
        </a> </div>
      </div>
  
    <div class="view-item view-item-events"> <div class="view-item-wrap"><a href="#/events/create">
        <h3>Create Historical Events</h3>
        <p> Create historical events which can later be used to annotate visualisation graphs to better support arguments. </p>
        </a> </div></div>
    <div class="view-item view-item-models"> <div class="view-item-wrap">
        <a href="#/models/create">
        <h3>Create Causal Models</h3>
        <p> Create causal models in order to analyse policy impact. </p>
        </a>
      </div>
    </div>
  </div>
</div>
