<div class="container main-content">
<h2 class="page-title page-title-presentation">Create, visualise, annotate and debate</h2>
    <div class="create-statement-phrase">
        
        <p>Create, visualise, annotate and debate</p>
    </div>
    <div class="row section-content">
        <div class="col-lg-6 col-md-6 col-sm-6 first-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-3 metric-img-content"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 text-content">
                    <a  href="#/metrics/create">
                        <h3>Create Datasets, Properties and Metrics</h3>
                        <p>
                        Create open data based datasets, properties and metrics using mathematical functions over properties and apply them to data values.
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-3 visualisation-img-content"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 text-content">
                    <a href="#/visualizations/create">
                        <h3>Create Visualisation</h3>
                        <p>
                        Create visualization from mashing up datasets available in the policy Compass Plattform
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row last-section-content">
        <div class="col-lg-6 col-md-6 col-sm-6 first-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 event-img-content"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 text-content">
                    <a href="#/events/create">
                        <h3>Create Historical Events</h3>
                        <p>
                        Create historical events which can later be used to annotate visualisation graphs to better support arguments.
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 fcm-img-content"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 text-content">
                    <a href="#/models/create">
                        <h3>Create Causal Models</h3>
                        <p>
                        Create causal models in order to analyse policy impact.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
