<div class="container main-content">
  <div class="content-header content-header-presentation">
    <h2 class="page-title">Create, visualise, annotate, model and debate</h2>
    
  </div>
  
  <div class="row-view row-view-create row-flex" id="row-view-create">
    <div class="view-item view-item-metrics">
    <div class="view-item-wrap">
      <a  href="#!/create-data">
        <h3>Upload Datasets, define Properties and Metrics</h3>
        <p> Upload open data based datasets, define properties and metrics using mathematical functions over properties and apply them to data values. </p>
        </a>
    </div>
    </div>
    <div class="view-item view-item-visualizations"> 
    <div class="view-item-wrap"><a href="#!/visualizations/create">
        <h3>Visualise Data</h3>
        <p> Visualise data from mashing up datasets available in the Policy Compass Plattform.</p>
        </a> </div>
      </div>
  
    <div class="view-item view-item-events"> <div class="view-item-wrap"><a href="#!/events/create">
        <h3>Register Historical Events</h3>
        <p> Register Historical Events which can later be used to annotate visualisation graphs to better support arguments. </p>
        </a> </div></div>
    <div class="view-item view-item-models"> <div class="view-item-wrap">
        <a href="#!/models/create">
        <h3>Create Causal Models</h3>
        <p> Create causal models to analyse policy impact. </p>
        </a>
      </div>
    </div>
  </div>
</div>
