<div class="container">
    <div class="create-statement-phrase">
        <p>Create, visualise, annotate and debate</p>
        <p>Create, visualise, annotate and debate</p>
    </div>
    <div class="row section-content">
        <div class="col-lg-6 col-md-6 col-sm-6 first-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-3 metric-img-content"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 text-content">
                    <a  href="#/metrics/create">
                        <h3>Create Metrics</h3>
                        <p>Create, visualise, annotate and debate Open Data based performance metrics and policy models</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-3 visualisation-img-content"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 text-content">
                    <a href="#/visualizations/create">
                        <h3>Create Visualisation</h3>
                        <p>Create, visualise, annotate and debate Open Data based performance metrics and policy models</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row last-section-content">
        <div class="col-lg-6 col-md-6 col-sm-6 first-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 event-img-content"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 text-content">
                    <a href="#/events/create">
                        <h3>Create Historical Events</h3>
                        <p>Create, visualise, annotate and debate Open Data based performance metrics and policy models</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 fcm-img-content"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 text-content">
                    <a href="#/models/create">
                        <h3>Create Fuzzy Cognitive Map</h3>
                        <p>Create, visualise, annotate and debate Open Data based performance metrics and policy models</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
