<update-meta property="og:description" content="Glossary"></update-meta>
<div class="container main-content">

    <br>

    <a name="maintop"></a>

    <h3>Glossary</h3>

    <br>

    <p style="color:#F7941E"><strong>
        Dataset:
    </strong></p>

    <p>
        A data table for some indicator over a time period, where each row is a time
        series and each column is a time point, e.g. year, and the cells contain the
        value of the indicator for a particular individual (entity, being or object) and time point.
    </p>

    <br>

    <p style="color:#F7941E"><strong>
        Indicator:
    </strong></p>

    <p>
        A quantitative characteristic of individual. Indicators can vary over time.
        Called "variables" in statistics. Examples: the population, unemployment rate or
        average life expectancy of a country.
    </p>

    <br>

    <p style="color:#F7941E"><strong>
        Metric:
    </strong></p>

    <p>
        Is a complex indicator defined as mathematical function (formula) using indicators
        or other metrics. Typically the weighted sum of normalized indicators values.
        For example, health might be defined as
    </p>

    <p style="font-style:italic;">
        health = 0.6 * nle(lifeExpectancy) + 0.4 * ncm(childMortality)
    </p>

    <p>
        where nle and ncm are functions normalizing the life expectancy and child
        mortality to real numbers in the range
        <span style="font-style:italic;">
            [0.0,1.0].
        </span>
    </p>

    <p>
        Applying this to a specific dataset for a country x at time t would be defined as
    </p>

    <p style="font-style:italic;">
        health(x,t) = 0.6 * nle(lifeExpectancy(x,t)) + 0.4 * ncm(childMortality(x,t))
    </p>

    <br>

    <p style="color:#F7941E"><strong>
        Metadata of:
    </strong></p>

    <p>
        Description of performed according a predefined structure.
    </p>

    <br>

    <p style="color:#F7941E"><strong>
        Individual:
    </strong></p>

    <p>
        A term denoting a particular entity, being or object.
        A proper noun. Examples: London, Germany, European Union, Angela Merkel.
    </p>

    <br>

    <p style="color:#F7941E"><strong>
        Causal Model:
    </strong></p>

    <p>
        An abstract model describing the causal relations between concepts.
    </p>

    <br>

    <p style="color:#F7941E"><strong>
        Event:
    </strong></p>

    <p>
        A historical event potentially influenced the values of indicators.
        For example, court decision, entry into force of a law, natural disaster, etc.
    </p>

    <br>

    <p style="color:#F7941E"><strong>
        Visualisation:
    </strong></p>

    <p>
        Visual representation of datasets in form of tables, charts, etc.
    </p>

    <br>




</div>
