<section id="slide1">
    <div class="div_table">
        <div class="div_tablecell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="padding-top:200px ">
                            <h3 style="background-color: black;color: #ffffff;padding: 5px 150px 5px 20px">How it Works</h3>
                            <p style="font-size: 18px;color: #ffffff;padding-left: 20px">Policy Compass will help you simplify the way you utilize, interact,
                                mash-up, visualise and interpret the increasing amount of international
                                open economic data and wealth indicators from reliable international data sources</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <img src="img/parallaxImg/bgc_section-1_img1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slide2">
    <div class="div_table">
        <div class="div_tablecell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align: center">
                        <img src="img/parallaxImg/bgc_section-2_img1.png">
                        <h4 style="color: #000000">Opening Policy Horizons</h4>
                        <h4 style="color: #000000">OPEN DATA DRIVEN ANALYSIS AND IMPACT EVALUATION</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slide3">
    <div class="div_table">
        <div class="div_tablecell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="text-align: center;margin-bottom: 20px">
                        <h3 style="background-color:#ffffff;color: #000000;padding: 5px 120px 5px 20px">USE OUR PLATFORM TO CREATE</h3>
                        <p style="font-size: 18px;color: #ffffff;padding-left: 20px">Our platform is based on 6 core components to help you…</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-2"><img src="img/parallaxImg/bgc_section-3_icon1.png"></div>
                                <div class="col-lg-8">
                                    <a href="#/metrics/create" style="text-decoration: none">
                                        <h3 style="color: #ffffff">METRICS</h3>
                                        <p style="color: #ffffff">discover and process Open Data that portray a real-life situation.
                                            define prosperity metrics that reflect your own perceived well-being .
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-2"><img src="img/parallaxImg/bgc_section-3_icon2.png"></div>
                                <div class="col-lg-8">
                                    <a href="#/metrics/create" style="text-decoration: none">
                                        <h3 style="color: #ffffff">Visualisations</h3>
                                        <p style="color: #ffffff">visualise metrics using different graphical forms, such as line graphs, pie charts … etc.
                                            compare metrics and view their relative performance across time and territorial areas.
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-2"><img src="img/parallaxImg/bgc_section-3_icon3.png"></div>
                                <div class="col-lg-8">
                                    <a href="#/metrics/create" style="text-decoration: none">
                                        <h3 style="color: #ffffff">Historical Events</h3>
                                        <p style="color: #ffffff">Export historical events from a myriad of available online sources.
                                            Help to better understand trend lines by annotating metrics with factual based evidence.
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-2"><img src="img/parallaxImg/bgc_section-3_icon4.png"></div>
                                <div class="col-lg-8">
                                    <a href="#/metrics/create">
                                        <h3 style="color: #ffffff">Fuzzy Cognitive Maps</h3>
                                        <p style="color: #ffffff">create or view policy models to better understand interrelations, causal effects and impacts of policy decisions.
                                            perform simulations of the effects of your personal theory.
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-2"><img src="img/parallaxImg/bgc_section-3_icon1.png"></div>
                                <div class="col-lg-8">
                                    <a href="#/metrics/create">
                                        <h3 style="color: #ffffff">Deliberation</h3>
                                        <p style="color: #ffffff">initiate or participate in active discussions an debates around metrics, policy models and visualisations
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-2"><img src="img/parallaxImg/bgc_section-3_icon1.png"></div>
                                <div class="col-lg-8">
                                    <a href="#/metrics/create">
                                        <h3 style="color: #ffffff">Argumentation</h3>
                                        <p style="color: #ffffff">transform statements and opinions into structured argument maps.
                                            navigate through reconstructed argument maps to better understand the relations and the debates amongst different positions.
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slide4">
    <div class="div_table">
        <div class="div_tablecell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <img src="img/parallaxImg/bgc_section-4_img1.png">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="padding-top: 200px">
                        <h3 style="background-color:#428BCA;color: #ffffff;padding: 5px 0px 5px 20px">EVALUATE PERFORMANCE OF POLICIES</h3>
                        <p style="font-size: 18px;color: #428BCA;padding-left: 20px">When you view or create a metric, Policy Compass can
                            help you improve your understanding of trend lines and see further explanation regarding interrelations and
                            causal effects between different policy decisions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slide5">
    <div class="div_table">
        <div class="div_tablecell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8" style="padding-top: 50px">
                        <h5 class="pull-right" style="color: #ffffff">define metric data as a concept to be evaluated in the Policy Model</h5>
                    </div>
                    <div class="col-lg-4">
                        <img class="pull-right" src="img/parallaxImg/bgc_section-5_img1.png">
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding-right: 600px">
                        </div>
                        <div class="col-lg-6">
                            <h3 style="background-color: #f7941e;color: #ffffff;padding: 5px 0px 5px 20px">BUILD CAUSAL POLICY MODELS</h3>
                            <p style="font-size: 18px;color: #ffffff;padding-left: 20px">Use the proper toolset available in Policy Compass
                                to gain insights from an economic and social sciences perspective about relations of causes and effects
                                between governmental policies and their outputs, outcomes and impacts.</p>
                            <div style="margin-top: 50px" class="pull-right">
                                <img src="img/parallaxImg/bgc_section-5_img3.png">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="img/parallaxImg/bgc_section-5_img2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
