<div skrollr data-0="background-color:rgb(0,0,255);" data-5="background-color:rgb(255,0,0);">WOOOT</div>
<section id="slide-1" class="homeSlide">
    <div skrollr class="bcg"
         data-center="background-position: 50% 0px;"
         data-top-bottom="background-position: 50% -100px;"
         data-anchor-target="#slide-1"
            >
        <div class="hsContainer">
            <div skrollr class="hsContent"
                 data-center="opacity: 1"
                 data-106-top="opacity: 0"
                 data-anchor-target="#slide-1 h1"
                    >
                <h1>Fade out elements before <br>they leave viewport</h1>
            </div>
        </div>
    </div>
</section>
<!-- HTML -->
<section id="slide-2">
    <div skrollr  class="bcg"
         data-0="background-color:rgb(1,27,59);"
         data-top="background-color:(0,0,0);"
         data-anchor-target="#slide-2"
            >
        <div class="hsContainer">
            <div skrollr class="hsContent">
                <h2 skrollr
                        data--200-bottom="opacity: 0"
                        data-center="opacity: 1"
                        data-206-top="opacity: 1"
                        data-106-top="opacity: 0"
                        data-anchor-target="#slide-2 h2"
                        >
                    Fade me in and out
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- HTML -->
