<div class="form-group-desc form-group form-group-description" ng-if="itemToPlot.description">
	<div class="field-label">Description</div>
	<div class="field-content">{{itemToPlot.description}}</div>
</div>
<div class="form-group form-group-keywords" ng-if="itemToPlot.keywords">
	<div class="field-label">Keywords</div>
	<div class="field-content">{{itemToPlot.keywords}}</div>
</div>
<div class="form-group form-group-keywords" >
	<div class="field-label">Policy domains</div>
	<div class="field-content">
		<div ng-repeat="policydomain in itemToPlot.policy_domains">
			<span ng-if="policydomain.title">{{policydomain.title}}</span>
			<span ng-if="policydomain" resolve-policydomain id="policydomain"></span>
		</div>
	</div>						
	<div class="form-item" ng-if="itemToPlot.unit_category">
		<div class="field-label">Unit Category</div>
		<div class="field-content">
			<span resource-title id="itemToPlot.unit_category" resource="UnitCategory"></span>
		</div>
	</div>
	</div>
	<div class="form-group form-group-modified">
		<div class="form-item" ng-if="itemToPlot.creator_path">
			<div class="field-label">Added by</div>
			<div class="field-content">
				<username userpath="{{itemToPlot.creator_path}}"></username>
			</div>
		</div>
		<div class="form-item" ng-if="itemToPlot.created_at">
			<div class="field-label">Added</div>
				<div class="field-content">{{ itemToPlot.created_at | date:"longDate" }}</div>
		</div>
		<div class="form-item" ng-if="itemToPlot.dateIssuedByExternalResource">
			<div class="field-label">Issued</div>
			<div class="field-content">{{ item.dateIssuedByExternalResource | date:"longDate" }}</div>
		</div>
		<div class="form-item" ng-if="itemToPlot.updated_at">
			<div class="field-label">Modified</div>
			<div class="field-content">{{ itemToPlot.updated_at | date:"longDate" }}</div>
		</div>
	</div>
	<div class="form-group form-group-location" ng-if="itemToPlot.language_id">
		<div class="form-item">
			<div class="field-label">Language</div>
			<div class="field-content">
				<span ng-if="itemToPlot.language_id" resolve-language id="itemToPlot.language_id"></span>
			</div>
		</div>
		<div class="form-item" ng-if="itemToPlot.location || itemToPlot.spatials">
			<div class="field-label">Location</div>
			<div class="field-content">
				<span ng-if="item.location" resolve-individual id="itemToPlot.location"></span>
				<div ng-repeat="spatial in itemToPlot.spatials">
					<span ng-if="spatial" resolve-individual id="spatial"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group form-group-rating">
		<div class="form-item">
			<div class="field-label">Rating</div>
			<div class="field-content">
				<pc-rating ng-if="itemToPlot.id" rating-id="{{type}}_{{itemToPlot.id}}"></pc-rating>
			</div>
		</div>
	</div>
	<div class="form-group form-group-lg" ng-if="itemToPlot.version">
		<div class="form-item">
			<div class="field-label">Version</div>
			<div class="field-content">{{ itemToPlot.version }}</div>
		</div>
	</div>
</div>	