<div class="container">
    <div class="row">
        <div class="col-lg-12 home-statement-phrase ">
            <p>
                Opening Policy Horizons
                Open Data Driven analysis and impact evaluation
            </p>
            <p>
                Policy Compass will simplify the way to utilize, interact, mash-up, visualise and interpret the increasing amount of international open econonmic data and wealth indicators from reliable international data sources
            </p>
        </div>
    </div>
    <div class="row landing-page-wrapper" >
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="landing-page-content glyphicon glyphicon-search">
                <a href="#/browse">
                    <h3>Browse</h3>
                    <p>Search for Data & Information Visualisations in order to support your argument or position</p>
                </a>
                <span class="btn btn-warning btn-sm">Show Me How!</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="landing-page-content glyphicon glyphicon-th-list">
                <a href="#/i-want-to">
                    <h3>I want to</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et ad</p>
                </a>
                <span class="btn btn-warning btn-sm">Show Me How!</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="landing-page-content glyphicon glyphicon-pencil">
                <a href="#/create">
                    <h3>Create</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et ad</p>
                </a>
                <span class="btn btn-warning btn-sm">Show Me How!</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class=" landing-page-content glyphicon glyphicon-plus">
                <a href="#">
                    <h3>Embed</h3>
                    <p>Search for Data & Information Visualisations in order to support your argument or position</p>
                </a>
                <span class="btn btn-warning btn-sm">Show Me How!</span>
            </div>
        </div>
    </div>
</div><!-- /.container -->