    <div class="container ">
        <div class="row">
            <div class="col-lg-12 home-statement-phrase ">
                <p>
                    Opening Policy Horizons
                    <br>
                    Open Data Driven analysis and impact evaluation
                </p>
                <p>
                    Policy Compass will simplify the way to utilize, interact, mash-up, visualise and interpret the increasing amount of international open econonmic data and wealth indicators from reliable international data sources
                </p>
            </div>
        </div>
        <div class="row landing-page-wrapper" >
            <a href="#/create" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cursor-pointer">
                <span class="landing-page-content glyphicon glyphicon-pencil" >
                <h3>Create</h3>
                 <p>Create, visualise, annotate and debate Open Data based performance metrics and policy models</p>
                </span>
            </a>
            <a href="#/browse" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cursor-pointer">
                <span class="landing-page-content glyphicon glyphicon-search" >
                <h3>Browse</h3>
                 <p>Browse content produced by fellow Policy Compass members</p>
                </span>
            </a>
            <a href="#/i-want-to" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cursor-pointer">
                <span class="landing-page-content glyphicon glyphicon-th-list" >
                <h3>I want to</h3>
                 <p>Let us guide you through the Policy Compass tools</p>
                </span>
            </a>
            <a href="#/request" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cursor-pointer">
                <span class="landing-page-content glyphicon glyphicon-export" >
                <h3>Request</h3>
                 <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                </span>
            </a>
        </div>
    </div><!-- /.container -->