    
   
     
    
    <div class="container main-content main-content-landing">
    <div class="content-header content-header-presentation">
    <div class="home-head">
      <div class="home-head-logo"><img src="img/logo.svg" alt="Policy Compass's Logo" id="home-logo"></div>
      <div class="home-head-title"><h2 class="page-title">Opening Policy Horizons
                        <br>
                        Open Data Driven analysis and impact evaluation</h2></div>
    </div>
      
    
      <p class="subtitle">
          Policy Compass simplifies the way you utilize, interact, mash-up, visualise and interpret the increasing amount of international Open Data and prosperity indicators from reliable international data sources

      </p>
      </div>
        
        <div class="row-flex row-view row-view-main">
        
<div class="view-item view-item-create">
<a href="#!/create">
  <h3 class="fonticon fonticon-create title">Create</h3>
  <p>Create, visualise, annotate and debate Open Data based performance metrics and policy models</p>
  </a>
  
  

</div>
<div class="view-item view-item-search">
<a href="#!/browse">
  <h3 class="fonticon fonticon-search title">Browse</h3>
  <p>Browse content produced by fellow Policy Compass members</p>
  </a>
  
  

</div>
<div class="view-item view-item-want">
<a href="#!/i-want-to">
  <h3 class="fonticon fonticon-want title">I want to</h3>
  <p>Let us guide you through the Policy Compass tools</p>
  </a>
  
  

</div>

<div class="view-item view-item-request">
<a href="#!/request">
  <h3 class="fonticon fonticon-request title">Request</h3>
  <p>Request non-existent content from expert users and give them ideas.</p>
  </a>
  
  

</div>

<div class="view-item view-item-how">
<a href="#!/how-it-works">
  <h3 class="fonticon fonticon-how title">How it works</h3>
  <p>A showcase of the Policy Compass tools.</p>
  </a>
  
  

</div>




        </div>
    </div><!-- /.container -->