<div ng-controller="ControllerScroller">

    <div id="top-bar">
        <div cookie-law ng-hide="hideCookieLaw" class="landingpage"></div>
        <div ng-include="'header.html'" class="landingpage"></div>
    </div>

    <div id="parallax" du-scroll-container>

        <section id="group1" name="group1" class="parallax__group">
            <div class="parallax__layer parallax__layer--fore"></div>
            <div class="parallax__layer parallax__layer--base">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                            <img src="img/logo-white.svg" alt="Policy Compass's Logo" id="home-logo">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="page-title">
                                Opening Policy Horizons
                                <br>Open Data Driven analysis
                                <br>and impact evaluation
                            </h2>
                            <p style="color: #ccc;">
                                Policy Compass simplifies the way you utilize, interact, mash-up, visualise and interpret the increasing amount of international Open Data and prosperity indicators from reliable international data sources
                            </p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            <p>Create, visualise, annotate and debate Open Data based performance metrics and policy models</p>
                            <p>
                                <a href="#!/create#maintop" class="front-btn fonticon fonticon-create">Create</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>Browse content produced by fellow Policy Compass members</p>
                            <p>
                                <a href="#!/browse#maintop" class="front-btn fonticon fonticon-search">Browse</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>Request non-existent content from expert users and give them ideas.</p>
                            <p>
                                <a href="#!/request#maintop" class="front-btn fonticon fonticon-request">Request</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="group2" name="group2" class="parallax__group">
            <div class="parallax__layer parallax__layer--fore">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="img/front/cloud_PNG4.png">
                        </div>
                        <div class="col-md-6">
                            <img src="img/front/cloud_PNG5.png" class="hidden-sm hidden-xs">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-push-6" style="padding-top: 150px;">
                            <img src="img/front/banner_tabla.png" class="hidden-sm hidden-xs">
                        </div>
                    </div>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="container parallax">

                    <div class="col-md-6">
                        <h3>Data Discovery</h3>

                        <p>
                            If the Open Data source that you would like to use with Policy Compass has not already been uploaded, use this function to jump immediately into uploading Data Tables and also to define an indicator that represents your chosen data.
                        </p>

                        <p><a href="#!/browse#maintop" class="front-btn fonticon fonticon-search">Browse Existing Data</a></p>
                        <p><a href="#!/datasets/create#maintop" class="front-btn font-icon-datasets">Upload New Data</a></p>
                    </div>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--back"></div>
        </section>


        <section id="group3" name="group3" class="parallax__group">
            <div class="parallax__layer parallax__layer--fore">
                <div class="container">
                    <div class="col-md-8 col-md-offset-4">
                        <img src="img/front/diagram_1.png" style="padding-top: 400px;">
                    </div>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="container parallax">
                    <div class="col-md-4">
                        <h3>Annotate Visualisations with Events</h3>
                        <p>
                            Register Historical Events which can later be used to annotate visualisation graphs to better support arguments.
                        </p>
                        <p>
                            <a href="#!/events/search#maintop" class="front-btn fonticon font-icon-historical_events">Register Historical Events</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="group4" name="group4" class="parallax__group">
            <div class="parallax__layer parallax__layer--fore">
                <div class="container">
                    <!--
                    <div class="col-md-4" style="padding-top: 300px">
                        <img src="img/front/loupe_1.png">
                    </div>
                -->
                <div class="col-md-7 col-md-offset-5" style="padding-top: 300px">
                    <img src="img/front/banner_graficos.png">
                </div>
            </div>
        </div>
        <div class="parallax__layer parallax__layer--back">
            <div class="container parallax">
                <div class="col-md-5">
                    <h3>Visualising Datasets</h3>
                    <p>                       
                        Policy Compass platform grants users and decision makers the ability to visualise datasets by using different graphical forms, such as line graphs, pie, bar or map charts.
                    </p>
                    <p>
                        By giving users the freedom to apply Metrics to Datasets, Policy Compass grants us the power to describe real world situations from data. In addtion to this, users are given the opportunity to select and construct Metrics, giving us the ability to visualise data and include events that may or may not have had a profound effect on the outcome of the results of data.
                    </p>
                    <p>
                        <a href="#!/visualizations/create#maintop" class="front-btn font-icon-visualisation">Create New Visualisation</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="parallax__layer parallax__layer--deep"></div>
    </section>

    <section id="group5" name="group5" class="parallax__group">
        <div class="parallax__layer parallax__layer--fore">
            <div class="container">
                <div class="col-md-3">
                    <img src="img/front/butterfly_1.png" style="padding-top: 200px;" class="hidden-sm hidden-xs">
                </div>
                <div class="col-md-7" style="padding-top: 600px">
                    <img src="img/front/banner_causal-models.png" class="hidden-sm hidden-xs">
                </div>
            </div>
        </div>
        <div class="parallax__layer parallax__layer--base">
            <div class="container parallax">
                <div class="col-md-6 col-md-push-6">
                    <h3>Create Causal Models</h3>
                    <p>                       
                        You can create a causal policy model using the graphical model editor in the Policy Compass Platform, by adding concepts and their relationships to form a directed graph.
                    </p>
                    <p>
                        <a href="#!/models/create#maintop" class="front-btn fonticon font-icon-causal_models">Create Causal Model</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="group6" name="group6" class="parallax__group">
        <div class="parallax__layer parallax__layer--fore">
            <div class="container">
                <div class="col-md-6 col-md-offset-6">
                    <img src="img/front/social-media_1.png" style="padding-top: 400px;" class="hidden-sm hidden-xs">
                </div>
            </div>
        </div>
        <div class="parallax__layer parallax__layer--back">
            <div class="parallax__layer parallax__layer--base">
                <div class="container parallax">
                    <div class="col-md-4">
                        <h3>Discuss your Results</h3>
                        <p>                       
                            Initiate or participate in active discussions and debates around metrics, policy models and visualisations.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>Share your Results</h3>
                        <p>                       
                            Shared Policy Compass content into social networks.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="group7" name="group7" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
            <div class="container parallax">

                <div class="col-md-5">
                    <h3>Dig Deeper!</h3>
                    <p>
                        <a href="#!/metrics/create-1#maintop" class="front-btn fonticon font-icon-metrics">Create Metric</a>
                    </p>
                    <p>
                        <a href="" class="front-btn fonticon font-icon-historical_events">Coming soon: Create Argumentation Graph</a>
                    </p>
                </div>

            </div>
        </div>
    </section>
    <div ng-include="'footer.html'"></div>
</div><!-- /#parallax -->
<div class="scrollbarButtonHome">
    <nav>
        <ul id="paralax-links" du-scroll-container="parallax">
            <li><a href="#group1" du-smooth-scroll du-scrollspy></a></li>
            <li><a href="#group2" du-smooth-scroll du-scrollspy></a></li>
            <li><a href="#group3" du-smooth-scroll du-scrollspy></a></li>
            <li><a href="#group4" du-smooth-scroll du-scrollspy></a></li>
            <li><a href="#group5" du-smooth-scroll du-scrollspy></a></li>
            <li><a href="#group6" du-smooth-scroll du-scrollspy></a></li>
            <li><a href="#group7" du-smooth-scroll du-scrollspy></a></li>
        </ul>
    </nav>
</div>