<div class="container main-content main-content-landing">
	<div class="wrap" ng-controller="ControllerScroller">
		
		<div class="scrollbarButtonHome">
			<nav>
				<ul id="paralax-links" >
					<li><a href="" ng-click="toTheTop()"></a></li>
					<!--
					<li><a href="" ng-click="toSection('paralax-00')" du-smooth-scroll du-scrollspy></a></li>
					-->
		  			<li><a href="" ng-click="toSection('paralax-01')" du-smooth-scroll du-scrollspy></a></li>
		  			<li><a href="" ng-click="toSection('paralax-02')" du-smooth-scroll du-scrollspy></a></li>
		  			<li><a href="" ng-click="toSection('paralax-03')" du-smooth-scroll du-scrollspy></a></li>
		  			<li><a href="" ng-click="toSection('paralax-04')" du-smooth-scroll du-scrollspy></a></li>
		  			<li><a href="" ng-click="toSection('paralax-05')" du-smooth-scroll du-scrollspy></a></li>
				</ul>
			</nav>
		</div>
		
		<section id="paralax-00">
			<div class="content-header content-header-presentation">
				<div class="home-head">
					<div class="home-head-logo"><img src="img/logo.svg" alt="Policy Compass's Logo" id="home-logo"></div>
					<div class="home-head-title"><h2 class="page-title">Opening Policy Horizons
						<br>
						Open Data Driven analysis and impact evaluation</h2>
					</div>
				</div>
	        	<p class="subtitle">
	          		Policy Compass simplifies the way you utilize, interact, mash-up, visualise and interpret the increasing amount of international Open Data and prosperity indicators from reliable international data sources
	        	</p>
	      	</div>
	      	<div class="row-flex row-view row-view-main">
	        	<div class="view-item view-item-create">
	          		<a href="#!/create">
	            		<h3 class="fonticon fonticon-create title">Create</h3>
	            		<p>Create, visualise, annotate and debate Open Data based performance metrics and policy models</p>
	          		</a>
	        	</div>
	        	<div class="view-item view-item-search">
	          		<a href="#!/browse">
	            		<h3 class="fonticon fonticon-search title">Browse</h3>
	            		<p>Browse content produced by fellow Policy Compass members</p>
	          		</a>
	        	</div>
	        	<div class="view-item view-item-want">
	          		<a href="#!/i-want-to">
	            		<h3 class="fonticon fonticon-want title">I want to</h3>
	            		<p>Let us guide you through the Policy Compass tools</p>
	          		</a>
	        	</div>
	        	<div class="view-item view-item-request">
	          		<a href="#!/request">
	            		<h3 class="fonticon fonticon-request title">Request</h3>
	            		<p>Request non-existent content from expert users and give them ideas.</p>
	          		</a>
	        	</div>
	        	<div class="view-item view-item-how">
	          		<a href="#!/how-it-works">
	            		<h3 class="fonticon fonticon-how title">How it works</h3>
	            		<p>A showcase of the Policy Compass tools.</p>
	          		</a>
	        	</div>
	      	</div>  
		</section>

		<div id="paralax">		
			<section id="paralax-01">
				<div class="paralax paralax-01">
					<div class="container">
		          		<h3>Data Discovery and Processing</h3>
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<img src="img/front/front_char_01.png" alt="" class="comic">
						</div>
						<div class="col-md-4">
							<p>
								You may use the Policy Compass Browser and faceted search to find the appropriate data of what you are interested in.
							</p>
							<p>
								If the data is not already present in Policy Compass, it would need to be found elsewhere and uploaded to Policy Compass first. You may navigate to Create and then go to Upload Datasets in order to import the data tables into the Policy Compass system and define the indicator that this data represents.
							</p>
						</div>

						<div class="col-md-4 par-buttons">
							<p>
								<a href="#!/browse" class="front-btn fonticon fonticon-search">Browse Existing Data</a>
							</p>
							<p>
		                		<a href="#!/datasets/create" class="front-btn font-icon-datasets">Upload New Data</a>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section id="paralax-02">
				<div class="paralax paralax-02">
					<div class="container">
            			<div class="col-md-5">
              				<h3>Annotate Visualisations with Events</h3>
              				<p>
              					Register Historical Events which can later be used to annotate visualisation graphs to better support arguments.
              				</p>
              				<p>
                				<a href="#!/events/search" class="front-btn fonticon font-icon-historical_events">Create New Event</a>
              				</p>
            			</div>
            			<div class="col-md-2">
              				<img src="img/front/front_char_02.png" alt="" class="comic">
              			</div>
              			<div class="col-md-5">
                			<h3>Data Visualisation</h3>
                			<p>                				
                				Applying datasets to metrics describes a real world situation. The selection of metrics and their construction or the specific selection of data (depending on the starting point) already contains implications on the reasons or the processes behind it. However, you need ways to finding events that could have (had) a causal effect on the real world situation represented by the data. First, searching for possible explanations you could concentrate first on incidents, political decisions, developments in society, etc. that are within the subject area of study. Second, you would look for events that occurred around time points where data shows abnormalities. In Policy Compass, the connection between events and data is made by annotating graph time line with selected events.
                			</p>
                			<p>
                  				<a href="#!/visualizations/create" class="front-btn font-icon-visualisation">Create New Visualisation</a>
                			</p>
              			</div>
            		</div>
          		</div>
         	</section>
          	<section id="paralax-03">
				<div class="paralax paralax-03">
					<div class="container">
              			<h3>Create Causal Models</h3>
              			<div class="col-md-2"></div>
              			<div class="col-md-2">
                			<img src="img/front/front_char_03.png" alt="" class="comic">
                		</div>
                		<div class="col-md-4">
                  			<p>
                  				Assuming you have the necessary data at hand that is related to policies of interest (Evaluate Performance of Policies), you can create a causal policy model using the graphical model editor in the Policy Compass Platform, by adding concepts and their relationships to form a directed graph.
                  			</p>
                  			<p>
                  				In a causal policy model concepts have underlying datasets related to policies. The relationships can be determined based on your knowledge as well as the data at hand. Another way to develop a causal model is to copy an existing one and modify it. Policy Compass provides a powerful search tool to browse existing user generated content.
                  			</p>
                		</div>
						<div class="col-md-4 par-buttons">
                  			<p>
                    			<a href="#!/browse" class="front-btn fonticon font-icon-causal_models">Create New Causal Model</a>
                  			</p>
                		</div>
              		</div>
            	</div>
			</section>
			<section id="paralax-04">
				<div class="paralax paralax-04">
	              	<div class="container">
	                	<div class="col-md-5">
							<h3>Discuss your Results</h3>
							<p>
								Initiate or participate in active discussions an debates around metrics, policy models and visualisations.
							</p>
	                	</div>
						<div class="col-md-2">
							<img src="img/front/front_char_04.png" alt="" class="comic">
						</div>
						<div class="col-md-5">
							<h3>Share your Results</h3>
							<p>
								Shared Policy Compass content into social networks. 
							</p>
						</div>
					</div>
				</div>
			</section>
			<section id="paralax-05">
				<div class="paralax paralax-05">
					<div class="container">
						<h3>Dig Deeper!</h3>
                  		<div class="col-md-2"></div>
                  		<div class="col-md-4">
                    		<p>
                      			<a href="#!/metrics/create-1" class="front-btn fonticon font-icon-metrics">Create New Metric</a>
                    		</p>
                  		</div>
                  		<div class="col-md-4 par-buttons">
                    		<p>
                      			<a href="#!/ags/create " class="front-btn fonticon font-icon-historical_events">Create New Argumentation Graph</a>
                    		</p>
                  		</div>
                	</div>
				</div>
			</section>
		</div> <!-- div paralax  -->
	</div>
</div>