<update-meta property="og:description" content="Support"></update-meta>
<div class="container main-content">
	<br>
	<h3>Support</h3>
	<br>
	<p>
		The Policy Compass platform is open source and offered for free. Check out our GitHub repository at
		<a href="https://github.com/policycompass" target="_blank">https://github.com/policycompass</a>.
		<br>
	</p>
	<p>
		However, we can offer you our consulting or customization services for your own purposes.
		<br>
	</p>
	<p>
		Please, <a href="https://project.policycompass.eu/contact/" target="_blank">contact us</a> and let us know what you need, we are the ones that best know our platform!
		<br>
	</p>
	<p>
		<br>
	</p>
</div>