<div class="container">
  <div class="content-header">
    <h3 class="fonticon fonticon-formula">Operationalize Metric</h3>
    <div class="subtitle-help">
      <h4>
        <div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>
        Step 1 - Choose Datasets for Indicators</h4>
        <div ng-class="{active: help}" class="help-text">
      </div>
    </div>
    <ul class="navigation-steps">
      <li><a href="" class="btn btn-prev disabled">Previous Step</a></li>
      <li><a href="" class="btn btn-next" ng-click="submit();" ng-class="{'disabled' : !datasetForm.$valid || servererror.formula }">Next Step</a></li>
    </ul>

  </div>
  <div class="row">
  	<div class="col-md-12">
      <label>Formula</label>
  		<formula ng-if="apply_metric_helper.metric.formula && apply_metric_helper.metric.variables" data-formula="apply_metric_helper.metric.formula" data-variables="apply_metric_helper.metric.variables"></formula>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form name="datasetForm" novalidate>
    </div>
  </div>

    <div class="row" style="margin-top: 40px;">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Indicator</th>
              <th>Dataset</th>
            <tr>
          </thead>
          <tbody>
              <tr id="row{{indicator.variable}}" ng-mouseenter="highlightIndicator(indicator.variable);" ng-mouseleave="unhighlightIndicator(indicator.variable);" indicator-to-dataset data-datarow="indicator" ng-repeat="indicator in apply_metric_helper.data.datasets"></tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>