<div class="container">
    <div class="content-header">
        <h3 class="fonticon fonticon-formula">Operationalize Metric</h3>

        <div class="subtitle-help">
            <h4>
                <div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>
                Step 1 - Choose Datasets for Indicators
            </h4>
            <div ng-class="{active: help}" class="help-text">
                <div class="fonticon fonticon-close" ng-click="help=!help"></div>
                <p>You can apply a metric using this wizard. The result will be a dataset.</p>

                <p>
                    To apply a metric you need to:</br>
                <b>In step 1:</b>
                <ul>
                    <li>Choose a dataset for each indicator in your metric</li>
                    <li>Posible Datasets are shown in the table underneath the formula </li>
                </ul>
                In step 2:
                <ul>
                    <li>Add some metadata to your new dataset</li>
                    <li>save metric</li>
                </ul>
                </p>
            </div>
        </div>
        <ul class="navigation-steps">
            <li><a href="" class="btn btn-prev disabled">Previous Step</a></li>
            <li><a href="" class="btn btn-next" ng-click="submit();" ng-class="{'disabled' : error }">Next Step</a></li>
        </ul>

    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Formula</label>
            <formula ng-if="applyHelper.metric.formula && applyHelper.metric.variables" data-formula="applyHelper.metric.formula" data-variables="applyHelper.metric.variables"></formula>
        </div>
    </div>

    <div class="row formula-row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Indicator</th>
                        <th>Dataset</th>
                    <tr>
                </thead>
                <tbody>
                    <tr id="row{{indicator.variable}}" ng-mouseenter="highlightIndicator(indicator.variable, $event);" ng-mouseleave="unhighlightIndicator(indicator.variable, $event);" indicator-to-dataset data-datarow="indicator" ng-repeat="indicator in applyHelper.data.datasets"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
