<div class="container container-create-formula" id="container-create-formula">
  <div class="content-header">
    <h3 class="fonticon fonticon-formula">Metric Builder</h3>
    <div class="subtitle-help">
      <h4>
        <div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>
        Step 1 - Create Formula</h4>
        <div ng-class="{active: help}" class="help-text">
      </div>
    </div>
    <ul class="navigation-steps">
      <li><a href="#!/create-formula" class="btn btn-prev">Previous Step</a></li>
      <li><a href="" class="btn btn-next" ng-click="submit();" ng-class="{'disabled' : !formulaForm.$valid || servererror.formula }">Next Step</a></li>
    </ul>
    <div class="pc-visualization-formcontrols">
      <div class="button-group">
        <a class="btn btn-keyboard">Extended Keyboard</a>
        <a  class="btn btn-function">Functions (e.g. normalisation)</a>
      </div>
    </div>
  </div>

  <div class="content-body">
    <!--<div class="calculation-formula">-->
    <formula data-formula="metrics_controller_helper.metricsdata.formula" data-variables="metrics_controller_helper.metricsdata.variables"></formula>
    <!-- </div> -->
  </div>

  <div class="dataset-filters-bottom">

    <div class="row">
      <div class="col-md-8">
        <form name="formulaForm" class="simple-form" novalidate>
          <div class="form-group" ng-class="{ 'has-error': (formulaForm.formula.$invalid && !formulaForm.formula.$pristine) || servererror.formula }">
            <label for="exampleInputEmail1">Formula</label>
            <input ng-model="metrics_controller_helper.metricsdata.formula" name="formula" class="form-control" ng-keyup="getCursorPosition($event)" ng-click="getCursorPosition($event)" ng-change="clearErrors();" required>
            <p ng-show="formulaForm.formula.$error.required && !formulaForm.formula.$pristine" class="help-block">This field is required</p>
            <p ng-show="servererror.formula" class="help-block">{{ servererror.formula }}</p>
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <ul class="list-group">
          <li ng-repeat="indicator in metrics_controller_helper.indicators" class="list-group-item">
            {{ indicator.name }} <a href="" ng-click="addIndicator(indicator)">add</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
