<div class="container container-create-formula" id="container-create-formula">

    <div class="content-header">
        <h3 class="fonticon fonticon-formula">Dataset Calculator</h3>

        <div class="subtitle-help">
            <h4>
                <div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>
                Step 2 - Enter Metadata for your Metric
            </h4>
            <div ng-class="{active: help}" class="help-text">
                <div class="fonticon fonticon-close" ng-click="help=!help"></div>
                <p>You can create a metric using this wizard.</p>

                <p>
                    To create a formular you need to:</br>
                In step 1:
                <ul>
                    <li>Type in the formula in the textfield using the indicators from the table on the right habd side</li>
                    <li>You can normalize your data by choosing a function from the normalisation functions. In the simplest cases normalisation functions are used to adjust values measured on different scales to a notionally common scale, often prior to averaging.</li>
                       <li>By pressing continuing with create metric you will create a reusable metric that can be compute with different datasets.
                    </li>
             </ul>
                <b>In step 2:</b>
                <ul>
                    <li>Add some metadata to your metric</li>
                    <li>save metric</li>
                </ul>
                </p>
            </div>
        </div>

        <ul class="navigation-steps">
            <li><a href="" class="btn btn-prev" ng-click="prevStep();">Previous Step</a></li>
            <li>
                <a href="#" class="btn btn-next disabled">Next Step</a>
            </li>
        </ul>
        <div class="pc-visualization-formcontrols">
            <div class="button-group">
                <div style="float:left">
                    <toggle-switch html="true" ng-model="is_draft" on-label="Draft" off-label="Public" class="switch-danger" ></toggle-switch>
                    &nbsp;
                </div>
                <a href class="btn btn-default btn-save" ng-if="!user.state.loggedIn" ng-class="{'disabled' : !metadataForm.$valid }" ng-click="goToLogin()">Login to Save</a>
                <a href class="btn btn-save" ng-if="user.state.loggedIn" ng-class="{'disabled' : !metadataForm.$valid }" ng-click="submitData(false);">Save</a>
                <a href class="btn btn-default btn-danger btn-clear" ng-click="abort()">Cancel</a>
                <a href class="btn btn-dataset" ng-class="{'disabled' : !metadataForm.$valid }" ng-click="submitData(true);">Save and Apply to Data sets</a>
            </div>
        </div>
    </div>

    <div class="content-body">
        <label>Formula from Step 1</label>
        <formula ng-if="metricsHelper.metricsdata.formula && metricsHelper.metricsdata.variables" data-formula="metricsHelper.metricsdata.formula" data-variables="metricsHelper.metricsdata.variables"></formula>
    </div>

    <div class="metadata metadata-formula">
        <form name="metadataForm" class="simple-form" novalidate>

            <div class="form-group" ng-class="{ 'has-error': (metadataForm.title.$invalid && !metadataForm.title.$pristine) || servererror.title }">
                <label for="title" class="field-label">Title</label>

                <div class="field-content">
                    <input ng-model="metricsHelper.metricsdata.title" type="text" name="title" class="form-control" required>

                    <p ng-show="metadataForm.title.$error.required && !metadataForm.title.$pristine" class="help-block">This field is required</p>

                    <p ng-show="servererror.title" class="help-block">{{ servererror.title[0] }}</p>

                    <p ng-hide="servererror.title || (metadataForm.title.$error.required && !metadataForm.title.$pristine)" class="help-block">Please add a title for your metric</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': (metadataForm.indicator_id.$invalid && !metadataForm.indicator_id.$pristine) || servererror.indicator_id }">
                <label for="indicator_id" class="field-label">Indicator</label>

                <div class="field-content">
                    <select name="indicator_id" class="form-control" ng-options="i.id as i.name for i in metricsHelper.indicators" ng-model="metricsHelper.metricsdata.indicator_id" required>
                        <option value="" selected>Choose Indicator</option>
                    </select>

                    <p ng-show="metadataForm.indicator_id.$error.required && !metadataForm.indicator_id.$pristine" class="help-block">This field is required</p>

                    <p ng-show="servererror.indicator_id" class="help-block">{{ servererror.indicator_id[0] }}</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': (metadataForm.description.$invalid && !metadataForm.description.$pristine) || servererror.description }">
                <label for="Description" class="field-label">Description</label>

                <div class="field-content">
                    <textarea ng-model="metricsHelper.metricsdata.description" name="description" class="form-control" rows="10"></textarea>

                    <p ng-show="servererror.description" class="help-block">{{ servererror.description[0] }}</p>

                    <p ng-hide="servererror.description" class="help-block">Please add a description for your metric (optional)</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': servererror.keywords }">
                <label for="Keywords" class="field-label">Keywords</label>

                <div class="field-content">
                    <input ng-model="metricsHelper.metricsdata.keywords" type="text" name="keywords" class="form-control">

                    <p ng-show="servererror.keywords" class="help-block">{{ servererror.keywords[0] }}</p>

                    <p ng-hide="servererror.keywords" class="help-block">Add Keywords as a comma seperated list (optional)</p>
                </div>
            </div>

        </form>
    </div>

</div>
