<div class="container container-create-formula" id="container-create-formula">
    <div class="content-header">
        <h3 class="fonticon fonticon-formula">Metric Builder</h3>

        <div class="subtitle-help">
            <h4>
                <div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>
                Step 1 - Create Formula
            </h4>
            <div ng-class="{active: help}" class="help-text"></div>
        </div>
        <ul class="navigation-steps">
            <li><a href="#!/create-formula" class="btn btn-prev">Previous Step</a></li>
            <li>
                <a href="" class="btn btn-next" ng-click="submitFormula();" ng-class="{'disabled' : !formulaForm.$valid || servererror.formula }">Next Step</a>
            </li>
        </ul>
        <div class="pc-visualization-formcontrols">
            <a class="btn btn-function" ng-click="toggleFunctions();">show available normalisation Functions</a>
        </div>
    </div>

    <div class="content-body">
        <div class="row" ng-if="showFunctions">
            <div class="col-md-12">
                <functions-table></functions-table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>Formula Preview</label>
                <formula data-formula="metrics_controller_helper.metricsdata.formula" data-variables="metrics_controller_helper.metricsdata.variables"></formula>
            </div>
        </div>

    </div>

    <div class="dataset-filters-bottom">

        <div class="row">
            <div class="col-md-8">
                <label>Formula</label>

                <form name="formulaForm" class="simple-form" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': (formulaForm.formula.$invalid && !formulaForm.formula.$pristine) || servererror.formula }">
                        <input ng-model="metrics_controller_helper.metricsdata.formula" name="formula" class="form-control" ng-keyup="getCursorPosition($event)" ng-click="getCursorPosition($event)" ng-change="clearErrors();" required>

                        <p ng-show="formulaForm.formula.$error.required && !formulaForm.formula.$pristine" class="help-block">This field is required</p>

                        <p ng-show="servererror.formula" class="help-block">{{ servererror.formula }}</p>

                        <p ng-hide="servererror.formula || (formulaForm.formula.$error.required && !formulaForm.formula.$pristine)" class="help-block">Type in formula here. Add indicators from the list on the right. To use one of the predefined formulas, use the acronym.</p>
                    </div>
                </form>
            </div>


            <div class="col-md-4">
                <label>Add indicator to formula</label>

                <div class="panel panel-default">
                    <div class="panel-heading formula-grey-panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group formula-input-group-padding">
                                    <label>Search</label>
                                    <input type="text" class="form-control" placeholder="Search for indicator ..." ng-model="searchText">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group formula-input-group-padding">
                                    <label>Sort by</label>
                                    <select class="btn btn-show dropdown-toggle" ng-model="selectedSortItem" ng-init="selectedSortItem = selectedSortItem || sortOptions[0]" ng-options="sortOptionItem.name for sortOptionItem in sortOptions">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group formula-list-group">
                        <li ng-repeat="indicator in metrics_controller_helper.indicators | filter:searchText | orderBy:selectedSortItem.sort" class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    {{ indicator.name }}</br>
                                </div>
                                <div class="col-md-2">
                                    <a href="" ng-click="addIndicator(indicator)"><span class="label label-primary formula-span">add</span></a>
                                </div>
                            </div>
                        </li>
                    </ul>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
