<update-meta property="og:description" content="Dataset Calculator"></update-meta>

<div class="container container-create-formula" id="container-create-formula">
    <div class="content-header">
        <h3 class="fonticon fonticon-formula">Create metric</h3>

        <div class="subtitle-help">
            <h4>
                <div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>
                Step 1 - Create Formula
            </h4>
            <div ng-class="{active: help}" class="help-text">
                <div class="fonticon fonticon-close" ng-click="help=!help"></div>
                <p>You can create a metric using this wizard or use it to directly compute a new dataset.</p>

                <p>
                    To create a formular you need to:</br>
                <b>In step 1:</b>
                <ul>
                    <li>Type in the formula in the textfield using the datasets/indicators from the table on the right habd side</li>
                    <li>You can normalize your data by choosing a function from the normalisation functions. In the simplest cases normalisation functions are used to adjust values measured on different scales to a notionally common scale, often prior to averaging.
                    </li>
                    <li>By pressing continuing with create metric you will create a reusable metric that can be compute with different datasets.
                    </li>
                </ul>
                In step 2:
                <ul>
                    <li>Add some metadata to your metric or dataset.</li>
                    <li>save metric</li>
                </ul>
                </p>
            </div>
        </div>
        <ul class="navigation-steps">
            <li><a href="#" class="btn btn-prev disabled">Previous Step</a></li>
            <li>
                <a href="" class="btn btn-next" ng-click="submitFormula('/metrics/calculate-dataset');" ng-disabled="!metricsHelper.metricsdata.formula || (metricsHelper.metricsdata.formula && !metricsHelper.metricsdata.formula.trim()) || servererror.formula">Calculate Dataset</a>
            </li>
            <li>
                <a href="" class="btn btn-next" ng-click="submitFormula('/metrics/create-2');" ng-disabled="!metricsHelper.metricsdata.formula || (metricsHelper.metricsdata.formula && !metricsHelper.metricsdata.formula.trim()) || servererror.formula">Create Metric</a>
            </li>
        </ul>
        <div class="pc-visualization-formcontrols">
            <a class="btn btn-function" ng-click="toggleFunctions();">show available normalisation Functions</a>
        </div>
    </div>

    <div class="content-body">
        <div class="row" ng-if="showFunctions">
            <div class="col-md-12">
                <functions-table></functions-table>
            </div>
        </div>
    </div>

    <div class="dataset-filters-bottom">

        <div class="row">
            <div class="col-md-8">
                <label>Formula</label>
                <div pc-formula-editor data-formula="metricsHelper.metricsdata.formula" data-variables="metricsHelper.metricsdata.variables" style="min-height: 77px;" class="calculation-formula calculation-formula-2"></div>
                <p ng-show="servererror.formula" class="help-block">{{ servererror.formula.join(', ') }}</p>
                <p ng-show="servererror.variables" class="help-block">{{ servererror.variables.join(', ') }}</p>
                <p ng-hide="servererror.formula || servererror.variables" class="help-block">Type in formula here. Add datasets from the list on the right. To use one of the predefined normalizers, use the acronym.</p>
            </div>

            <div class="col-md-4">
                <label>Add dataset/indicator to formula</label>

                <div class="panel panel-default">
                    <div class="panel-heading formula-grey-panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group formula-input-group-padding">
                                    <label>Search</label>
                                    <input type="text" class="form-control" placeholder="Search for dataset ..." ng-model="searchText">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group formula-input-group-padding">
                                    <label>Sort by</label>
                                    <select class="btn btn-show dropdown-toggle" ng-model="selectedSortItem" ng-init="selectedSortItem = selectedSortItem || sortOptions[0]" ng-options="sortOptionItem.name for sortOptionItem in sortOptions">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group formula-list-group">
                        <li ng-repeat="dataset in metricsHelper.datasets | filter:searchText | orderBy:selectedSortItem.sort" class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    {{ dataset.name }}<br/>
                                    <i>{{ dataset.getIndicator().name }}</i>
                                </div>
                                <div class="col-md-2">
                                    <a href="" ng-click="addDataset(dataset)"><span class="label label-primary formula-span">add</span></a>
                                </div>
                            </div>
                        </li>
                    </ul>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
