<h1><span class="glyphicon glyphicon-pencil"></span> Create a New Metric</h1>

<form name="metricForm" role="form" novalidate>
<div class="row">
    <div class="col-md-4">

            <div class="form-group" ng-class="{'has-error': metricForm.title.$dirty && metricForm.title.$invalid}">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Metric Title" ng-model="metric.title" ng-minlength="3" required>
            </div>

            <div class="form-group" ng-class="{'has-error': metricForm.acronym.$dirty && metricForm.acronym.$invalid}">
                <label for="acronym">Acronym</label>
                <input type="text" class="form-control" id="acronym" placeholder="Acronym" ng-model="metric.acronym" required>
            </div>

            <div class="form-group" ng-class="{'has-error': metricForm.policyDomain.$dirty && metricForm.policyDomain.$invalid}">
                <label for="policyDomain">Policy Domain</label>
                <select multiple class="form-control" id="policyDomain" name="policyDomain" ng-model="metric.policyDomain" required>
                    <option>Health</option>
                    <option>Education</option>
                    <option>Justice</option>
                    <option>Transportation</option>
                    <option>Occupation</option>
                </select>
            </div>

            <div class="form-group" ng-class="{'has-error': metricForm.keywords.$dirty && metricForm.keywords.$invalid}">
                <label for="keywords">Keywords</label>
                <input type="text" class="form-control" id="keywords" placeholder="Keywords" ng-model="metric.keywords" required>
            </div>

            <div class="form-group">
                <label for="publisher">Publisher</label>
                <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Publisher" ng-model="metric.publisher">
            </div>

            <div class="form-group" ng-class="{'has-error': metricForm.resourceUrl.$dirty && metricForm.resourceUrl.$invalid}">
                <label for="resourceUrl">Resource Url</label>
                <input type="url" class="form-control" id="resourceUrl" name="resourceUrl" placeholder="http://www.datasource.example" ng-model="metric.resource_url">
            </div>

            <div class="form-group" ng-controller="DateController">
                <label for="retrievalDate">Date of Retrieval</label>
                <p class="input-group">
                    <input type="text"
                           id="retrievalDate"
                           name="retrievalDate"
                           class="form-control"
                           datepicker-popup="{{ format }}"
                           ng-model="metric.resource_issued"
                           is-open="opened"
                           min-date="minDate"
                           max-date="maxDate"
                           datepicker-options="dateOptions"
                           show-button-bar="false"
                           ng-required="false"
                           ng-disabled="true"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>

            <div class="form-group pc-button-spacer">
                <button type="submit" ng-disabled="metricForm.$invalid" class="btn btn-default" ng-click="createMetric()">Save <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>

    </div>
    <div class="col-md-8">
        <div ng-switch="stage">

            <div ng-switch-default>
                <tabset>
                    <tab heading="Data Grid">
                        <pc-datagrid data="datagrid"></pc-datagrid>
                        <br />
                        <div class="form-group" ng-class="{'has-error': metricForm.from.$dirty && metricForm.from.$invalid}">
                            <label for="from">From</label>
                            <select class="form-control" ng-model="columns.from" id="from" required>
                                <option value="0">A</option>
                                <option value="1">B</option>
                                <option value="2">C</option>
                                <option value="3">D</option>
                                <option value="4">E</option>
                            </select>
                        </div>

                        <div class="form-group" ng-class="{'has-error': metricForm.to.$dirty && metricForm.to.$invalid}">
                            <label for="to">To</label>
                            <select class="form-control" ng-model="columns.to" id="to" required>
                                <option value="0">A</option>
                                <option value="1">B</option>
                                <option value="2">C</option>
                                <option value="3">D</option>
                                <option value="4">E</option>
                            </select>
                        </div>

                        <div class="form-group" ng-class="{'has-error': metricForm.tablevalue.$dirty && metricForm.tablevalue.$invalid}">
                            <label for="tablevalue">Value</label>
                            <select class="form-control" ng-model="columns.value" id="tablevalue" required>
                                <option value="0">A</option>
                                <option value="1">B</option>
                                <option value="2">C</option>
                                <option value="3">D</option>
                                <option value="4">E</option>
                            </select>
                        </div>

                    </tab>
                    <tab heading="From File">Static content</tab>
                </tabset>
            </div>

            <div ng-switch-when="second">
                Hallo Welt
            </div>

        </div>

    </div>

</div>

</form>