<div class="container container-create-formula" id="container-create-formula">

  <div class="content-header">
    <h3 class="fonticon fonticon-formula">Metric Builder</h3>
    <div class="subtitle-help">
      <h4>
        <div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>
        Step 2 - Enter Metadata for your Metric</h4>
        <div ng-class="{active: help}" class="help-text">
        </div>
    </div>
    <ul class="navigation-steps">
      <li><a href="#!/metrics/create-1" class="btn btn-prev">Previous Step</a></li>
      <li><a href="" class="btn btn-next" ng-click="submit();" ng-class="{'disabled' : !metadataForm.$valid }">Next Step</a></li>
    </ul>
    <div class="pc-visualization-formcontrols">
      <div class="button-group">
        <a class="btn btn-save">Save</a>
        <a  class="btn btn-dataset">Save and Apply to Data sets</a>
      </div>
    </div>
  </div>

  <div class="content-body">
    <formula ng-if="metrics_controller_helper.metricsdata.formula && metrics_controller_helper.metricsdata.variables" data-formula="metrics_controller_helper.metricsdata.formula" data-variables="metrics_controller_helper.metricsdata.variables"></formula>
  </div>

  <div class="metadata metadata-formula">
    <form name="metadataForm" class="simple-form" novalidate>
      <div class="form-group" ng-class="{ 'has-error': (metadataForm.title.$invalid && !metadataForm.title.$pristine) || servererror.title }">
        <label for="title" class="field-label">Title</label>
        <div class="field-content">
          <input ng-model="metrics_controller_helper.metricsdata.title" type="text" name="title" class="form-control" required placeholder="Formula">
          <p ng-show="metadataForm.title.$error.required && !metadataForm.title.$pristine" class="help-block">This field is required</p>
          <p ng-show="servererror.title" class="help-block">{{ servererror.title[0] }}</p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': (metadataForm.indicator.$invalid && !metadataForm.indicator.$pristine) || servererror.indicator }">
        <label for="indicator" class="field-label">Indicator</label>
        <div class="field-content">
          <select
            name="indicator"
            class="form-control"
            ng-options="i.id as i.name for i in metrics_controller_helper.indicators"
            ng-model="metrics_controller_helper.metricsdata.indicator" >
          </select>
          <p ng-show="metadataForm.indicator.$error.required && !metadataForm.indicator.$pristine" class="help-block">This field is required</p>
          <p ng-show="servererror.indicator" class="help-block">{{ servererror.indicator[0] }}</p>
        </div>
      </div>
    </form>
  </div>

</div>