<div class="container containerWithSecondBar">

    <browse-submenu></browse-submenu>

<h1><span class="glyphicon glyphicon-list-alt"></span> {{ metric.acronym }}</h1>
<br />


<div class="row" ng-if="gridvisible">
    <div class="col-lg-12">
        <legend class="legend-primary">Metric Content</legend>
        <div class="pc-datagrid" data="grid.data" read-only="true" instance="grid.instance" ng-if="gridvisible"></div>
        <br />
    </div>
</div>
<div class="row" ng-if="gridvisible">
    <div class="col-lg-12">
        <legend class="legend-primary">Legend</legend>
        <table class="table table-hover">
            <tr>
                <td><b>A:</b></td>
                <td>From</td>
            </tr>
            <tr>
                <td><b>B:</b></td>
                <td>To</td>
            </tr>
            <tr>
                <td><b>C:</b></td>
                <td>Value in {{ metric.unit.title }}</td>
            </tr>
            <tr ng-repeat="e in extralegend">
                <td><b>{{ e.column }}:</b></td>
                <td>{{ e.value }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row" ng-if="!gridvisible">
    <div class="col-lg-12">
    <table class="table table-hover">
        <tr ng-show="metric.title">
            <td><b>Title:</b></td>
            <td>{{ metric.title }}</td>
        </tr>
        <tr ng-show="metric.description">
            <td><b>Description:</b></td>
            <td>{{ metric.description }}</td>
        </tr>
     </table>
    </div>
</div>
<div class="row" ng-if="!gridvisible">

        <div class="col-lg-6">
            <legend class="legend-primary">Details</legend>
        <table class="table table-hover">

        <tr ng-show="metric.keywords">
            <td><b>Keywords:</b></td>
            <td>{{ metric.keywords }}</td>
        </tr>
        <tr ng-show="metric.policy_domains">
            <td><b>Policy Domains:</b></td>
            <td><span ng-repeat="p in metric.policy_domains">{{ p.title }} </span></td>
        </tr>

        <tr ng-show="metric.unit">
            <td><b>Unit:</b></td>
            <td>{{ metric.unit.title }}</td>
        </tr>
        <tr ng-show="metric.spatial">
            <td><b>Spatial:</b></td>
            <td>{{ metric.spatial}}</td>
        </tr>

        <tr ng-show="metric.language">
            <td><b>Language:</b></td>
            <td>{{ metric.language.title }}</td>
        </tr>

        <tr ng-show="metric.issued">
            <td><b>Issued:</b></td>
            <td>{{ metric.issued | date:'longDate' }}</td>
        </tr>

        <tr ng-show="metric.modified">
            <td><b>Last Modified:</b></td>
            <td>{{ metric.modified | date:'longDate' }}</td>
        </tr>

        <tr ng-show="metric.version">
            <td><b>Version:</b></td>
            <td>{{ metric.version }}</td>
        </tr>



        </table>
    </div>

    <div class="col-lg-6">
        <legend class="legend-primary">Resource </legend>
        <table class="table table-hover">

            <tr ng-show="metric.publisher">
                <td><b>Publisher:</b></td>
                <td>{{ metric.publisher }}</td>
            </tr>
            <tr ng-show="metric.resource_url">
                <td><b>Details URL:</b></td>
                <td><a href="{{ metric.resource_url }}" target="_blank">{{ metric.resource_url }}</a></td>
            </tr>

            <tr ng-show="metric.resource_issued">
                <td><b>Resource Issued:</b></td>
                <td>{{ metric.resource_issued | date:'longDate' }}</td>
            </tr>

            <tr ng-show="metric.external_resource">
                <td><b>External Resource:</b></td>
                <td><a href="{{ metric.external_resource.url }}" target="_blank">{{ metric.external_resource.title }}</a></td>
            </tr>

            <tr ng-show="metric.license">
                <td><b>License:</b></td>
                <td>{{ metric.license }}</td>
            </tr>
        </table>
    </div>

</div>



<div class="row">
    <div class="col-lg-12">
        <legend class="legend-primary">Options</legend>
        <button type="button" ng-disabled="!gridloaded" class="btn btn-primary" ng-click="showData()">
            <span ng-show="!gridvisible">Show Content</span>
            <span ng-show="gridvisible">Show Data</span>
        </button>
        <a type="button" class="btn btn-primary" href="#/metrics/{{ metric.id }}/edit">Edit</a>
        <button type="button" class="btn btn-danger" ng-click="deleteMetric(metric)">Delete</button>
    </div>
</div>


</div>