<div class="container containerWithSecondBar">

    <browse-submenu></browse-submenu>

<h1><span class="glyphicon glyphicon-list-alt"></span> {{ metric.title }}</h1>
<br />
<div class="panel panel-default">
  <div class="panel-body">
      <div class="pc-datagrid" data="datagrid" read-only="true" instance="handson" ng-if="gridvisible"></div>
      <br />
      <table class="table table-hover">
          <tr ng-show="metric.issued">
              <td><b>Issued:</b></td>
              <td>{{ metric.issued | date:'longDate' }}</td>
          </tr>
          <tr ng-show="metric.description">
              <td><b>Description:</b></td>
              <td>{{ metric.description }}</td>
          </tr>
          <tr ng-show="metric.acronym">
              <td><b>Acronym:</b></td>
              <td>{{ metric.acronym }}</td>
          </tr>
          <tr ng-show="metric.keywords">
              <td><b>Keywords:</b></td>
              <td>{{ metric.keywords }}</td>
          </tr>
          <tr ng-show="metric.unit">
              <td><b>Unit:</b></td>
              <td>{{ metric.unit.title }}</td>
          </tr>
          <tr ng-show="metric.spatial">
              <td><b>Spatial:</b></td>
              <td>{{ metric.spatial}}</td>
          </tr>
          <tr ng-show="metric.publisher">
              <td><b>Publisher:</b></td>
              <td>{{ metric.publisher }}</td>
          </tr>
          <tr ng-show="metric.resource_url">
              <td><b>Details URL:</b></td>
              <td><a href="{{ metric.resource_url }}" target="_blank">{{ metric.resource_url }}</a></td>
          </tr>
          <tr ng-show="metric.license">
              <td><b>License:</b></td>
              <td>{{ metric.license }}</td>
          </tr>
          <tr ng-show="metric.language">
              <td><b>Language:</b></td>
              <td>{{ metric.language.title }}</td>
          </tr>
      </table>
      <div>
          <button type="button" class="btn btn-danger" ng-click="deleteMetric(metric)">Delete</button>
          <a type="button" class="btn btn-primary" href="#/metrics/{{ metric.id }}/edit">Edit</a>
      </div>
  </div>
</div>
</div>
</div>