<update-meta property="og:title" content="{{ data.title }}"></update-meta>
<update-meta property="og:description" content="{{ data.description }}"></update-meta>

<div class="container">
    <div class="content-header">
        <h1 class="fonticon fonticon-metric">{{ data.title }}</h1>

        <div class="pc-visualization-formcontrols">
          <div class="button-group">
                <a type="button" class="btn btn-primary btn-create" href="#!/metrics/{{ data.id }}/edit">Edit</a>
                <a type="button" class="btn" href="#!/metrics/{{data.id}}/apply-1">Apply</a>
                <a type="button" ng-if="user.isAdmin || user.isCreator(data)" class="btn btn-danger" ng-click="deleteMetric(data)">Delete</a>
            </div>

            <a href="#" ng-if="data.is_draft" ng-disabled="data.is_draft" class="btn btn-default btn-danger">Draft</a>


            <a type="button" class="btn btn-share" ng-click="share=!share" ng-class="{active: share}" ng-if="!1">Share</a>
        </div>
        <div ng-class="{active: share}" class="share-window" id="share-window" ng-init="e=1">
            <ul class="share-menu">
                <div class="fonticon fonticon-close" ng-click="share=!share"></div>
                <li><a href="" ng-click="e=1" ng-class="{active: e==1}">Share</a></li>
                <li><a href="" ng-click="e=2" ng-class="{active: e==2}">Embed</a></li>
            </ul>
            <div ng-class="{active: e==1}" class="share-submenu">
                <div class="row-block">
                    <ul class="social-share">
                        <li><a href="" class="fonticon fonticon-facebook"></a></li>
                        <li><a href="" class="fonticon fonticon-twitter"></a></li>
                        <li><a href="" class="fonticon fonticon-vk"></a></li>
                        <li><a href="" class="fonticon fonticon-linkedin"></a></li>
                        <li><a href="" class="fonticon fonticon-google"></a></li>
                    </ul>
                    <input type="text" value="{{ location.absUrl() }}">
                </div>
            </div>
            <div ng-class="{active: e==2}" class="share-submenu">
                <div class="row-block">
                    <input type="text" value='iframe width="100%" height="300" scrolling="no" frameborder="no" src="http://localhost:9000/app/#/metrics/{{ data.id }}"'>
                </div>
            </div>
        </div>
    </div>


    <div class="content-body">
        <div class="row">
            <formula ng-if="data.formula && data.variables" data-formula="data.formula" data-variables="data.variables"></formula>
        </div>
    </div>

    <div class="content-body">
        <div class="row">
            <div class="metadata metadata-event metadata-event-description">
                <div class="form-group form-group-description" ngshow="event.description">
                    <div class="field-label">Description</div>
                    <div class="field-content">{{data.description}}</div>
                </div>
            </div>
        </div>

        <div class="row">

            <legend class="legend-primary">Details</legend>

            <div class="metadata metadata-event">
                <div class="form-group form-group-keywords" ng-if="data.keywords">
                    <div class="field-label">Keywords</div>
                    <div class="field-content">{{data.keywords}}</div>
                </div>

                <div class="form-group form-group-modified">
                    <div class="form-item" ng-if="data.date_created">
                        <div class="field-label">Added</div>
                        <div class="field-content">{{ data.date_created | date:'longDate' }}</div>
                    </div>
                    <div class="form-item" ng-if="data.date_modified">
                        <div class="field-label">Modified</div>
                        <div class="field-content">{{ data.date_modified | date:'longDate' }}</div>
                    </div>
                </div>
            </div>

            <div class="metadata metadata-event">

                <div class="form-group form-group-datasets">
                    <div class="form-item">
                        <div class="field-label">Datasets</div>
                        <div class="field-content"></div>
                    </div>
                    <div class="form-item" ng-if="indicator">
                        <div class="field-label">Indicator</div>
                        <div class="field-content"><a href="#!/indicators/{{indicator.id}}">{{ indicator.name }}</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-item" ng-if="data.creator_path">
                        <div class="field-label">Added by</div>
                        <div class="field-content">
                            <username userpath="{{data.creator_path}}"></username>
                        </div>
                    </div>
                </div>

            </div>

            <div class="metadata metadata-event">
                <div class="form-group form-group-rating">
                    <div class="form-item">
                        <div class="field-label">Rating</div>
                        <div class="field-content">
                            <pc-rating ng-if="data.id" rating-id="metric_{{data.id}}"></pc-rating>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
