<div ng-class="{active: help}" class="help-text">
    <div class="fonticon fonticon-close" ng-click="help=!help"></div>
    <p>
        To create or edit a FCM user need to follow the process:
    <ul>
        <li>Add concept: The relevant concept of causal model will be added from add concept dialog.</li>
        <li>Create Relationship: To create relationship between two concepts, user need to select source concept and the destination concept. The strength of relationships can be presented as weights. For example, if source concept has strong negative impact on Sink concept, please select "Very Strong Positive".</li>
        <li>Create Relationship: To create relationship between two concepts, user need to select source concept and the destination concept. The strength of relationships can be presented as weights. For example, if source concept has strong negative impact on Sink concept, please select "Very Strong Positive".</li>
        <li>Save Model: After the creation of a casual model, user can save the model for simulation.</li>
    </ul>
    </p>
    <p>
        NOTE: Every created or edited causal model need to be saved before the run simulation.
    </p>
</div>
<div ng-class="{active: help2}" class="help-text">
    <div class="fonticon fonticon-close" ng-click="help2=!help2"></div>
    <p>
        If user does not know the initial value and want to create the initial values of relevant concepts from the relevant metric given in policy compass, then link to relevant datasets (click Link dataset) and calculate the fuzzy value and weight (click fuzzy value and weight).
    </p>
</div>
<div ng-class="{active: help1}" class="help-text" style="text-align: left;">
    <div class="fonticon fonticon-close" ng-click="help1=!help1"></div>
    <p>
        Please select one of fuzzy value for each concept.
    </p>
</div>
<div ng-class="{active: help4}" class="help-text" style="text-align: left;">
    <div class="fonticon fonticon-close" ng-click="help4=!help4"></div>
    <p>
        If you don’t have any idea on the weight, we can provide the automatic calculation using historical data for each concept based on the algorithm. To use this functionality, you need to add dataset for all concepts in you causal model.
    </p>
</div>
<div ng-class="{active: help3}" class="help-text" style="text-align: left;">
    <div class="fonticon fonticon-close" ng-click="help3=!help3"></div>
    <p>
        Please select one of weight value for each concept. If source concept have positive/negative impact on destination concept, the sign of weight will be +/-.
    </p>
</div>

<div class="container">
    <div class="content-header">
        <h3 ng-if="mode == 'create'"><span class="glyphicon glyphicon-pencil"></span>Create a New Causal Model</h3>
        <h3 ng-if="mode == 'edit'"><span class="glyphicon glyphicon-pencil"></span>Edit Causal Model</h3>

        <div class="subtitle-help">
            <h4>
                <div class="fonticon fonticon-help help-switch" ng-click="openHelpModel($event,'help')"></div>
                Causal Model
            </h4>

        </div>

    </div>
    <div ng-hide="ListMetricsFilter.length>0">
        <div class="form-instructions">
            <p>In this form you can create your own causal model. By adding concepts and their relationships.</p>
            <p>
                you can build causal model. If you need help, please click the<span class="fonticon fonticon-help help-switch" ng-click="openHelpModel($event,'help')"></span>button.
            </p>
        </div>
        <br />
    </div>
    <div class="pc-visualization-formcontrols">
        <div class="button-group">
            <!--				<div class="fonticon fonticon-help help-switch" ng-click="showHelp(1)"></div>   -->
            <button type="submit" class="btn btn-primary btn-concept" ng-click="addObj()">Add Concept</button>
            <button type="submit" ng-if="isDisabled == true" class="btn btn-primary btn-association" ng-click="addEdge()" disabled>Create Relationship</button>
            <button type="submit" ng-if="isDisabled == false" class="btn btn-primary btn-association" ng-click="addEdge()">Create Relationship</button>
            <button type="submit" ng-if="mode == 'create' && isDisabled == true && user.state.loggedIn" class="btn btn-primary btn-save" ng-click="saveModel()" disabled>Save Model</button>
            <a href="#!/login" ng-if="mode == 'create' && !user.state.loggedIn" class="btn btn-default btn-save ng-scope" target="_blank">Login to Save</a>
            <button type="submit" ng-if="mode == 'edit' && isDisabled == true" class="btn btn-primary btn-save" ng-click="updateModel()" disabled>Save Model</button>
            <button type="submit" ng-if="mode == 'create' && isDisabled == false && user.state.loggedIn" class="btn btn-primary btn-save" ng-click="saveModel()" ng-disabled="modeldetail.model.title.length==0 || modeldetail.model.description.length==0 || modeldetail.domains.length==0">Save Model</button>
            <button type="submit" ng-if="mode == 'edit' && isDisabled == false" class="btn btn-primary btn-save" ng-click="updateModel()">Save Model</button>
            <button type="submit" ng-if="mode == 'create'" class="btn btn-primary btn-save" ng-click="saveModel()" disabled><span ng-hide="user.state.loggedIn">Login to </span>Save As Model</button>
            <button type="submit" ng-if="mode == 'edit'" class="btn btn-primary btn-save" ng-click="saveModel()">Save As Model</button>
            <button type="submit" data-intro="Cancel" data-position="top" class="btn btn-default btn-danger" ng-click="cancelModel(modeldetail.model.id)">Cancel</button>
        </div>
    </div>
    <div class="row">
        <span id="tooltipTarget" tooltip-html-unsafe="t" tooltip-trigger="customEvent"></span>
        <cytoscape cy-data="mapData" cy-edges="edgeData" cy-click="doDblClick(value)" cy-mouseup="doMouseUp(value,x,y)" cy-mouseover="doMouseOver(value,x,y)" cy-mouseout="doMouseOut(value,x,y)"></cytoscape>
        <!-- /.row  -->
    </div>
    <!-- /.col-lg-12  -->

    <div class="col-lg-12" ng-hide="ListMetricsFilter.length>0">
        <br />
        <div class="form-instructions">
            <p>After saving the casual model, you can run the casua; model simulation.</p>
            <p>Please set the initial concept value and weights. Then click the "Run Simulation" button to get the simulation results.</p>
            <p>
                For more help, please click the<span class="fonticon fonticon-help help-switch" ng-click="openHelpModel($event,'help')"></span>button.
            </p>

        </div>
    </div>

    <div class="col-lg-12">
        <hr>

        <!--          <hr> curl -H "Content-Type: application/json" -i -X POST -d '{{ fcmSimulation }}' localhost:8080/api/v1/fcmmanager/simulation  -->
        <tabset justified="true">
            <tab heading="Model Detail">
                <div class="form-group" ng-class="{'has-error': modeldetail.model.title.$dirty && modeldetail.model.title.$invalid}">
                    <label for="title">Title *</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" ng-model="modeldetail.model.title" required>
                </div>

                <div class="form-group" ng-class="{'has-error': modeldetail.model.description.$dirty && modeldetail.model.description.$invalid}">
                    <label for="metricdescription" class="">Description *</label>
                    <textarea class="form-control" rows="10" id="description" name="description" ng-model="modeldetail.model.description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="keywords">Keywords</label>
                    <input type="text" class="form-control" id="keywords" placeholder="Keywords" ng-model="modeldetail.model.keywords">
                </div>

                <div class="form-group">
                    <label for="policy_domains_data">Policy Domains *</label>
                    <div id="policy_domains_data" class="reference-selection pc-reference-selection-full" resource="PolicyDomain" selection-mode="multiple" output="modeldetail.domains" input="modeldetail.domains"></div>
                </div>
            </tab>

            <tab active="isRunSimulation" heading="Run Simulation">
                <!--To run the simulation of your model, set the value, metric, and weight.-->
                <button type="button" class="btn btn-danger pull-right" ng-click="advanceSettings()">Advanced Settings</button>
                <h4>Concepts :</h4>
                <table class="table table-hover">
                    <tr>
                        <td align="center" width="30%"><b>Title</b></td>
                        <td align="center" width="15%">
                            <div class="subtitle-help">
                                <span class="fonticon fonticon-help help-switch" style="font-size:15px;"  ng-click="openHelpModel($event,'help1')"><b>Value</b></span>
                            </div>
                        </td>
                        <td align="center" width="55%">
                            <div class="subtitle-help">
                                <span class="fonticon fonticon-help help-switch" style="font-size:15px;float:none;"  ng-click="openHelpModel($event,'help2')"><b>Linked Datasets</b></span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="Concepts" ng-repeat="concept in SimulationConcepts track by $index">
                        <td align="center">{{ concept.title }}</td>
                        <td align="center">
                            <select data-ng-style="conceptStyle[$index]" class="form-control" name="fixedoutput" id="value" ng-model="SimulationConcepts[$index].value" required>
                                <option value="0.2">0.2 (Very Low)</option>
                                <option value="0.4">0.4 (Low)</option>
                                <option value="0.6">0.6 (Medium)</option>
                                <option value="0.8">0.8 (High)</option>
                                <option value="1">1.0 (Very High)</option>
                            </select></td>
                        <!--			    <td align="center">
                                        <select class="form-control" name="fixedoutput" id="fixedoutput" ng-model="SimulationConcepts[$index].fixedoutput" required>
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                        </select></td>
                                        <td align="center">
                                        <select class="form-control" name="activator" id="activator" ng-model="user.activator" ng-options="activator.title for activator in Fcmactivators" required>
                                        </select></td>     -->
                        <td align="center">
                            <button data-intro="Helps you to link datasets with this Concept" data-position="top" type="submit" class="btn btn-default btn-adddataset" id="modaladddataset" ng-click="editMetrics($index)">{{ concept.metricTitle }}</button>

                            <!--			    <button  type="submit" class="btn btn-primary button-metrics" id="addmetricsbutton" ng-click="editMetrics($index);findMetricsByFilter();">{{ concept.metricTitle }}</button>  -->
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <h4>Relationships :</h4>
                <table class="table table-hover">
                    <tr>
                        <td align="center" width="10%"><b>Relation ID</b></td>
                        <td align="center" width="33%"><b>Source Concept</b></td>
                        <td align="center" width="33%"><b>Sink Concept</b></td>
                        <td align="center" width="24%">
                            <div class="subtitle-help">
                                <span class="fonticon fonticon-help help-switch" style="font-size:15px;" ng-click="openHelpModel($event,'help3')"><b>Weight</b></span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="Associations" ng-repeat="connection in SimulationAssociations track by $index">
                        <td align="center">{{ $index + 1 }}</td>
                        <td align="center">{{ connection.source.title }}</td>
                        <td align="center">{{ connection.destination.title }}</td>
                        <td align="center">
                            <select data-ng-style="relationShipStyle[$index]" data-ng-change="updateEdge($index)" class="form-control" name="weight" id="weight" ng-model="SimulationAssociations[$index].weighted" required>
                                <option value="1">Very Strong Positive (1.0)</option>
                                <option value="0.75">Strong Positive (0.75)</option>
                                <option value="0.5">Weak Positive (0.5)</option>
                                <option value="0.25">Very Weak Positive (0.25)</option>
                                <option value="-0.25">Very Weak Negative (-0.25)</option>
                                <option value="-0.5">Weak Negative (-0.5)</option>
                                <option value="-0.75">Strong Negative (-0.75)</option>
                                <option value="-1">Very Strong Negative (-1.0)</option>
                            </select>
                        </td>
                        <!--			    <td align="center"><input type="text" class="form-control" name="weight" id="weight" ng-model="SimulationAssociations[$index].weighted" required></td>
                                        <td align="center">
                                        <button  type="submit" class="btn btn-primary button-metrics" id="metricsmanagerbutton" ng-click="metricsManager();findMetricsByFilter();">Add metric, Add metric</button>
                                        </td>   --->
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div class="subtitle-help">
                    <span class="fonticon fonticon-help help-switch" ng-click="openHelpModel($event,'help4')"></span>
                </div>
                <button type="submit" class="btn btn-default" ng-click="weightCalulation();">Weight Calculation using the Historical Data</button>
                <button ng-if="1==2" type="submit" class="btn btn-default" ng-click="runSimulation();">Run Simulation</button>
                <button type="submit" class="btn btn-default" ng-click="impactAnalysis();">Impact Analysis</button>
            </tab>

            <tab heading="Related Models">
                <div class="search-results row-flex">
                    <div ng-repeat="model in relatedModels" class="result-wrapper result-wrapper-fuzzymap">
                        <div class="result-block searchItemIcon fuzzymapIcon" ng-cloak>
                            <div class="search-result">
                                <h5>
                                    <a href="#!/models/{{ model._source.id }}">{{ model._source.title }}</a>
                                </h5>

                                <div class="attributes">

                                    <p>{{ model._source.description | limitTo:200 }}...</p>

                                    <div class="key-field">
                                        <label class="key-field-title">Keywords: </label>
                                        {{ model._source.keywords |date:'d-M-yy'}}
                                    </div>
                                    <div class="key-field">
                                        <label class="key-field-title">Comments: </label>
                                        {{ model._source.commentsCount }}
                                    </div>
                                    <div class="key-field">
                                        <label class="key-field-title">Rating: </label>
                                        <pc-rating rating-id="fuzzymap_{{model._source.id}}" readonly="true"></pc-rating>
                                    </div>
                                </div>
                            </div>
                            <div class="texticon texticon-fuzzymap"></div>
                        </div>
                    </div>
                </div>
            </tab>

            <tab heading="Simulation Results" active="tabsel.results"  ng-if="1==2">
                <h4>Changes of Concept Values</h4>
                <table class="table table-hover">
                    <tr>
                        <td align="center" width="20%"><b># of Iteration</b></td>
                        <td align="center" ng-repeat="n in range(1,totalIteration,1)"><b>{{ n }}</b></td>
                    </tr>
                    <tr ng-show="Concepts" ng-repeat="concept in Concepts">
                        <td>{{ concept.title }}</td>
                        <td align="center" ng-repeat="result in SimulationResults" ng-if="concept.Id == result.conceptID">
                            <b>{{ result.output }}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="center" ng-repeat="n in range(1,15,1)"></td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-default" ng-click="impactAnalysis();">Impact Analysis</button>
            </tab>

            <tab heading="Graph"  ng-if="1==2">
                <div class="pcLinesChart" dataset="dataset" labels="labels" small="list" mode="modeg" hideyaxeunits="hideyaxeunits" chartid="2" show-Legend="showLegend" show-Labels="showLabels" show-Lines="showLines" show-Areas="showAreas" show-Points="showPoints" show-Grid="showGrid" show-Together="showYAxes" show-Percentatge="showAsPercentatge" xaxeformat="xaxeformat"></div>
            </tab>


        </tabset>
    </div>


    <div class="pc-visualization-formcontrols">
        <div class="button-group">
            <button type="submit" class="btn btn-primary btn-concept" ng-click="addObj()">Add Concept</button>
            <button type="submit" ng-if="isDisabled == true" class="btn btn-primary btn-association" ng-click="addEdge()" disabled>Create Relationship</button>
            <button type="submit" ng-if="isDisabled == false" class="btn btn-primary btn-association" ng-click="addEdge()">Create Relationship</button>
            <button type="submit" ng-if="mode == 'create' && isDisabled == true && user.state.loggedIn" class="btn btn-primary btn-save" ng-click="saveModel()" disabled>Save Model</button>
            <a href="#!/login" ng-if="mode == 'create' && !user.state.loggedIn" class="btn btn-default btn-save ng-scope" target="_blank">Login to Save</a>
            <button type="submit" ng-if="mode == 'edit' && isDisabled == true" class="btn btn-primary btn-save" ng-click="updateModel()" disabled>Save Model</button>
            <button type="submit" ng-if="mode == 'create' && isDisabled == false && user.state.loggedIn" class="btn btn-primary btn-save" ng-click="saveModel()" ng-disabled="modeldetail.model.title.length==0 || modeldetail.model.description.length==0 || modeldetail.domains.length==0">Save Model</button>
            <button type="submit" ng-if="mode == 'edit' && isDisabled == false" class="btn btn-primary btn-save" ng-click="updateModel()">Save Model</button>
            <button type="submit" ng-if="mode == 'create'" class="btn btn-primary btn-save" ng-click="saveModel()" disabled><span ng-hide="user.state.loggedIn">Login to </span>Save As Model</button>
            <button type="submit" ng-if="mode == 'edit'" class="btn btn-primary btn-save" ng-click="saveModel()">Save As Model</button>
            <button type="submit" data-intro="Cancel" data-position="top" class="btn btn-default btn-danger" ng-click="cancelModel(modeldetail.model.id)">Cancel</button>
        </div>
    </div>
</div>
