<div class="container">
<legend>
    <h3 ng-if="mode == 'create'"><span class="glyphicon glyphicon-pencil"></span> Create a New FCM Model</h3>
    <h3 ng-if="mode == 'edit'"><span class="glyphicon glyphicon-pencil"></span> Edit FCM Model</h3>
</legend>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
			<cytoscape cy-data="mapData" cy-edges="edgeData" cy-click="doClick(value)" cy-mouseup="doMouseUp(value,x,y)"></cytoscape>
            </div><!-- /.row  -->
        </div><!-- /.col-lg-12  -->
        <div class="col-lg-12">
                <div class="center-block">
                    <div  class="fcm-editor-effect well-primary">
                        <a type="button" class="btn btn-primary" ng-click="addObj()">
                            <span class="glyphicon glyphicon-unchecked fcm-editor-icon"></span>
                            <p>Add Concept</p>
                        </a>
                        <a type="button" class="btn btn-primary" ng-click="addEdge()">
                            <span class="glyphicon glyphicon-random fcm-editor-icon"></span>
                            <p>Create Association</p>
                        </a>
			<a ng-if="mode == 'create'" type="button" class="btn btn-primary" ng-click="saveModel()">
                            <span class="glyphicon glyphicon- fcm-editor-icon"></span>
			    <p>Save Model</p>
			</a>
			<a ng-if="mode == 'edit'" type="button" class="btn btn-primary" ng-click="updateModel()">
                            <span class="glyphicon glyphicon- fcm-editor-icon"></span>
			    <p>Save Model</p>
			</a>
		 	<a type="button" class="btn btn-primary" ng-click="reset()">
                            <span class="glyphicon glyphicon- fcm-editor-icon"></span>
			    <p>Run Simulation</p>
			</a>
                    </div>
                </div><!-- /.col-lg-3 well-primary  -->
        </div><!-- /.col-lg-12  -->
        <div class="col-lg-12">
            <hr>
            <tabset justified="true">
                <tab heading="Model Detail">
		    <table class="table table-hover">
			<tr>
			    <td><b>Title:</b></td>
			    <td>{{ modeldetail.model.title }}</td>
			</tr>
			<tr>
			    <td><b>Description:</b></td>
			    <td>{{ modeldetail.model.description }}</td>
			</tr>
			<tr>
			    <td><b>Keywords:</b></td>
			    <td>{{ modeldetail.model.keywords }}</td>
			</tr>
			<tr>
			    <td><b>Issued:</b></td>
			    <td>{{ modeldetail.model.dateAddedtoPC | date:'longDate' }}</td>
			</tr>
			<tr ng-show="modeldetail.model.dateModified">
			    <td><b>Last Modified:</b></td>
			    <td>{{ modeldetail.model.dateModified | date:'longDate' }}</td>
			</tr>
		     </table>
		</tab>

                <tab heading="Show Concepts">
		    <table class="table table-hover">
			<tr>
			    <td align="center" width="20%"><b>Title</b></td>
			    <td align="center" width="30%"><b>Description</b></td>
			    <td align="center" width="5%"><b>Input</b></td>
			    <td align="center" width="14%"><b>Activator</b></td>
			    <td align="center" width="5%"><b>Fixed Output</b></td>
			    <td align="center" width="13%"><b>Issued</b></td>
			    <td align="center" width="13%"><b>Last Modified</b></td>
			</tr>
			<tr ng-show="Concepts" ng-repeat="concept in Concepts">
			    <td>{{ concept.title }}</td>
			    <td>{{ concept.description }}</td>
			    <td align="center">{{ concept.input }}</td>
			    <td align="center">{{ concept.activator.title }}</td>
			    <td align="center">{{ concept.fixedoutput }}</td>
			    <td align="center">{{ concept.dateAddedtoPC | date:'longDate' }}</td>
			    <td align="center">{{ concept.dateModified | date:'longDate' }}</td>
			</tr>
		     </table>
		</tab>

                <tab heading="Simulation">Simulation</tab>

                <tab heading="Graph">Graph</tab>

                <tab heading="Comments">Comments</tab>
            </tabset>

        </div><!-- /.col-lg-12  -->

    </div><!-- /.row  -->
</div><!-- /.container -->
