<div class="container">
    <div class="content-header">
        <h1><span class="glyphicon glyphicon-list-alt"></span>{{ models.model.title }}</h1>

        <div class="pc-visualization-formcontrols">
            <a type="button" class="btn btn-primary" data-ng-click="updateModel()" href="#!/models/{{ models.model.id }}/edit">Run Simulation</a>

            <div class="button-group">
                <a type="button" class="btn btn-primary  btn-create" href="#!/models/{{ models.model.id }}/edit">Edit</a>
                <a type="button" class="btn btn-danger  btn-clear" ng-click="deleteModel(models.model)" ng-if="user.state.isAdmin==true || models.model.userPath==user.state.userPath">Delete</a>
            </div>
        </div>
    </div>

    <!-- Menu -->
    <div class="row">
        <!-- <div class="col-lg-12"><a type="button" class="btn btn-primary pull-left">Save</a></div>  -->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10">
                    <span id="tooltipTarget" tooltip-html-unsafe="t" tooltip-trigger="customEvent"></span>
                    <cytoscape cy-data="mapData" cy-edges="edgeData" cy-click="doClick(value)" cy-mouseup="doMouseUp(value,x,y)" cy-mouseover="doMouseOver(value,x,y)" cy-mouseout="doMouseOut(value,x,y)"></cytoscape>
                </div>
                <!-- /.col-lg-9  -->
            </div>
            <!-- /.row  -->
        </div>
        <!-- /.col-lg-12  -->

        <div class="col-lg-12">
            <hr>
            <tabset justified="true">
                <tab heading="Model Detail">
                    <div class="metadata metadata-event">
                        <div class="form-group form-group-datasets" ng-if="models.model.title || models.model.description">
                            <div class="form-item" ng-if="models.model.title">
                                <div class="field-label">Title</div>
                                <div class="field-content">{{models.model.title}}</div>
                            </div>
                            <div class="form-item" ng-if="models.model.description">
                                <div class="field-label">Description</div>
                                <div class="field-content">{{models.model.description}}</div>
                            </div>
                        </div>

                        <div class="form-group form-group-modified">
                            <div class="form-item" ng-if="models.model.userPath">
                                <div class="field-label">Added by</div>
                                <div class="field-content">
                                    <username userpath="{{models.model.userPath}}"></username>
                                </div>
                            </div>
                            <div class="form-item" ng-if="models.model.dateAddedtoPC">
                                <div class="field-label">Added</div>
                                <div class="field-content">{{ models.model.dateAddedtoPC | date:'longDate' }}</div>
                            </div>
                            <div class="form-item" ng-if="models.model.dateModified">
                                <div class="field-label">Modified</div>
                                <div class="field-content">{{ models.model.dateModified | date:'longDate' }}</div>
                            </div>
                        </div>

                    </div>
                    <div class="metadata metadata-event">
                        <div class="form-group form-group-keywords" ng-if="models.model.keywords">
                            <div class="field-label">Keywords</div>
                            <div class="field-content">{{models.model.keywords}}</div>
                        </div>
                        <div class="form-group form-group-rating">
                            <div class="form-item">
                                <div class="field-label">Rating</div>
                                <div class="field-content">
                                    <pc-rating ng-if="models.model.id" rating-id="fuzzymap_{{models.model.id}}"></pc-rating>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab heading="Show Concepts">
                    <table class="table table-hover">
                        <tr>
                            <td align="center" width="20%"><b>Title</b></td>
                            <td align="center" width="30%"><b>Description</b></td>
                            <td align="center" width="5%"><b>Input</b></td>
                            <td align="center" width="14%"><b>Activator</b></td>
                            <td align="center" width="5%"><b>Fixed Output</b></td>
                            <td align="center" width="13%"><b>Issued</b></td>
                            <td align="center" width="13%"><b>Last Modified</b></td>
                        </tr>
                        <tr ng-show="Concepts" ng-repeat="concept in Concepts">
                            <td>{{ concept.title }}</td>
                            <td>{{ concept.description }}</td>
                            <td align="center">{{ concept.input }}</td>
                            <td align="center">{{ concept.activator.title }}</td>
                            <td align="center">{{ concept.fixedoutput }}</td>
                            <td align="center">{{ concept.dateAddedtoPC | date:'longDate' }}</td>
                            <td align="center">{{ concept.dateModified | date:'longDate' }}</td>
                        </tr>
                    </table>
                </tab>

                <tab heading="Run Simulation">
                    <button type="button" class="btn btn-danger pull-right" ng-click="advanceSettings()">Advanced Settings</button>
                    <h4>Concepts :</h4>
                    <table class="table table-hover">
                        <tr>
                            <td align="center" width="30%"><b>Title</b></td>
                            <td align="center" width="15%">
                                <div class="subtitle-help">
                                    <span class="fonticon fonticon-help help-switch" style="font-size:15px;"  ng-click="openHelpModel($event,'help1')"><b>Value</b></span>
                                </div>
                            </td>
                            <td align="center" width="55%">
                                <div class="subtitle-help">
                                    <span class="fonticon fonticon-help help-switch" style="font-size:15px;float:none;"  ng-click="openHelpModel($event,'help2')"><b>Linked Datasets</b></span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="Concepts" ng-repeat="concept in SimulationConcepts track by $index">
                            <td align="center">{{ concept.title }}</td>
                            <td align="center">
                                <select data-ng-style="conceptStyle[$index]" class="form-control" name="fixedoutput" id="value" ng-model="SimulationConcepts[$index].value" required>
                                    <option value="0.2">0.2 (Very Low)</option>
                                    <option value="0.4">0.4 (Low)</option>
                                    <option value="0.6">0.6 (Medium)</option>
                                    <option value="0.8">0.8 (High)</option>
                                    <option value="1">1.0 (Very High)</option>
                                </select></td>
                            <td align="center">
                                <button data-intro="Helps you to link datasets with this Concept" data-position="top" type="submit" class="btn btn-default btn-adddataset" id="modaladddataset" ng-click="editMetrics($index)">{{ concept.metricTitle }}</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <h4>Relationships :</h4>
                    <table class="table table-hover">
                        <tr>
                            <td align="center" width="10%"><b>Relation ID</b></td>
                            <td align="center" width="33%"><b>Source Concept</b></td>
                            <td align="center" width="33%"><b>Sink Concept</b></td>
                            <td align="center" width="24%">
                                <div class="subtitle-help">
                                    <span class="fonticon fonticon-help help-switch" style="font-size:15px;" ng-click="openHelpModel($event,'help3')"><b>Weight</b></span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="Associations" ng-repeat="connection in SimulationAssociations track by $index">
                            <td align="center">{{ $index + 1 }}</td>
                            <td align="center">{{ connection.source.title }}</td>
                            <td align="center">{{ connection.destination.title }}</td>
                            <td align="center">
                                <select data-ng-style="relationShipStyle[$index]" data-ng-change="updateEdge($index)" class="form-control" name="weight" id="weight" ng-model="SimulationAssociations[$index].weighted" required>
                                    <option value="1">Very Strong Positive (1.0)</option>
                                    <option value="0.75">Strong Positive (0.75)</option>
                                    <option value="0.5">Weak Positive (0.5)</option>
                                    <option value="0.25">Very Weak Positive (0.25)</option>
                                    <option value="-0.25">Very Weak Negative (-0.25)</option>
                                    <option value="-0.5">Weak Negative (-0.5)</option>
                                    <option value="-0.75">Strong Negative (-0.75)</option>
                                    <option value="-1">Very Strong Negative (-1.0)</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="subtitle-help">
                        <span class="fonticon fonticon-help help-switch" ng-click="openHelpModel($event,'help4')"></span>
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="weightCalulation();">Weight Calculation using the Historical Data</button>
                    <button ng-if="1==2" type="submit" class="btn btn-default" ng-click="runSimulation();">Run Simulation</button>
                    <button type="submit" class="btn btn-default" ng-click="impactAnalysis();">Impact Analysis</button>
                </tab>


            </tabset>

        </div>
        <!-- /.col-lg-12  -->
    </div>
    <!-- /.row  -->
    <div class="row">
        <h3 class="legend-primary">Discussion</h3>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <show-discussion ng-if="models.model.id" data-key="fuzzymap_{{ models.model.id }}"></show-discussion>
        </div>
    </div>
</div>
