<div class="modal-header">
    <h4 class="modal-title">Edit Concept</h4>
</div>
<div class="modal-body">
    <ng-form name="nameDialog" novalidate role="form">
        <div class="form-group" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
            <label class="control-label" for="title">Title *</label>
            <input type="text" class="form-control" name="title" id="title" ng-model="user.title" text="Vale here" required>
            <br/>
            <label class="control-label" for="description">Description</label>
            <textarea class="form-control" rows="5" name="description" id="description" ng-model="user.description"></textarea>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">Save</button>
    <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
</div>
