<div class="modal-header">
    <h1 class="ng-binding"><span class="glyphicon glyphicon-list-alt"></span>Link datasets</h1>
</div>
<div class="modal-body">
    <div id="basic-modal-content-pc">
        <tabset>
            <tab heading="Search Datasets">
                <div class="row createvisualization">
                    <div indexdataset="indexdataset" id="filterDatasets" class="selectorDatasets" datasets-list="user.ListMetricsFilter" number-Max-Datasets="1"></div>
                </div>
            </tab>
            <tab heading="Datasets Configuration">
                <div class="row createvisualization">
                    <div ng-show="ListMetricsFilter.length==0">No dataset linked</div>
                    <div ng-show="metric.title" ng-controller="LoadCombosMetricInFCM" class="designer-metrics active" class="designer-metrics" id="designer-metrics-num-{{metric.id}}" ng-repeat="metric in user.ListMetricsFilter track by $index">
                        <h4>{{metric.title}} -- {{metric.issued | date:"longDate" }}</h4>
                        <input type="hidden" ng-model="MetricSelectediId_[metric.id]" id="MetricSelectediId_{{metric.id}}" name="MetricSelectedId[]" value="">
                        <input type="hidden" ng-model="MetricSelectediIndex_[metric.id]" ng-init="MetricSelectediIndex_[metric.id]=metric.id" id="MetricSelectediIndex_{{metric.id}}" name="MetricSelectediIndex[]" value="{{metric.id}}">

                        <div class="metric-buttons">
                            <a type="button" data-intro="Edit dataset view properties" data-position="top" class="btn btn-primary btn-create" ng-click="displaycontentMetricModal(metric.id);collapsetFilterDataset=!collapsetFilterDataset;" id="modal-edit-metric-button-{{metric.id}}"><span ng-hide="collapsetFilterDataset">Open</span><span ng-show="collapsetFilterDataset">Collapse</span> Edit Mode</a>
                            <a type="button" data-intro="Access to the dataset data" data-position="right" class="btn btn-info btn-adddataset" href="#!/datasets/{{metric.id}}" target="_blank" id="view-metric-button-{{metric.id}}">View Dataset in detaill</a>
                        </div>
                        <div class="metric-forms" style="display: none;">
                            <div class="metric-form-item"><br>
                                <table>
                                    <thead>
                                        <th><label for="color">Individual</label></th>
                                    </thead>
                                    <body>
                                        <tr ng-repeat="option in individualCombo_value">
                                            <td>
                                                <label ng-click="validateCheckboxes();"><input type="checkbox" checklist-model="IndividualDatasetCheckboxes" checklist-value="option.id"> {{option.title}}</label>
                                            </td>
                                        </tr>
                                    </body>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <div class="btn-group dropup" style="margin-right: 10px;" dropdown ng-if="user.ListMetricsFilter.length>0 && user.ListMetricsFilter[0].country.length>0 && user.ListMetricsFilter[0].country[0].data_class=='Country'">
            <a href="" class="btn dropdown-toggle" dropdown-toggle>Select Country
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" dropdown-menu>
                <li ng-repeat="country in user.ListMetricsFilter[0].country">
                    <a ng-click="selectCountry(country.id)" ng-bind="country.title"></a>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary btn-close" ng-click="save()">Save</button>
        <button class="btn btn-primary btn-close" ng-click="cancel()">Close</button>
    </div>
</div>
