<div class="modal-header">
    <div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>
    <div ng-class="{active: help}" class="help-text">
        <p>Impact analysis shows the change of final concept values with regard to the change of initial concept value. One dimensional impact analysis shows the impact of changes in selected concept value on the other concepts’ final value. Two dimensional impact analysis enables users adjust initial value of two concepts simultaneously then user can check the final value of selected target concept accordingly.</p>
    </div>
    <h4 class="modal-title">Impact Analysis</h4></div>
<div class="modal-body">
    <ng-form name="nameDialog" novalidate role="form">
        <div class="form-group" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
            <tabset justified="false">
                <tab heading="Impact of Single Concept">
                    <label class="control-label" for="impactanalysis">Impact of Change in</label><select class="form-control" name="source" id="source" ng-model="user.selectConcept" ng-options="concept.title for concept in Concepts"></select>(initial concept value)<br/>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="single()">Calculate</button>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <td width="20%"><b>Initial Value of {{ user.selectConcept.title }}</b></td>
                            <td align="center" ng-repeat="result in ImpactAnalysisResults" ng-if="result.conceptID == user.selectConcept.Id">
                                <b>{{ result.input }}</b></td>
                        </tr>
                        <tr ng-show="Concepts" ng-repeat="concept in Concepts">
                            <td>{{ concept.title }}</td>
                            <td align="center" ng-repeat="result in ImpactAnalysisResults" ng-if="concept.Id == result.conceptID">{{ result.output }}</td>
                        </tr>
                    </table>
                    * Value of each cell indicate the final value of simulation with given initial value of
                    <b>{{ user.selectConcept.title }}</b>.
                </tab>
                <tab heading="Impact of Two Concepts">
                    <label class="control-label" for="impactanalysis">Impact of Change in</label><select class="form-control" name="source" id="source" ng-model="user.selectConcept1" ng-options="concept.title for concept in Concepts" required></select><label class="control-label" for="impactanalysis">and</label><select class="form-control" name="source" id="source" ng-model="user.selectConcept2" ng-options="concept.title for concept in Concepts" required></select>(initial concept value)<br/><label class="control-label" for="impactanalysis">on</label><select class="form-control" name="source" id="source" ng-model="user.selectConcept3" ng-options="concept.title for concept in Concepts" required></select><br/>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="two()">Calculate</button>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <td width="20%"></td>
                            <td width="10%"></td>
                            <td align="center" colspan=5><b>{{ user.selectConcept1.title }}</b></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="center" ng-repeat="input in selectedConcept1Input"><b>{{ input }}</b></td>
                        </tr>
                        <tr ng-repeat="input in selectedConcept2Input">
                            <td rowspan="5" align="center" valign="middle" ng-if="input == 0.2">
                                <b>{{ user.selectConcept2.title }}</b></td>
                            <td align="center"><b>{{ input }}</b></td>
                            <td align="center" ng-repeat="output in selectedConceptOutput" ng-if="output.concept2Input == input">{{ output.conceptOutput }}</td>
                        </tr>
                    </table>
                    * Value of each cell indicate the final value of
                    <b>{{ user.selectConcept3.title }}</b> with regards to the change of
                    <b>{{ user.selectConcept1.title }}</b> & <b>{{ user.selectConcept2.title }}</b>.
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        </div>
