node_modules/
app/css/
app/fonts/icomoon/
.sass-cache
app/.sass-cache/
bower_components
app/dest
development.json
config.js
.idea/*
!.idea/codeStyleSettings.xml
npm-debug.log

# Vim backup files
*~
# Vim swap files
*.sw[op]

