language: node_js
install:
- npm install
- bower install
script: echo "If we would had test they would be here!"
after_success:
- |
    if [[ $TRAVIS_BRANCH = master && $TRAVIS_PULL_REQUEST = false ]]; then
        openssl aes-256-cbc -K $encrypted_abe0edf19174_key -iv $encrypted_abe0edf19174_iv -in travis_deploy_key.enc -out travis_deploy_key -d
        chmod 700 travis_deploy_key;
        ssh -p 5555 -oStrictHostKeyChecking=no -i travis_deploy_key policycompass@stage.policycompass.eu;
    fi
