@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@font-face {
  font-family: 'iconos';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#iconosRegular") format("svg");
}

/* line 21, ../sass/_base.scss */
.designer-metrics:before,
.button:before,
li:before,
.metric-button:before,
.field-content li:before,
.field-content:before,
.star:before,
.home-action:before,
.parent:before,
a:before {
  padding: 0 0.3em;
  font-family: iconos;
}

/*
@mixin boton {
 background:$azul;
  color:white;
  border:1px solid $azul-oscuro;
  padding:0.3em 0.5em;
  border-radius:5px;
  @include background-image(linear-gradient(top, $azul, $azul-oscuro));
  &:hover {
    background:$azul-oscuro;
  }
}
*/
/* line 50, ../sass/_base.scss */
.clearfix-min:after,
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 60, ../sass/_base.scss */
.clearfix {
  display: inline-block;
}

/* line 67, ../sass/_base.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 72, ../sass/_base.scss */
.cf:after {
  clear: both;
}

/* line 77, ../sass/_base.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 81, ../sass/_base.scss */
* html .clearfix {
  height: 1%;
}

/*
@mixin boton {
 background:$azul;
  color:white;
  border:1px solid $azul-oscuro;
  padding:0.3em 0.5em;
  border-radius:5px;
  @include background-image(linear-gradient(top, $azul, $azul-oscuro));
  &:hover {
    background:$azul-oscuro;
  }
}
*/
/* line 1, ../sass/components/_html.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/components/_html.scss */
body {
  font-family: "open sans", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 100%;
}

/* line 13, ../sass/components/_html.scss */
img {
  max-width: 100%;
}

/* line 16, ../sass/components/_html.scss */
h1, h2, h3, h4 {
  font-family: "open sans", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: 300;
}

/* line 22, ../sass/components/_html.scss */
h2.page-title {
  margin-bottom: 0em;
}

/* line 26, ../sass/components/_html.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 31, ../sass/components/_html.scss */
table.simulation,
table.datatable {
  width: 100%;
}
/* line 33, ../sass/components/_html.scss */
table.simulation th,
table.datatable th {
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  font-weight: 400;
}
/* line 38, ../sass/components/_html.scss */
table.simulation tbody td,
table.datatable tbody td {
  border: 1px solid #e5e5e5;
}
/* line 41, ../sass/components/_html.scss */
table.simulation tbody td:nth-child(odd),
table.datatable tbody td:nth-child(odd) {
  background: rgba(242, 242, 242, 0.2);
}
/* line 44, ../sass/components/_html.scss */
table.simulation tbody tr:nth-child(even),
table.datatable tbody tr:nth-child(even) {
  background: rgba(229, 229, 229, 0.2);
}

/* line 55, ../sass/components/_html.scss */
.simulation tbody td:first-of-type {
  padding-right: 5px;
}
/* line 60, ../sass/components/_html.scss */
.simulation td {
  text-align: center;
}

/* line 67, ../sass/components/_html.scss */
.buttonline {
  margin-bottom: 1em;
  margin-top: 5px;
}
/* line 68, ../sass/components/_html.scss */
.buttonline a.button {
  float: left;
  margin-right: 10px;
}
/* line 79, ../sass/components/_html.scss */
.buttonline .visualisation-type {
  position: relative;
  float: left;
}
/* line 96, ../sass/components/_html.scss */
.buttonline .graph {
  float: left;
  position: relative;
}
/* line 98, ../sass/components/_html.scss */
.buttonline .graph .button {
  border-radius: 6px 6px 0 0;
}
/* line 104, ../sass/components/_html.scss */
.buttonline .graph:hover .submenu {
  display: block;
}
/* line 108, ../sass/components/_html.scss */
.buttonline .graph .submenu {
  display: none;
  position: absolute;
  top: 20px;
  width: 9em;
  left: 0;
}
/* line 113, ../sass/components/_html.scss */
.buttonline .graph .submenu a {
  width: 100%;
  border-radius: 0;
}

/* line 128, ../sass/components/_html.scss */
.button {
  background: #cccccc;
  padding: 4px 10px 2px;
  border-radius: 6px;
  border: 1px solid #999999;
  background: #da995f;
  background: #999999;
  /* colores claros */
  background: linear-gradient(to bottom, #fafafa 0%, #e5e5e5 100%);
  color: #666666;
  border-color: #b3b3b3;
}
/* line 215, ../sass/_custom.scss */
.button.active, .button:hover, .button:focus {
  background: #f6921e;
  border-color: gray;
  color: white;
}
/* line 221, ../sass/_custom.scss */
.button.disabled {
  background: #e5e5e5;
  text-shadow: none;
  color: #b3b3b3;
  background: transparent;
  border-color: #cccccc;
}

/* line 132, ../sass/components/_html.scss */
.submenu .button {
  border-bottom-color: #b3b3b3;
  border-top: none;
  background: #f2f2f2;
}
/* line 247, ../sass/_custom.scss */
.submenu .button:hover {
  background: #f6921e;
  color: white;
}
/* line 252, ../sass/_custom.scss */
.submenu .button:first-of-type {
  border-radius: 0 6px 0 0;
  border-top: 1px solid #b3b3b3;
}
/* line 256, ../sass/_custom.scss */
.submenu .button:last-of-type {
  border-radius: 0 0 6px 6px;
}

/* line 135, ../sass/components/_html.scss */
span.button {
  cursor: pointer;
  display: inline-block;
}

/* line 140, ../sass/components/_html.scss */
a.button-save-next:before {
  content: "\f061";
}

/* line 143, ../sass/components/_html.scss */
a.button-save:before {
  content: "\e001";
}

/* line 146, ../sass/components/_html.scss */
a.button-import-file:before {
  content: "\e626";
}

/* line 149, ../sass/components/_html.scss */
a.button-import-script:before {
  content: "\e628";
}

/* line 152, ../sass/components/_html.scss */
a.button-modify:before {
  content: "\e60d";
}

/* line 156, ../sass/components/_html.scss */
a.button-revert:before {
  content: "\e635";
}

/* line 159, ../sass/components/_html.scss */
a.button-map:before {
  content: "\e136";
}

/* line 162, ../sass/components/_html.scss */
a.button-graph:before {
  content: "\e619";
}

/* line 166, ../sass/components/_html.scss */
.button-line:before {
  content: "\e619";
}

/* line 169, ../sass/components/_html.scss */
.button-pie:before {
  content: "\e618";
}

/* line 172, ../sass/components/_html.scss */
.button-bars:before {
  content: "\e61a";
}

/* line 177, ../sass/components/_html.scss */
.buttonline a.button-map {
  border-radius: 6px 0 0 6px;
  margin-right: 0;
}
/* line 181, ../sass/components/_html.scss */
.buttonline a.button-graph {
  border-radius: 0 6px 6px 0;
}

/* line 1, ../sass/components/_layout.scss */
body {
  padding: 0;
}

/* line 4, ../sass/components/_layout.scss */
#header {
  width: 100%;
}

/* line 8, ../sass/components/_layout.scss */
.content-inner, .header-inner {
  max-width: 960px;
  margin: 0 auto;
}

/* line 13, ../sass/components/_layout.scss */
.header-inner {
  width: 960px;
  margin: 0 auto;
}

/* line 1, ../sass/components/_backgrounds.scss */
body {
  background: white;
  background: #fafafa;
  padding: 0;
  margin: 0;
}

/* line 9, ../sass/components/_backgrounds.scss */
#logo a {
  display: block;
  float: left;
}

/* line 12, ../sass/components/_backgrounds.scss */
#header {
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
}

/* line 17, ../sass/components/_backgrounds.scss */
#content {
  background: linear-gradient(to bottom, #f2f2f2 0%, #fafafa 10px);
  border-top: 1px solid #dddddd;
}

/* line 27, ../sass/components/_backgrounds.scss */
body {
  color: #666666;
}

/* line 31, ../sass/components/_backgrounds.scss */
.fcm-editor {
  background: #e5e5e5;
}
/* line 33, ../sass/components/_backgrounds.scss */
.fcm-editor #header {
  background: linear-gradient(to bottom, #f2f2f2 0%, #cccccc 100%);
}
/* line 37, ../sass/components/_backgrounds.scss */
.fcm-editor #content {
  background: linear-gradient(to bottom, #cccccc 0%, #e5e5e5 10px);
  border-top: 1px solid #ababab;
}

/* line 44, ../sass/components/_backgrounds.scss */
a {
  color: #f6921e;
  text-decoration: none;
}

/* line 4, ../sass/components/_pages.scss */
#logo {
  margin: 1em;
  margin-bottom: 0em;
  margin-top: 2em;
  float: left;
  width: 200px;
}

/* line 14, ../sass/components/_pages.scss */
.front #logo {
  margin: 1em;
  width: 300px;
}

/* line 20, ../sass/components/_pages.scss */
.home-statement {
  text-align: center;
}

/* line 23, ../sass/components/_pages.scss */
.home-statement-phrase {
  font-weight: 300;
  font-size: 2em;
}

/* line 27, ../sass/components/_pages.scss */
.home-actions {
  padding: 2em 0;
}
/* line 29, ../sass/components/_pages.scss */
.home-actions h2 {
  text-transform: uppercase;
  font-family: "open sans", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: 300;
  margin: 1em 0 0.3em;
}
/* line 36, ../sass/components/_pages.scss */
.home-actions p {
  margin-top: 0;
}
/* line 39, ../sass/components/_pages.scss */
.home-actions a {
  color: #666666;
}

/* line 43, ../sass/components/_pages.scss */
.home-action {
  position: relative;
  padding: 0 10px;
  padding-left: 80px;
}
/* line 51, ../sass/components/_pages.scss */
.home-action:hover {
  color: #f6921e;
}
/* line 53, ../sass/components/_pages.scss */
.home-action:hover a, .home-action:hover:before {
  color: #f6921e;
}

/* line 59, ../sass/components/_pages.scss */
.home-action:before {
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0%;
  color: #666666;
}

/* line 69, ../sass/components/_pages.scss */
.home-action-browse:before {
  content: "\e623";
}

/* line 72, ../sass/components/_pages.scss */
.home-action-want:before {
  content: "\e620";
}

/* line 75, ../sass/components/_pages.scss */
.home-action-create:before {
  content: "\e625";
}

/* line 78, ../sass/components/_pages.scss */
.home-action-embed:before {
  content: "\e624";
}

/* line 82, ../sass/components/_pages.scss */
.home-action-request:before {
  content: "\e621";
}

/* line 86, ../sass/components/_pages.scss */
.footer {
  margin: 1em 0;
  color: #999999;
  text-align: right;
}
/* line 88, ../sass/components/_pages.scss */
.footer a {
  color: #999999;
}

@media all and (min-width: 960px) {
  /* line 95, ../sass/components/_pages.scss */
  .home-action {
    width: 20%;
    float: left;
    padding-left: 0px;
    padding-top: 40px;
    text-align: center;
  }

  /* line 102, ../sass/components/_pages.scss */
  .home-action:before {
    left: 33%;
  }
}
/* line 107, ../sass/components/_pages.scss */
.ui-tabs-nav {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 1em 0 -1px;
}
/* line 111, ../sass/components/_pages.scss */
.ui-tabs-nav li {
  float: left;
  margin-right: -1px;
}
/* line 116, ../sass/components/_pages.scss */
.ui-tabs-nav a {
  outline: none;
  display: block;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 5px 10px 2px;
  border-radius: 4px 12px 0 0;
  color: #666666;
  color: #999999;
}
/* line 126, ../sass/components/_pages.scss */
.ui-tabs-nav .ui-state-active a {
  color: #f6921e;
  background: #fafafa;
  background: white;
  border-color: #cccccc;
}

/* line 140, ../sass/components/_pages.scss */
.fcm-editor .ui-tabs-nav a {
  border-color: #cccccc;
}
/* line 152, ../sass/components/_pages.scss */
.fcm-editor .ui-state-active a,
.fcm-editor .ui-tabs-panel {
  background: #f2f2f2;
}

/* line 157, ../sass/components/_pages.scss */
.ui-tabs-panel {
  background: white;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/* line 164, ../sass/components/_pages.scss */
#tabs .metrics:before {
  content: "\e12a";
}
/* line 167, ../sass/components/_pages.scss */
#tabs .metadata:before {
  content: "\e113";
}
/* line 170, ../sass/components/_pages.scss */
#tabs .open:before {
  content: "\e61b";
}
/* line 173, ../sass/components/_pages.scss */
#tabs .save:before {
  content: "\e001";
}
/* line 176, ../sass/components/_pages.scss */
#tabs .concepts:before {
  content: "\e101";
}
/* line 179, ../sass/components/_pages.scss */
#tabs .ui-state-default .simulation:before {
  content: "\e132";
}
/* line 182, ../sass/components/_pages.scss */
#tabs .graph:before {
  content: "\e619";
}
/* line 185, ../sass/components/_pages.scss */
#tabs .cameades:before {
  content: "\e113";
}
/* line 188, ../sass/components/_pages.scss */
#tabs .comments:before {
  content: "\e14e";
}

/* line 192, ../sass/components/_pages.scss */
.forms-cols {
  width: 50%;
  float: left;
}

/* line 196, ../sass/components/_pages.scss */
.form-item {
  overflow: hidden;
  margin: 1em 0;
}
/* line 199, ../sass/components/_pages.scss */
.form-item label {
  width: 12em;
  float: left;
  text-align: right;
  margin-right: 1em;
}

/* line 210, ../sass/components/_pages.scss */
input,
textarea,
select {
  font-family: "open sans", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: #666666;
  font-size: 1em;
  width: 14em;
  background: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 4px;
  line-height: 1.6em;
  PADDING: 2PX;
}
/* line 220, ../sass/components/_pages.scss */
input:focus, input:active,
textarea:focus,
textarea:active,
select:focus,
select:active {
  background: white;
  border-color: #f6921e;
  outline: none;
}

/* line 231, ../sass/components/_pages.scss */
.forms-cols textarea {
  width: 14em;
}

/* line 236, ../sass/components/_pages.scss */
textarea {
  width: 100%;
}

/* line 239, ../sass/components/_pages.scss */
.tabs-content {
  overflow: hidden;
}

/* line 247, ../sass/components/_pages.scss */
.stars {
  overflow: hidden;
  text-align: right;
}
/* line 251, ../sass/components/_pages.scss */
.stars .star {
  width: 1.6em;
  height: 1.4em;
  text-align: center;
  display: inline-block;
  position: relative;
}
/* line 258, ../sass/components/_pages.scss */
.stars .star:before {
  content: "\e61f";
  position: absolute;
  top: 2px;
  left: 0px;
  font-size: 1.2em;
}
/* line 266, ../sass/components/_pages.scss */
.stars .star-inactive:before {
  content: "\e61e";
}

/* line 272, ../sass/components/_pages.scss */
.fields {
  overflow: auto;
}
/* line 274, ../sass/components/_pages.scss */
.fields ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 277, ../sass/components/_pages.scss */
.fields ul li {
  float: left;
  margin-right: 5px;
  padding: 0 6px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 5px;
}
/* line 290, ../sass/components/_pages.scss */
.fields input,
.fields textarea,
.fields select {
  border-color: transparent;
}
/* line 296, ../sass/components/_pages.scss */
.fields.active input,
.fields.active textarea,
.fields.active select {
  border-color: #f6921e;
}
/* line 299, ../sass/components/_pages.scss */
.fields.active .field-content-editable {
  display: none;
}
/* line 302, ../sass/components/_pages.scss */
.fields.active .field-item input, .fields.active .field-item textarea {
  display: block;
}
/* line 307, ../sass/components/_pages.scss */
.fields .field {
  overflow: hidden;
  margin: 5px 0;
}
/* line 315, ../sass/components/_pages.scss */
.fields .field-label {
  width: 12em;
  float: left;
  text-align: right;
  margin-right: 1em;
  font-weight: 700;
}
/* line 325, ../sass/components/_pages.scss */
.fields .field-item {
  margin-left: 12em;
}
/* line 329, ../sass/components/_pages.scss */
.fields .field-item textarea,
.fields .field-item input {
  display: none;
}
/* line 338, ../sass/components/_pages.scss */
.fields .field-item,
.fields .field-label {
  padding: 5px;
  line-height: 1.6em;
}
/* line 345, ../sass/components/_pages.scss */
.fields .field-description {
  width: 100%;
}
/* line 347, ../sass/components/_pages.scss */
.fields .field-description .field-label {
  float: none;
  width: auto;
  text-align: left;
}
/* line 352, ../sass/components/_pages.scss */
.fields .field-description .field-item {
  margin-left: 0;
}
/* line 356, ../sass/components/_pages.scss */
.fields .field-date .field-content:before {
  content: "\e612";
}
/* line 360, ../sass/components/_pages.scss */
.fields .field-author .field-content:before {
  content: "\e124";
}
/* line 364, ../sass/components/_pages.scss */
.fields .field-views .field-content:before {
  content: "\e13a";
}
/* line 368, ../sass/components/_pages.scss */
.fields .field-keywords li:before {
  content: "\e112";
}
/* line 378, ../sass/components/_pages.scss */
.fields .field .field-content:before, .fields .field li:before {
  color: #b3b3b3;
}
/* line 382, ../sass/components/_pages.scss */
.fields .field-metrics li:before {
  content: "\e137";
}

/* line 397, ../sass/components/_pages.scss */
.fcm-editor-board {
  border: 1px solid #cccccc;
  background: #cccccc;
  border-radius: 8px;
  overflow: hidden;
}
/* line 401, ../sass/components/_pages.scss */
.fcm-editor-board a {
  color: #e5e5e5;
}
/* line 403, ../sass/components/_pages.scss */
.fcm-editor-board .fcm-board {
  width: 80%;
  float: left;
}
/* line 407, ../sass/components/_pages.scss */
.fcm-editor-board .fcm-board img {
  padding-top: 2.5em;
  padding-left: 2em;
}
/* line 412, ../sass/components/_pages.scss */
.fcm-editor-board .fcm-tool {
  width: 20%;
  float: left;
  padding: 2%;
  background: #b3b3b3;
  color: #cccccc;
  box-shadow: inset 2px 2px 10px #a6a6a6;
  box-shadow: inset 2px 2px 10px #999999;
  border-radius: 8px 0 0 8px;
}
/* line 421, ../sass/components/_pages.scss */
.fcm-editor-board .fcm-tool ul.tool {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 425, ../sass/components/_pages.scss */
.fcm-editor-board .fcm-tool ul.tool li {
  position: relative;
  padding: 65px 0 5px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}
/* line 430, ../sass/components/_pages.scss */
.fcm-editor-board .fcm-tool ul.tool li:hover {
  border-color: #cccccc;
  border-radius: 4px;
}
/* line 435, ../sass/components/_pages.scss */
.fcm-editor-board .fcm-tool ul.tool li:hover a {
  color: white;
}
/* line 447, ../sass/components/_pages.scss */
.fcm-editor-board .fcm-tool ul.tool .association a:before,
.fcm-editor-board .fcm-tool ul.tool .concepts a:before {
  content: "\e632";
  position: absolute;
  top: 10px;
  left: 22%;
  font-size: 50px;
}
/* line 455, ../sass/components/_pages.scss */
.fcm-editor-board .fcm-tool ul.tool .association a:before {
  content: "\e633";
}

/* line 471, ../sass/components/_pages.scss */
.fcm-editor #tabs li:nth-child(2) {
  margin-left: 30px;
}
/* line 474, ../sass/components/_pages.scss */
.fcm-editor #tabs li:nth-child(5) {
  margin-left: 30px;
}

/* line 3, ../sass/components/_navigation.scss */
.header-inner {
  position: relative;
}

/* line 6, ../sass/components/_navigation.scss */
.menu {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

/* line 15, ../sass/components/_navigation.scss */
.menu-main {
  float: right;
  right: 0;
  top: 48px;
}
/* line 16, ../sass/components/_navigation.scss */
.menu-main li {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 17, ../sass/components/_navigation.scss */
.menu-main li:hover {
  color: white;
  background: #666666;
}
/* line 21, ../sass/components/_navigation.scss */
.menu-main li:hover a {
  color: white;
}
/* line 31, ../sass/components/_navigation.scss */
.menu-main a {
  display: block;
  padding: 0 0.3em;
}
/* line 36, ../sass/components/_navigation.scss */
.menu-main a.browse:before {
  content: "\f00a";
}
/* line 39, ../sass/components/_navigation.scss */
.menu-main a.create:before {
  content: "\e60d";
}
/* line 42, ../sass/components/_navigation.scss */
.menu-main a.want:before {
  content: "\e61e";
}
/* line 45, ../sass/components/_navigation.scss */
.menu-main a.request:before {
  content: "\e116";
}
/* line 48, ../sass/components/_navigation.scss */
.menu-main a.about:before {
  content: "\f059";
}

/* line 55, ../sass/components/_navigation.scss */
.menu a {
  color: #666666;
  padding: 0.3em 0.5em;
}

/* line 65, ../sass/components/_navigation.scss */
.menu-fish {
  z-index: 2;
}
/* line 67, ../sass/components/_navigation.scss */
.menu-fish li {
  float: left;
  position: relative;
}
/* line 70, ../sass/components/_navigation.scss */
.menu-fish li ul {
  display: none;
  position: absolute;
  top: 1em;
  left: 0;
}
/* line 76, ../sass/components/_navigation.scss */
.menu-fish li > ul {
  top: auto;
  left: auto;
}
/* line 79, ../sass/components/_navigation.scss */
.menu-fish li > ul a {
  opacity: 0;
}
/* line 84, ../sass/components/_navigation.scss */
.menu-fish li:hover ul {
  display: block;
}
/* line 87, ../sass/components/_navigation.scss */
.menu-fish li:hover ul a {
  opacity: 1;
}
/* line 93, ../sass/components/_navigation.scss */
.menu-fish ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  width: 12em;
}
/* line 98, ../sass/components/_navigation.scss */
.menu-fish ul li {
  float: none;
}
/* line 101, ../sass/components/_navigation.scss */
.menu-fish ul a {
  color: white;
  display: block;
  float: none;
  background: #666666;
}

@media all and (min-width: 960px) {
  /* line 3, ../sass/components/_navigation-top.scss */
  .menu-second {
    color: #999999;
    width: 100%;
    top: 10px;
    right: 20px;
  }
  /* line 7, ../sass/components/_navigation-top.scss */
  .menu-second ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
  /* line 15, ../sass/components/_navigation-top.scss */
  .menu-second > li {
    position: absolute;
  }
  /* line 17, ../sass/components/_navigation-top.scss */
  .menu-second > li ul {
    position: absolute;
    top: 28px;
    right: 0;
    background: #666666;
    padding: 5px;
    border-radius: 4px 0 4px 4px;
    color: white;
  }
  /* line 27, ../sass/components/_navigation-top.scss */
  .menu-second > li ul a {
    color: white;
  }
  /* line 32, ../sass/components/_navigation-top.scss */
  .menu-second .parent {
    width: 30px;
    height: 28px;
    display: block;
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  /* line 38, ../sass/components/_navigation-top.scss */
  .menu-second .parent:before {
    position: absolute;
    top: 4px;
    left: 2px;
  }
  /* line 46, ../sass/components/_navigation-top.scss */
  .menu-second .parent:hover {
    background: #999999;
    border-color: #999999;
    color: white;
  }
  /* line 51, ../sass/components/_navigation-top.scss */
  .menu-second .parent.active {
    background: #666666;
    border-color: #666666;
    color: white;
    border-radius: 4px 4px 0 0;
  }
  /* line 59, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-user {
    padding-top: 5px;
  }
  /* line 62, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-user-options {
    right: 80px;
  }
  /* line 66, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-user-options .parent {
    display: block;
  }
  /* line 73, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-user {
    right: 130px;
    text-align: right;
  }
  /* line 78, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-user-options .parent:before {
    content: "\e124";
  }
  /* line 83, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-language {
    right: 40px;
  }
  /* line 85, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-language .parent:before {
    content: "\e135";
  }
  /* line 89, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-search {
    right: 0;
    text-align: center;
  }
  /* line 92, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-search .parent:before {
    content: "\f002";
  }
  /* line 96, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-search ul {
    width: 17em;
  }
  /* line 99, ../sass/components/_navigation-top.scss */
  .menu-second .menu-item-search input {
    width: 12em;
    padding: 0;
    line-height: 1.5em;
  }
  /* line 105, ../sass/components/_navigation-top.scss */
  .menu-second .logout a:before {
    content: "\e12d";
  }
}
/* line 1, ../sass/components/_metrics.scss */
.designer-metrics {
  background: #f2f2f2;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 6px;
  display: none;
  margin-bottom: 20px;
}
/* line 11, ../sass/components/_metrics.scss */
.designer-metrics.active {
  display: block;
}
/* line 14, ../sass/components/_metrics.scss */
.designer-metrics label {
  display: block;
}
/* line 17, ../sass/components/_metrics.scss */
.designer-metrics h3, .designer-metrics h4 {
  margin: 0 0 1em;
}
/* line 20, ../sass/components/_metrics.scss */
.designer-metrics h4 {
  font-weight: normal;
  padding: 0 40px;
}
/* line 25, ../sass/components/_metrics.scss */
.designer-metrics:before {
  content: "\e614";
  position: absolute;
  font-size: 35px;
  left: 0;
  color: #b3b3b3;
}

/* line 34, ../sass/components/_metrics.scss */
.metric-forms {
  display: none;
}

/* line 37, ../sass/components/_metrics.scss */
.metric-form-item {
  width: 33%;
  float: left;
}

/* line 42, ../sass/components/_metrics.scss */
.metric-button {
  position: absolute;
  top: 10px;
  right: 35px;
}
/* line 49, ../sass/components/_metrics.scss */
.metric-button:before {
  content: "\e600";
}

/* line 54, ../sass/components/_metrics.scss */
.button-metrics:before {
  content: "\e014";
}

/* line 55, ../sass/components/_metrics.scss */
.button-metrics-new:before {
  content: "\e62a";
}

/* line 58, ../sass/components/_metrics.scss */
.metric-delete-button {
  right: 10px;
}
/* line 60, ../sass/components/_metrics.scss */
.metric-delete-button:before {
  content: "\e14b";
  color: #ad5353;
}

/* line 66, ../sass/components/_metrics.scss */
.metrics-list {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  color: #999999;
  margin-bottom: 1em;
}
/* line 71, ../sass/components/_metrics.scss */
.metrics-list li {
  margin: 2px;
  padding: 2px;
  padding-left: 1.2em;
  position: relative;
}
/* line 75, ../sass/components/_metrics.scss */
.metrics-list li:before {
  content: "\e014";
  position: absolute;
  left: -0.5em;
  top: 2px;
}
/* line 83, ../sass/components/_metrics.scss */
.metrics-list li.active {
  color: #1a1a1a;
}
/* line 85, ../sass/components/_metrics.scss */
.metrics-list li.active:before {
  content: "\e001";
  color: #53ad56;
}
