#mapPC {
			width: 800px;
			height: 500px;
		}

		.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
		}
		.info h4 {
			margin: 0 0 5px;
			color: #777;
		}

		.legend {
			text-align: left;
			line-height: 18px;
			color: #555;
		}
		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}


rzslider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2px;
  margin: 30px 0 15px 0;
  vertical-align: middle;
}

rzslider span {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
}

rzslider span.base {
  width: 100%;
  height: 100%;
  padding: 0;
}

rzslider span.bar {
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #58595b;
}

rzslider span.bar.selection {
  z-index: 1;
  width: 0;
  background: #f7941e;
}

rzslider span.pointer {
  top: -15px;
  z-index: 2;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #58595b;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

rzslider span.pointer:after {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 8px;
  background: #71818e;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  content: '';
}

rzslider span.pointer:hover:after {
  background-color: #f7941e;
}

rzslider span.pointer.active:after {
  background-color: #f7941e;
}

rzslider span.bubble {
  top: -32px;
  padding: 1px 3px 1px 3px;
  color: #f7941e;
  cursor: default;
}

rzslider span.bubble.selection {
  top: 15px;
}

rzslider span.bubble.limit {
  /*color: #808080;*/

}


.square-box {
    width: 20px;
    display: inline-table;
}


.visualization-graph-page-content {
padding-left: 0px;
padding-right: 0px;
padding-top: 5px;
padding-bottom: 5px;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  /*fill: none;*/
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@font-face {
  font-family: 'iconos';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#iconosRegular") format("svg");
}
*/
.grid .tick {
    stroke: lightblue;
    opacity: 0.2;
}
.grid path {
      stroke-width: 0;
}

.nodatatoplot {
	font-size: 20px;
}

.axis path, .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.line {
/*fill: none;*/
  stroke-width: 1.5px;
}

.tooltip {
    position: absolute;
    width: 200px;
    min-height: 50px;
    padding: 8px;
    font: 15px Helvetica Neue;
    background: #FFF;
    /*background: #f7941e;*/
    border: solid 1px #f7941e;
    border-radius: 8px;
    pointer-events: none;
    z-order:1000;
    text-align:center;
}

.tooltipdd {
    position: absolute;
    display: block;
    background: #f7941e;
    color: white;
    border-radius: 3px;
    padding: 10px;
    width: 200px;
    opacity: 0.95;
}


.tooltipLegend {
    position: absolute;
    width: 200px;
    min-height: 50px;
    padding: 8px;
    font: 15px Helvetica Neue;
    background: #FFF;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
    z-order:1000;
    text-align:left;
}

.showFilter {
	background: #f2f2f2;
	padding: 10px 20px;
	border: 1px solid #cccccc;
	border-radius: 6px;
	margin-bottom: 20px;
	width: 100%;
}


.on_check {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
}

.graphContainerdiv {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tabsCreateMetric { 
	float: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

.contentHE {
	font-weight: normal;
	padding: 0 40px;
}







/*
.createvisualization .designer-datasets:before,
.createvisualization .designer-metrics:before,
.createvisualization .button:before,
.createvisualization li:before,
.createvisualization .dataset-button:before,
.createvisualization .metric-button:before,
.createvisualization .field-content li:before,
.createvisualization .a:before {
  padding: 0 0.3em;
  font-family: iconos;
}
*/

/* line 1, ../sass/components/_metrics.scss */
/*
.createvisualization .designer-datasets,
.createvisualization .designer-metrics {
  background: #f2f2f2;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 6px;
  display: none;
  margin-bottom: 20px;
}
*/
/* line 11, ../sass/components/_metrics.scss */
/*
.createvisualization .designer-datasets.active,
.createvisualization .designer-metrics.active {
  display: block;
}
*/
/* line 14, ../sass/components/_metrics.scss */
/*
.createvisualization .designer-datasets label,
.createvisualization .designer-metrics label {
  display: block;
}
*/
/* line 17, ../sass/components/_metrics.scss */
/*
.createvisualization .designer-datasets h3, 
.createvisualization .designer-datasets h4,
.createvisualization .designer-metrics h3, 
.createvisualization .designer-metrics h4 {
  margin: 0 0 1em;
}
*/
/* line 20, ../sass/components/_metrics.scss */
/*
.createvisualization .designer-datasets h4,
.createvisualization .designer-metrics h4 {
  font-weight: normal;
  padding: 0 40px;
}
*/
/*
/* line 25, ../sass/components/_metrics.scss */
/*
.createvisualization .designer-datasets:before,
.createvisualization .designer-metrics:before {
  content: "\e614";
  position: absolute;
  font-size: 35px;
  left: 0;
  color: #b3b3b3;
}
*/
/* line 66, ../sass/components/_metrics.scss */
/*
.createvisualization .datasets-list,
.createvisualization .metrics-list {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  color: #999999;
  margin-bottom: 1em;
}
*/
/* line 71, ../sass/components/_metrics.scss */
/*
.createvisualization .datasets-list li,
.createvisualization .metrics-list li {
  margin: 2px;
  padding: 2px;
  padding-left: 1.2em;
  position: relative;
}
*/
/* line 75, ../sass/components/_metrics.scss */
/*
.createvisualization .datasets-list li:before,
.createvisualization .metrics-list li:before {
  content: "\e014";
  position: absolute;
  left: -0.5em;
  top: 2px;
}
*/
/* line 83, ../sass/components/_metrics.scss */
/*
.createvisualization .datasets-list li.active,
.createvisualization .metrics-list li.active {
  color: #1a1a1a;
}
*/

/* line 42, ../sass/components/_metrics.scss */
/*
.createvisualization .dataset-button,
.createvisualization .metric-button {
  position: absolute;
  top: 10px;
  right: 35px;
}
*/
/* line 49, ../sass/components/_metrics.scss */
/*
.createvisualization .dataset-button:before,
.createvisualization .metric-button:before {
  content: "\e600";
}
*/

/* line 58, ../sass/components/_metrics.scss */
/*
.createvisualization .dataset-delete-button,
.createvisualization .metric-delete-button {
  right: 10px;
}
*/
/* line 60, ../sass/components/_metrics.scss */
/*
.createvisualization .dataset-delete-button:before,
.createvisualization .metric-delete-button:before {
  content: "\e14b";
  color: #ad5353;
}
*/


/* line 83, ../sass/components/_metrics.scss */
/*
.createvisualization .datasetss-list li.active,
.createvisualization .metrics-list li.active {
  color: #1a1a1a;
}
*/
/* line 85, ../sass/components/_metrics.scss */
/*
.createvisualization .datasets-list li.active:before,
.createvisualization .metrics-list li.active:before {
  content: "\e001";
  color: #53ad56;
}
*/
