.grid .tick {
    stroke: lightblue;
    opacity: 0.2;
}
.grid path {
      stroke-width: 0;
}

.nodatatoplot {
	font-size: 20px;
}

.axis path, .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.tooltip{
    position: absolute;
    width: 200px;
    min-height: 50px;
    padding: 8px;
    font: 15px Helvetica Neue;
    background: #FFF;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
    z-order:1000;
    text-align:center;
}

.showFilter {
	background: #f2f2f2;
	padding: 10px 20px;
	border: 1px solid #cccccc;
	border-radius: 6px;
	margin-bottom: 20px;
	width: 100%;
}


.on_check {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
}

.graphContainerdiv {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tabsCreateMetric { 
	float: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

.contentHE {
	font-weight: normal;
	padding: 0 40px;
}