/* Policy Compass Style  */
/* line 2, ../sass/main.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 12, ../sass/main.scss */
.border-top {
  background: url(../img/border-top.png) no-repeat center;
  height: 15px;
}

/* line 16, ../sass/main.scss */
.border-bottom {
  background: url(../img/border-bottom.png) no-repeat center;
  height: 15px;
}

/* line 22, ../sass/main.scss */
.legend-primary {
  color: #428BCA;
  border-color: #428BCA;
}

/* line 26, ../sass/main.scss */
.legend-warning {
  color: #f7941e;
  border-color: #f7941e;
}

/* line 31, ../sass/main.scss */
.legend-default {
  color: #58595b;
  border-color: #58595b;
}

/* Input*/
/* Pre */
/* line 44, ../sass/main.scss */
pre {
  box-shadow: none;
  border-radius: 0px !important;
}

/* Tooltip */
/* line 50, ../sass/main.scss */
.tooltip-primary + .tooltip > .tooltip-inner {
  background-color: #428BCA;
}

/* line 51, ../sass/main.scss */
.tooltip-primary + .tooltip > .tooltip-arrow {
  border-top-color: #428BCA;
}

/* line 54, ../sass/main.scss */
.tooltip-warning + .tooltip > .tooltip-inner {
  background-color: #f7941e;
}

/* line 55, ../sass/main.scss */
.tooltip-warning + .tooltip > .tooltip-arrow {
  border-top-color: #f7941e;
}

/*container*/
/* line 59, ../sass/main.scss */
.containerWithSecondBar {
  padding-top: 80px;
  margin-top: 30px;
}

/*nav bar*/
/* line 64, ../sass/main.scss */
#btn-navbar-toggle {
  border: 1px solid #eee;
}

/* line 67, ../sass/main.scss */
.icon-bar {
  background-color: #CCCCCC;
}

/*Dropdown menu*/
/* line 71, ../sass/main.scss */
.dropdown-menu {
  border-radius: 0px;
  -webkit-box-shadow: none;
}

/* line 75, ../sass/main.scss */
.dropdown-menu > li > a {
  text-align: left;
}

/* line 78, ../sass/main.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
  color: #f7941e !important;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/*Dropdown menu effect*/
/* line 85, ../sass/main.scss */
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 90, ../sass/main.scss */
.open > .dropdown-menu li a {
  color: #000;
}

/* line 95, ../sass/main.scss */
.date-picker > p > ul {
  -webkit-transform-origin: none !important;
  transform-origin: none !important;
  -webkit-animation-fill-mode: none !important;
  animation-fill-mode: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  transition: none !important;
  -webkit-transition: none !important;
}

/* Tab */
/* Pagination*/
/* line 112, ../sass/main.scss */
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 116, ../sass/main.scss */
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 120, ../sass/main.scss */
.pager li > a, .pager li > span {
  border-radius: 0px;
}

/* Rating */
/* line 124, ../sass/main.scss */
.rating {
  color: #f7941e;
}

/*Fcm Page*/
/* line 129, ../sass/main.scss */
.fcm-editor-icon {
  font-size: 66px;
}

/* line 132, ../sass/main.scss */
.fcm-editor-effect {
  min-height: 135px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
}

/* line 138, ../sass/main.scss */
.fcm-editor-effect > a {
  color: #ffffff;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/* line 145, ../sass/main.scss */
.fcm-editor-effect > a:hover, .fcm-editor-effect > a:active, .fcm-editor-effect > a:focus {
  color: #E3E3E3;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/* line 153, ../sass/main.scss */
.fcm-editor-window {
  min-height: 250px;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}

/* Pc*/
@media only screen and (min-width: 1024px) {
  /* nav-small*/
}
