/* Policy Compass Style  */
/* line 2, ../sass/main.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 12, ../sass/main.scss */
.border-top {
  background: url(../img/border-top.png) no-repeat center;
  height: 15px;
}

/* line 16, ../sass/main.scss */
.border-bottom {
  background: url(../img/border-bottom.png) no-repeat center;
  height: 15px;
}

/* line 22, ../sass/main.scss */
.legend-primary {
  color: #428BCA;
  border-color: #428BCA;
}

/* line 26, ../sass/main.scss */
.legend-warning {
  color: #f7941e;
  border-color: #f7941e;
}

/* line 31, ../sass/main.scss */
.legend-default {
  color: #58595b;
  border-color: #58595b;
}

/* Input*/
/* Pre */
/* line 43, ../sass/main.scss */
pre {
  box-shadow: none;
  border-radius: 0px !important;
}

/* Tooltip */
/* line 49, ../sass/main.scss */
.tooltip-primary + .tooltip > .tooltip-inner {
  background-color: #428BCA;
}

/* line 50, ../sass/main.scss */
.tooltip-primary + .tooltip > .tooltip-arrow {
  border-top-color: #428BCA;
}

/* line 53, ../sass/main.scss */
.tooltip-warning + .tooltip > .tooltip-inner {
  background-color: #f7941e;
}

/* line 54, ../sass/main.scss */
.tooltip-warning + .tooltip > .tooltip-arrow {
  border-top-color: #f7941e;
}

/*container*/
/* line 58, ../sass/main.scss */
.containerWithSecondBar {
  padding-top: 80px;
  margin-top: 30px;
}

/*nav bar*/
/* line 63, ../sass/main.scss */
#btn-navbar-toggle {
  border: 1px solid #eee;
}

/* line 66, ../sass/main.scss */
.icon-bar {
  background-color: #CCCCCC;
}

/*Dropdown menu*/
/* line 70, ../sass/main.scss */
.dropdown-menu {
  border-radius: 0px;
  -webkit-box-shadow: none;
}

/* line 74, ../sass/main.scss */
.dropdown-menu > li > a {
  text-align: left;
}

/* line 77, ../sass/main.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
  color: #f7941e !important;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/*Dropdown menu effect*/
/* line 84, ../sass/main.scss */
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 89, ../sass/main.scss */
.open > .dropdown-menu li a {
  color: #000;
}

/* line 94, ../sass/main.scss */
.date-picker > p > ul {
  -webkit-transform-origin: none !important;
  transform-origin: none !important;
  -webkit-animation-fill-mode: none !important;
  animation-fill-mode: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  transition: none !important;
  -webkit-transition: none !important;
}

/*input*/
/* line 107, ../sass/main.scss */
.browse-input {
  border-right: none;
  border-left: none;
}

/* Panel */
/* line 113, ../sass/main.scss */
.panel {
  border-radius: 0px !important;
  box-shadow: none;
}

/* line 117, ../sass/main.scss */
.panel-default {
  border-color: #428bca;
}

/* line 120, ../sass/main.scss */
.panel-default > .panel-heading {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

/* line 125, ../sass/main.scss */
.panel-title > a {
  cursor: pointer;
}

/* Tab */
/* line 129, ../sass/main.scss */
.nav-tabs > li {
  cursor: pointer;
}

/* line 132, ../sass/main.scss */
.nav-tabs > li > a {
  color: #58595b;
  border-radius: 0px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

/* line 139, ../sass/main.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  text-decoration: none;
  background-color: #f7941e !important;
  color: #f7941e;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

/* line 147, ../sass/main.scss */
.nav-tabs.nav-justified > li > a {
  border-bottom: 0px !important;
}

/* line 150, ../sass/main.scss */
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  text-decoration: none;
  background-color: #f7941e !important;
  color: #fff !important;
  cursor: pointer;
}

/* line 157, ../sass/main.scss */
.nav-pills > li > a {
  cursor: pointer;
}

/* line 160, ../sass/main.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #FFF;
  background-color: #428BCA !important;
  cursor: pointer;
}

/* line 165, ../sass/main.scss */
.nav-pills > .tab-content > .tab-pane {
  border-top: solid 1px #ddd;
}

/* line 168, ../sass/main.scss */
.nav-tabs {
  border-bottom: 0px;
}

/* line 171, ../sass/main.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
  text-decoration: none;
  background-color: #f7941e !important;
  color: #fff !important;
}

/* line 176, ../sass/main.scss */
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  background-color: #F5F5F5 !important;
}

/* line 179, ../sass/main.scss */
.nav-tabs.nav-justified > li > a {
  border-radius: 0px;
}

/* line 182, ../sass/main.scss */
.tab-content > .tab-pane {
  min-height: 50px;
  padding: 10px;
}

/* line 186, ../sass/main.scss */
.tab-content {
  border: 1px solid #ddd;
}

/* line 189, ../sass/main.scss */
.tabScrollable .ng-isolate-scope .tab-content {
  overflow: auto;
  height: 200px;
}

/* Pagination*/
/* line 194, ../sass/main.scss */
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 198, ../sass/main.scss */
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 202, ../sass/main.scss */
.pager li > a, .pager li > span {
  border-radius: 0px;
}

/* Rating */
/* line 206, ../sass/main.scss */
.rating {
  color: #f7941e;
}

/* footer*/
/* line 210, ../sass/main.scss */
footer {
  border-top: 1px solid #CCCCCC;
}

/* line 213, ../sass/main.scss */
.footer-wrapper a {
  color: #58595b;
  font-weight: 400;
}

/* line 217, ../sass/main.scss */
.footer-wrapper > .col-lg-6:first-child {
  border-right: 1px solid #CCCCCC;
}

/* line 220, ../sass/main.scss */
.footer-wrapper a:hover, .footer-wrapper a:focus, .footer-wrapper a:active {
  color: #fa8800;
  font-weight: 400;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/*Fcm Page*/
/* line 229, ../sass/main.scss */
.fcm-editor-icon {
  font-size: 66px;
}

/* line 232, ../sass/main.scss */
.fcm-editor-effect {
  min-height: 135px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
}

/* line 238, ../sass/main.scss */
.fcm-editor-effect > a {
  color: #ffffff;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/* line 245, ../sass/main.scss */
.fcm-editor-effect > a:hover, .fcm-editor-effect > a:active, .fcm-editor-effect > a:focus {
  color: #E3E3E3;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/* line 253, ../sass/main.scss */
.fcm-editor-window {
  min-height: 250px;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}

/* Pc*/
@media only screen and (min-width: 1024px) {
  /* nav-small*/
}
