/* Policy Compass Style  */
/* line 2, ../sass/main - original.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 5, ../sass/main - original.scss */
.page {
  padding-top: 86px;
}

/* line 8, ../sass/main - original.scss */
header {
  background-color: #FFF !important;
  border-bottom: 1px solid #CCCCCC;
}

/* line 12, ../sass/main - original.scss */
.border-top {
  background: url(../img/border-top.png) no-repeat center;
  height: 15px;
}

/* line 16, ../sass/main - original.scss */
.border-bottom {
  background: url(../img/border-bottom.png) no-repeat center;
  height: 15px;
}

/* Typography*/
/* line 22, ../sass/main - original.scss */
h1 {
  color: #f7941e;
}

/* line 25, ../sass/main - original.scss */
h2 {
  color: #428BCA;
}

/* line 28, ../sass/main - original.scss */
h3 {
  color: #58595b;
}

/* line 31, ../sass/main - original.scss */
h4 {
  color: #58595b;
}

/* line 34, ../sass/main - original.scss */
h5 {
  color: #58595b;
}

/* line 37, ../sass/main - original.scss */
h6 {
  color: #58595b;
}

/* line 40, ../sass/main - original.scss */
.legend-primary {
  color: #428BCA;
  border-color: #428BCA;
}

/* line 44, ../sass/main - original.scss */
.legend-warning {
  color: #f7941e;
  border-color: #f7941e;
}

/* line 49, ../sass/main - original.scss */
.legend-default {
  color: #58595b;
  border-color: #58595b;
}

/* Input*/
/* line 55, ../sass/main - original.scss */
.form-control {
  height: 39px;
  border-radius: 0px !important;
  box-shadow: none;
}

/* Pre */
/* line 61, ../sass/main - original.scss */
pre {
  box-shadow: none;
  border-radius: 0px !important;
}

/* Well */
/* line 66, ../sass/main - original.scss */
.well {
  border-radius: 0px !important;
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  box-shadow: none;
}

/* line 72, ../sass/main - original.scss */
.well-primary {
  background-color: #428BCA !important;
  color: #fff;
}

/* line 77, ../sass/main - original.scss */
.well-warning {
  background-color: #f7941e !important;
  border: 1px solid #FFF !important;
  color: #fff;
}

/* Tooltip */
/* line 83, ../sass/main - original.scss */
.tooltip-primary + .tooltip > .tooltip-inner {
  background-color: #428BCA;
}

/* line 84, ../sass/main - original.scss */
.tooltip-primary + .tooltip > .tooltip-arrow {
  border-top-color: #428BCA;
}

/* line 87, ../sass/main - original.scss */
.tooltip-warning + .tooltip > .tooltip-inner {
  background-color: #f7941e;
}

/* line 88, ../sass/main - original.scss */
.tooltip-warning + .tooltip > .tooltip-arrow {
  border-top-color: #f7941e;
}

/*container*/
/* line 92, ../sass/main - original.scss */
.containerWithSecondBar {
  padding-top: 80px;
  margin-top: 30px;
}

/*nav bar*/
/* line 97, ../sass/main - original.scss */
#btn-navbar-toggle {
  border: 1px solid #eee;
}

/* line 100, ../sass/main - original.scss */
.icon-bar {
  background-color: #CCCCCC;
}

/* Button*/
/* line 104, ../sass/main - original.scss */
.btn {
  cursor: pointer;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  border-radius: 0px;
}

/* line 128, ../sass/main - original.scss */
.btn-default {
  border-style: solid;
  border-color: #ccc;
  color: #000;
}

/* line 133, ../sass/main - original.scss */
.btn-link {
  color: #777;
}

/* line 136, ../sass/main - original.scss */
.btn-link:hover, .btn-link:active, .btn-link:focus {
  color: #000;
}

/* line 139, ../sass/main - original.scss */
.btn-warning {
  background-color: #f7941e;
}

/* line 142, ../sass/main - original.scss */
.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  background-color: #eb8000;
}

/* line 145, ../sass/main - original.scss */
.login-btn {
  padding: 1.5rem 2.4rem !important;
}

/* line 148, ../sass/main - original.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #ffffff;
  border-color: #428bca;
}

/* line 152, ../sass/main - original.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #f5f5f5 !important;
}

/* line 155, ../sass/main - original.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 158, ../sass/main - original.scss */
#btn-login > a {
  margin: 0px;
  color: #ffffff;
}

/* line 162, ../sass/main - original.scss */
#btn-login > a:hover {
  margin: 0px;
  color: #ffffff;
  background-color: #3276b1 !important;
  border-color: #285e8e !important;
}

/* line 168, ../sass/main - original.scss */
#btn-login a::after {
  background: none !important;
}

/*Dropdown menu*/
/* line 172, ../sass/main - original.scss */
.dropdown-menu {
  border-radius: 0px;
  -webkit-box-shadow: none;
}

/* line 176, ../sass/main - original.scss */
.dropdown-menu > li > a {
  text-align: left;
}

/* line 179, ../sass/main - original.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
  color: #f7941e !important;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/*Dropdown menu effect*/
/* line 186, ../sass/main - original.scss */
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 191, ../sass/main - original.scss */
.open > .dropdown-menu li a {
  color: #000;
}

/* line 194, ../sass/main - original.scss */
.dropdown-menu li a {
  color: #fff;
}

/* line 197, ../sass/main - original.scss */
.dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

/* line 209, ../sass/main - original.scss */
.date-picker > p > ul {
  -webkit-transform-origin: none !important;
  transform-origin: none !important;
  -webkit-animation-fill-mode: none !important;
  animation-fill-mode: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  transition: none !important;
  -webkit-transition: none !important;
}

/* line 219, ../sass/main - original.scss */
.dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

/* line 226, ../sass/main - original.scss */
.dropup > .dropdown-menu:after {
  border-bottom: 0;
  border-top: 6px solid rgba(39, 45, 51, 0.9);
  top: auto;
  display: inline-block;
  bottom: -6px;
  content: '';
  position: absolute;
  left: 50%;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

/* line 241, ../sass/main - original.scss */
.columns-4 .nav,
.columns-4 .collapse,
.columns-4 .dropup,
.columns-4 .dropdown {
  position: static;
}

/* line 244, ../sass/main - original.scss */
.columns-4 .container {
  position: relative;
}

/* line 247, ../sass/main - original.scss */
.columns-4 .dropdown-menu {
  left: auto;
}

/* line 250, ../sass/main - original.scss */
.columns-4 .columns-4-content {
  /*padding: 5px 0px;*/
}

/* line 254, ../sass/main - original.scss */
.columns-4 .dropdown .dropdown-menu {
  left: 0;
  right: 0;
  top: 87px;
}

/* line 259, ../sass/main - original.scss */
.fix .create-submenu {
  right: 0px !important;
  left: 0px !important;
  position: fixed !important;
  z-index: 10 !important;
}

/* line 265, ../sass/main - original.scss */
.close-create-submenu {
  height: 20px;
}

/* line 268, ../sass/main - original.scss */
.create-submenu > .well {
  margin-bottom: 0px !important;
  border: none !important;
}

/* line 272, ../sass/main - original.scss */
.create-submenu-well {
  padding-top: 5px !important;
}

/* line 275, ../sass/main - original.scss */
.close-create-submenu > a > span {
  color: #a1c4e5;
  font-size: 20px;
}

/* line 279, ../sass/main - original.scss */
.close-create-submenu > a:hover > span {
  color: #ffffff !important;
}

/* line 282, ../sass/main - original.scss */
.columns-create-submenu {
  border-right: 1px solid #a1c4e5;
}

/* line 285, ../sass/main - original.scss */
.columns-create-submenu-icon-1 {
  background: url(../img/icon/iconMetricSmall.png) no-repeat center;
  height: 100px;
}

/* line 289, ../sass/main - original.scss */
.columns-create-submenu-icon-2 {
  background: url(../img/icon/iconHistoricalEventsSmall.png) no-repeat center;
  height: 100px;
}

/* line 293, ../sass/main - original.scss */
.columns-create-submenu-icon-3 {
  background: url(../img/icon/iconVisualisationSmall.png) no-repeat center;
  height: 100px;
}

/* line 297, ../sass/main - original.scss */
.columns-create-submenu-icon-4 {
  background: url(../img/icon/iconMapSmall.png) no-repeat center;
  height: 100px;
}

/* line 302, ../sass/main - original.scss */
.columns-create-submenu-text {
  margin-top: 15px;
}

/* line 305, ../sass/main - original.scss */
.columns-create-submenu-text > a > h3 {
  margin-top: 10px !important;
  color: #a1c4e5 !important;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 19px;
}

/* line 313, ../sass/main - original.scss */
.columns-create-submenu-text > a:hover, .columns-create-submenu-text > a:focus {
  text-decoration: none !important;
  cursor: pointer;
}

/* line 317, ../sass/main - original.scss */
.columns-create-submenu-text > a:hover > h3, .columns-create-submenu-text > a:focus > h3 {
  color: #ffffff !important;
}

/*input*/
/* line 321, ../sass/main - original.scss */
.browse-input {
  border-right: none;
  border-left: none;
}

/* Panel */
/* line 327, ../sass/main - original.scss */
.panel {
  border-radius: 0px !important;
  box-shadow: none;
}

/* line 331, ../sass/main - original.scss */
.panel-default {
  border-color: #428bca;
}

/* line 334, ../sass/main - original.scss */
.panel-default > .panel-heading {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

/* line 339, ../sass/main - original.scss */
.panel-title > a {
  cursor: pointer;
}

/* Tab */
/* line 343, ../sass/main - original.scss */
.nav-tabs > li {
  cursor: pointer;
}

/* line 346, ../sass/main - original.scss */
.nav-tabs > li > a {
  color: #58595b;
  border-radius: 0px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

/* line 353, ../sass/main - original.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  text-decoration: none;
  background-color: #f7941e !important;
  color: #f7941e;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

/* line 361, ../sass/main - original.scss */
.nav-tabs.nav-justified > li > a {
  border-bottom: 0px !important;
}

/* line 365, ../sass/main - original.scss */
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  text-decoration: none;
  background-color: #f7941e !important;
  color: #fff !important;
  cursor: pointer;
}

/* line 371, ../sass/main - original.scss */
.nav-pills > li > a {
  cursor: pointer;
}

/* line 374, ../sass/main - original.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #FFF;
  background-color: #428BCA !important;
  cursor: pointer;
}

/* line 379, ../sass/main - original.scss */
.nav-pills > .tab-content > .tab-pane {
  border-top: solid 1px #ddd;
}

/* line 382, ../sass/main - original.scss */
.nav-tabs {
  border-bottom: 0px;
}

/* line 385, ../sass/main - original.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
  text-decoration: none;
  background-color: #f7941e !important;
  color: #fff !important;
}

/* line 390, ../sass/main - original.scss */
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  background-color: #F5F5F5 !important;
}

/* line 393, ../sass/main - original.scss */
.nav-tabs.nav-justified > li > a {
  border-radius: 0px;
}

/* line 396, ../sass/main - original.scss */
.tab-content > .tab-pane {
  min-height: 50px;
  padding: 10px;
}

/* line 400, ../sass/main - original.scss */
.tab-content {
  border: 1px solid #ddd;
}

/* line 403, ../sass/main - original.scss */
.tabScrollable .ng-isolate-scope .tab-content {
  overflow: auto;
  height: 200px;
}

/* Pagination*/
/* line 408, ../sass/main - original.scss */
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 412, ../sass/main - original.scss */
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 416, ../sass/main - original.scss */
.pager li > a, .pager li > span {
  border-radius: 0px;
}

/* Rating */
/* line 420, ../sass/main - original.scss */
.rating {
  color: #f7941e;
}

/* footer*/
/* line 424, ../sass/main - original.scss */
footer {
  border-top: 1px solid #CCCCCC;
}

/* line 427, ../sass/main - original.scss */
.footer-wrapper a {
  color: #58595b;
  font-weight: 400;
}

/* line 431, ../sass/main - original.scss */
.footer-wrapper > .col-lg-6:first-child {
  border-right: 1px solid #CCCCCC;
}

/* line 434, ../sass/main - original.scss */
.footer-wrapper a:hover, .footer-wrapper a:focus, .footer-wrapper a:active {
  color: #fa8800;
  font-weight: 400;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/*Fcm Page*/
/* line 443, ../sass/main - original.scss */
.fcm-editor-icon {
  font-size: 66px;
}

/* line 446, ../sass/main - original.scss */
.fcm-editor-effect {
  min-height: 135px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
}

/* line 452, ../sass/main - original.scss */
.fcm-editor-effect > a {
  color: #ffffff;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/* line 459, ../sass/main - original.scss */
.fcm-editor-effect > a:hover, .fcm-editor-effect > a:active, .fcm-editor-effect > a:focus {
  color: #E3E3E3;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

/* line 467, ../sass/main - original.scss */
.fcm-editor-window {
  min-height: 250px;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}

/* Pc*/
@media only screen and (min-width: 1024px) {
  /* nav-small*/
  /* line 477, ../sass/main - original.scss */
  .nav-small > .col-lg-12 > .pull-right > a {
    color: #777;
    font-weight: 400;
  }

  /* line 481, ../sass/main - original.scss */
  .nav-small > .col-lg-12 > .pull-right > a:hover, .nav-small > .col-lg-12 > .pull-right > a:focus, .nav-small > .col-lg-12 > .pull-right > a:active {
    color: #fa8800;
    font-weight: 400;
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
  }

  /* line 488, ../sass/main - original.scss */
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  /* line 494, ../sass/main - original.scss */
  .navbar-nav .divider-vertical {
    height: 50px;
    /*margin: 0 9px;*/
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #f2f2f2;
  }

  /* line 500, ../sass/main - original.scss */
  .navbar-text {
    float: left;
    margin-left: 0px !important;
  }

  /* line 504, ../sass/main - original.scss */
  .nav-small {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.8em;
    padding-top: 10PX;
  }

  /*logo */
  /* line 511, ../sass/main - original.scss */
  .logo-wrapper {
    margin-top: 10px;
  }

  /* Navs*/
  /* line 515, ../sass/main - original.scss */
  .sign-in-wrapper {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  /* line 519, ../sass/main - original.scss */
  .sign-in-wrapper > .nav-text {
    padding-right: 5px;
    color: #777;
  }

  /* line 523, ../sass/main - original.scss */
  .nav-medium > button {
    margin-bottom: 10px;
  }

  /* line 526, ../sass/main - original.scss */
  .nav-medium a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1em;
  }

  /* line 542, ../sass/main - original.scss */
  .nav-medium a:hover, .nav-medium a:active,
  .nav-medium a:focus {
    outline: none;
  }

  /* nav-medium-effect: move up fade out, push border */
  /* line 546, ../sass/main - original.scss */
  .nav-medium-effect a {
    color: #000;
    text-shadow: none;
    padding: 10px 0;
    text-decoration: none;
  }

  /* line 553, ../sass/main - original.scss */
  .nav-medium-effect a::before {
    color: #777;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
  }

  /* line 563, ../sass/main - original.scss */
  .nav-medium-effect a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #eb8000;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
  }

  /* line 584, ../sass/main - original.scss */
  .nav-medium-effect a:hover::before, .nav-medium-effect a:active::before
  .nav-medium-effect a:focus::before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-backface-visibility: hidden;
  }

  /* line 593, ../sass/main - original.scss */
  .nav-medium-effect a:hover::after, .nav-medium-effect a:active::after,
  .nav-medium-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-backface-visibility: hidden;
  }

  /* line 601, ../sass/main - original.scss */
  .navbar-ex1-collapse {
    padding-left: 0 !important;
  }

  /* line 604, ../sass/main - original.scss */
  .navbar {
    height: 20px;
  }

  /* line 607, ../sass/main - original.scss */
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent !important;
  }

  /* line 610, ../sass/main - original.scss */
  .navbar-default {
    background-color: #fff;
    border-color: #fff;
  }

  /* line 614, ../sass/main - original.scss */
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
  }

  /* line 617, ../sass/main - original.scss */
  .navbar-brand {
    display: none !important;
  }

  /* line 620, ../sass/main - original.scss */
  .breadcrumb {
    background-color: #FFF !important;
  }

  /* line 623, ../sass/main - original.scss */
  .border-top {
    background: url(../img/border-top.png) no-repeat center;
    height: 15px;
  }

  /* line 627, ../sass/main - original.scss */
  .border-bottom {
    background: url(../img/border-bottom.png) no-repeat center;
    height: 15px;
  }

  /* line 631, ../sass/main - original.scss */
  .footer-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* ipad landscape*/
@media only screen and (min-width: 768px) and (max-width: 1185px) {
  /* nav-small*/
  /* line 639, ../sass/main - original.scss */
  .nav-small > .col-lg-12 > .pull-right > a {
    color: #777;
    font-weight: 400;
  }

  /* line 643, ../sass/main - original.scss */
  .nav-small > .col-lg-12 > .pull-right > a:hover, .nav-small > .col-lg-12 > .pull-right > a:focus, .nav-small > .col-lg-12 > .pull-right > a:active {
    color: #fa8800;
    font-weight: 400;
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
  }

  /* line 650, ../sass/main - original.scss */
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  /* line 656, ../sass/main - original.scss */
  .nav-small {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.8em;
    padding-top: 10PX;
  }

  /*logo */
  /* line 663, ../sass/main - original.scss */
  .logo-wrapper {
    margin-top: 10px;
    text-align: center;
  }

  /* line 667, ../sass/main - original.scss */
  .page {
    padding-top: 155px;
  }

  /* line 670, ../sass/main - original.scss */
  .sign-in-wrapper {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  /* line 674, ../sass/main - original.scss */
  .sign-in-wrapper > .nav-text {
    padding-right: 5px;
    color: #777;
  }

  /* line 678, ../sass/main - original.scss */
  .nav-medium > button {
    margin-bottom: 10px;
  }

  /* line 681, ../sass/main - original.scss */
  .nav-medium a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1em;
  }

  /* line 697, ../sass/main - original.scss */
  .nav-medium a:hover, .nav-medium a:active,
  .nav-medium a:focus {
    outline: none;
  }

  /* nav-medium-effect: move up fade out, push border */
  /* line 701, ../sass/main - original.scss */
  .nav-medium-effect a {
    color: #000;
    text-shadow: none;
    padding: 10px 0;
    text-decoration: none;
  }

  /* line 708, ../sass/main - original.scss */
  .nav-medium-effect a::before {
    color: #777;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
  }

  /* line 719, ../sass/main - original.scss */
  .nav-medium-effect a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #eb8000;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
  }

  /* line 740, ../sass/main - original.scss */
  .nav-medium-effect a:hover::before, .nav-medium-effect a:active::before
  .nav-medium-effect a:focus::before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-backface-visibility: hidden;
  }

  /* line 749, ../sass/main - original.scss */
  .nav-medium-effect a:hover::after, .nav-medium-effect a:active::after,
  .nav-medium-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-backface-visibility: hidden;
  }

  /* line 757, ../sass/main - original.scss */
  .navbar-ex1-collapse {
    padding-left: 0 !important;
  }

  /* line 760, ../sass/main - original.scss */
  .navbar {
    height: 20px;
  }

  /* line 763, ../sass/main - original.scss */
  .navbar-default {
    background-color: #fff;
    border-color: #fff;
  }

  /* line 767, ../sass/main - original.scss */
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
  }

  /* line 770, ../sass/main - original.scss */
  .navbar-brand {
    display: none !important;
  }

  /* line 773, ../sass/main - original.scss */
  .breadcrumb {
    background-color: #FFF !important;
  }

  /* line 776, ../sass/main - original.scss */
  .border-top {
    background: url(../img/border-top.png) no-repeat center;
    height: 15px;
  }

  /* line 780, ../sass/main - original.scss */
  .border-bottom {
    background: url(../img/border-bottom.png) no-repeat center;
    height: 15px;
  }

  /* line 784, ../sass/main - original.scss */
  .footer-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* ipad portrait*/
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* nav-small*/
  /* line 792, ../sass/main - original.scss */
  .nav-small > .col-lg-12 > .pull-right > a {
    color: #777;
    font-weight: 400;
  }

  /* line 796, ../sass/main - original.scss */
  .nav-small > .col-lg-12 > .pull-right > a:hover, .nav-small > .col-lg-12 > .pull-right > a:focus, .nav-small > .col-lg-12 > .pull-right > a:active {
    color: #fa8800;
    font-weight: 400;
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
  }

  /* line 803, ../sass/main - original.scss */
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  /* line 809, ../sass/main - original.scss */
  .navbar-collapse .navbar-nav > .divider-vertical {
    display: none;
  }

  /* line 812, ../sass/main - original.scss */
  .nav-small {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.8em;
    padding-top: 10PX;
  }

  /*logo */
  /* line 819, ../sass/main - original.scss */
  .logo-wrapper {
    margin-top: 10px;
    text-align: center;
  }

  /* line 823, ../sass/main - original.scss */
  .page {
    padding-top: 165px;
  }

  /* line 826, ../sass/main - original.scss */
  .sign-in-wrapper {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  /* line 830, ../sass/main - original.scss */
  .sign-in-wrapper > .nav-text {
    padding-right: 5px;
    color: #777;
  }

  /* line 834, ../sass/main - original.scss */
  .nav-medium > button {
    margin-bottom: 10px;
  }

  /* line 837, ../sass/main - original.scss */
  .nav-medium {
    font-size: 12px;
  }

  /* line 840, ../sass/main - original.scss */
  .nav-medium a {
    padding: 0px 0px 10px  0px !important;
    margin: 15px 15px 15px 5px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1em;
  }

  /* line 857, ../sass/main - original.scss */
  .nav-medium a:hover, .nav-medium a:active,
  .nav-medium a:focus {
    background-color: #ffffff !important;
    outline: none;
  }

  /* nav-medium-effect: move up fade out, push border */
  /* line 862, ../sass/main - original.scss */
  .nav-medium-effect a {
    color: #000;
    text-shadow: none;
    padding: 10px 0;
    text-decoration: none;
  }

  /* line 869, ../sass/main - original.scss */
  .nav-medium-effect a::before {
    color: #777;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
  }

  /* line 880, ../sass/main - original.scss */
  .nav-medium-effect a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
  }

  /* line 900, ../sass/main - original.scss */
  .nav-medium-effect a:hover::before, .nav-medium-effect a:active::before
  .nav-medium-effect a:focus::before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-backface-visibility: hidden;
  }

  /* line 909, ../sass/main - original.scss */
  .nav-medium-effect a:hover::after, .nav-medium-effect a:active::after,
  .nav-medium-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-backface-visibility: hidden;
  }

  /* line 917, ../sass/main - original.scss */
  .navbar-ex1-collapse {
    padding-left: 0 !important;
  }

  /* line 920, ../sass/main - original.scss */
  .navbar {
    height: 20px;
  }

  /* line 923, ../sass/main - original.scss */
  .navbar-default {
    background-color: #fff;
    border-color: #fff;
  }

  /* line 927, ../sass/main - original.scss */
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
  }

  /* line 930, ../sass/main - original.scss */
  .navbar-brand {
    display: none !important;
  }

  /* line 933, ../sass/main - original.scss */
  .breadcrumb {
    background-color: #FFF !important;
  }

  /* line 936, ../sass/main - original.scss */
  .border-top {
    background: url(../img/border-top.png) no-repeat center;
    height: 15px;
  }

  /* line 940, ../sass/main - original.scss */
  .border-bottom {
    background: url(../img/border-bottom.png) no-repeat center;
    height: 15px;
  }

  /* line 944, ../sass/main - original.scss */
  .footer-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* iPhone*/
@media only screen and (max-width: 400px) {
  /* line 951, ../sass/main - original.scss */
  .navbar-brand {
    display: inline !important;
  }

  /* nav-small*/
  /* line 955, ../sass/main - original.scss */
  .nav-small > .col-lg-12 > .pull-right > a {
    color: #777;
    font-weight: 400;
  }

  /* line 959, ../sass/main - original.scss */
  .nav-small > .col-lg-12 > .pull-right > a:hover, .nav-small > .col-lg-12 > .pull-right > a:focus, .nav-small > .col-lg-12 > .pull-right > a:active {
    color: #fa8800;
    font-weight: 400;
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
  }

  /* line 966, ../sass/main - original.scss */
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  /* line 972, ../sass/main - original.scss */
  .nav-small {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.8em;
    padding-top: 10PX;
  }

  /*logo */
  /* line 979, ../sass/main - original.scss */
  .logo-wrapper {
    margin-top: 10px;
    text-align: center;
  }

  /*
   */
  /* line 985, ../sass/main - original.scss */
  .sign-in-wrapper {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  /* line 989, ../sass/main - original.scss */
  .sign-in-wrapper > .nav-text {
    padding-right: 5px;
    color: #777;
  }

  /* line 993, ../sass/main - original.scss */
  .nav-medium > button {
    margin-bottom: 10px;
  }

  /* line 996, ../sass/main - original.scss */
  .nav-medium a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1em;
  }

  /* line 1012, ../sass/main - original.scss */
  .nav-medium a:hover, .nav-medium a:active,
  .nav-medium a:focus {
    outline: none;
  }

  /* nav-medium-effect: move up fade out, push border */
  /* line 1016, ../sass/main - original.scss */
  .nav-medium-effect a {
    color: #000;
    text-shadow: none;
    padding: 10px 0;
    text-decoration: none;
  }

  /* line 1023, ../sass/main - original.scss */
  .nav-medium-effect a::before {
    color: #777;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
  }

  /* line 1034, ../sass/main - original.scss */
  .nav-medium-effect a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #eb8000;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
  }

  /* line 1055, ../sass/main - original.scss */
  .nav-medium-effect a:hover::before, .nav-medium-effect a:active::before
  .nav-medium-effect a:focus::before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-backface-visibility: hidden;
  }

  /* line 1064, ../sass/main - original.scss */
  .nav-medium-effect a:hover::after, .nav-medium-effect a:active::after,
  .nav-medium-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-backface-visibility: hidden;
  }

  /* line 1072, ../sass/main - original.scss */
  .navbar-ex1-collapse {
    padding-left: 0 !important;
  }

  /* line 1075, ../sass/main - original.scss */
  .navbar {
    height: 20px;
  }

  /* line 1078, ../sass/main - original.scss */
  .navbar-default {
    background-color: #fff;
    border-color: #fff;
  }

  /* line 1082, ../sass/main - original.scss */
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
  }

  /* line 1085, ../sass/main - original.scss */
  .navbar-brand {
    display: none !important;
  }

  /* line 1088, ../sass/main - original.scss */
  .breadcrumb {
    background-color: #FFF !important;
  }

  /* line 1091, ../sass/main - original.scss */
  .border-top {
    background: url(../img/border-top.png) no-repeat center;
    height: 15px;
  }

  /* line 1095, ../sass/main - original.scss */
  .border-bottom {
    background: url(../img/border-bottom.png) no-repeat center;
    height: 15px;
  }

  /* line 1099, ../sass/main - original.scss */
  .footer-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
