.pc-datagrid {
    height: 260px;
    overflow: auto;
}

.pc-datagrid-heading {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pc-datagrid-mainlabel {
    font-weight: bold;
    margin-top: 25px;
}

.pc-metric-formcontrols {
    padding-top: 20px;
}

.pc-datagrid-columnselect {

}

.dropzone .dz-default.dz-message {
    background-image: url("drop-bg.png");
    height: 200px;
    margin-top: -100.0px;
    margin-left: -203.0px;
}

.pc-from-file {
    min-height: 300px;
    min-width: 200px;
    background: red;
}
