<update-meta ng-if="mode == 'create'" property="og:description" content="Create an Argument Graph"></update-meta>
<update-meta ng-if="mode == 'edit'" property="og:title" content="{{ ag.name }}"></update-meta>
<update-meta ng-if="mode == 'edit'" property="og:description" content="Edit Argument Graph"></update-meta>

<div class="container container-create-visualisation" id="container-create-visualisation">
    <div class="content-header">
        <h3 ng-if="mode == 'create'" class="fonticon fonticon-ag">Create an Argument Graph</h3>
        <h3 ng-if="mode == 'edit'" class="fonticon fonticon-ag">Edit Argument Graph</h3>

        <div class="subtitle-help">
            <div ng-class="{active: help}" class="help-text">
                <div class="fonticon fonticon-close" ng-click="help=!help"></div>
                <p>You can create an argument graph using this form.</p>
            </div>
        </div>
    </div>

    <div class="pc-visualization-formcontrols">
        <div class="button-group">
            <div style="float:left" ng-show="canDraft">
                <toggle-switch html="true" ng-model="ag.is_draft" on-label="Draft" off-label="Public" class="switch-danger" ></toggle-switch>
                &nbsp;
            </div>
            <a href="#!/login" ng-if="!userState || !userState.loggedIn" class="btn btn-default btn-save" target="_blank">Login to Save</a>
            <a href="" data-ng-disabled="agForm.$invalid" ng-if="userState.loggedIn" class="btn btn-default btn-save" ng-click="createAg()">Save</a>
            <a type="button" class="btn btn-danger" href="#!/ags/{{ag.id}}">Cancel</a>
        </div>
    </div>

    <div class="content-body">

        <div class="row" ng-if="mode == 'create'">
            <div class="col-lg-12" id="ags-discussion">
                <h4 class="legend-primary">Discussion</h4>
                <show-discussion autoresize="false" data-key="{{ discussionID }}" auto-resize="false"></show-discussion>
            </div>
        </div>

        <form name="agForm" role="form" novalidate>

                    <h4 class="legend-primary">Argument graph</h4>
                    <div wellaged graph="ag.data" editor="editor" mode="edit"></div>

            <div class="row">
                <h4 class="legend-primary">Main Details</h4>
                <div class="col-lg-12">


                    <div class="form-group" ng-class="{'has-error': agForm.title.$dirty && agForm.title.$invalid}">
                        <label for="name">Title *</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Argumentation graph title" ng-model="ag.name" required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': agForm.agdescription.$dirty && agForm.agdescription.$invalid}">
                        <label for="agdescription" class="">Description *</label>
                        <textarea class="form-control" rows="10" id="agdescription" name="agdescription" ng-model="ag.description" required></textarea>
                    </div>
                </div>

            </div>


        </form>
    </div>

    <div class="pc-visualization-formcontrols">
        <div class="button-group">
            <div style="float:left" ng-show="canDraft">
                <toggle-switch html="true" ng-model="ag.is_draft" on-label="Draft" off-label="Public" class="switch-danger" ></toggle-switch>
                &nbsp;
            </div>
            <a href="#!/login" ng-if="!userState || !userState.loggedIn" class="btn btn-default btn-save" target="_blank">Login to Save</a>
            <a href="" data-ng-disabled="agForm.$invalid" ng-if="userState.loggedIn" class="btn btn-default btn-save" ng-click="createAg()">Save</a>
            <a type="button" class="btn btn-danger" href="#!/ags/{{ag.id}}">Cancel</a>
        </div>
    </div>


</div>
