<update-meta property="og:title" content="{{ ag.name }}"></update-meta>
<update-meta property="og:description" content="{{ ag.description }}"></update-meta>
<div class="container">
    <div class="content-header">
        <h1 class="fonticon fonticon-ag">{{ ag.name }}</h1>

        <div class="pc-visualization-formcontrols">
            <div class="button-group">
                <a type="button" class="btn btn-primary  btn-create" ng-if="userState.loggedIn && (userState.userPath == ag.creator_path || userState.isAdmin)" href="#!/ags/{{ ag.id }}/edit">Edit</a>
                <a type="button" class="btn btn-danger  btn-clear" ng-if="userState.loggedIn && (userState.userPath == ag.creator_path || userState.isAdmin)" ng-click="deleteAg(ag)">Delete</a>
            </div>

            <a href="#" ng-if="ag.is_draft" ng-disabled="ag.is_draft" class="btn btn-default btn-danger">Draft</a>
        </div>
    </div>
    <div class="row">
        <div class="metadata metadata-event metadata-event-description">
            <div class="form-group form-group-description" ngshow="ag.description">
                <div class="field-label">Description</div>
                <div class="field-content">{{ag.description}}</div>
            </div>
        </div>
    </div>


    <div class="row">
        <h3 class="legend-primary">Argument graph</h3>
        <div wellaged graph="ag.data" editor="editor" mode="view"></div>
    </div>

    <div class="row">
        <h3 class="legend-primary">Details</h3>
        <!-- FIELDS START -->
        <div class="metadata metadata-event">

            <div class="form-group form-group-modified">
                <div class="form-item" ng-if="ag.creator_path">
                    <div class="field-label">Added by</div>
                    <div class="field-content">
                        <username userpath="{{ ag.creator_path }}"></username>
                    </div>
                </div>
                <div class="form-item" ng-if="ag.date_created">
                    <div class="field-label">Added</div>
                    <div class="field-content">{{ ag.date_created | date:'longDate' }}</div>
                </div>
                <div class="form-item" ng-if="ag.date_modified">
                    <div class="field-label">Modified</div>
                    <div class="field-content">{{ ag.date_modified | date:'longDate' }}</div>
                </div>
            </div>

            <div class="form-group form-group-rating">
                <div class="form-item">
                    <div class="field-label">Rating</div>
                    <div class="field-content">
                        <pc-rating ng-if="ag.id" rating-id="ag_{{ag.id}}"></pc-rating>
                    </div>
                </div>
            </div>

        </div>
        <!-- FIELDS END -->
    </div>


    <div class="row">
        <h3 class="legend-primary">Discussion</h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <show-discussion ng-if="ag.id" data-key="ag_{{ ag.id }}"></show-discussion>
        </div>
    </div>


</div>
