.row-flex {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    .view-item {
        width: 50%;
        @include paddings();
        // @include rowMachine(2, 1%);
        // background:red;
        margin-bottom: 20px;
        .view-item-wrap {
            // background:$bk_2;
            // overflow:hidden;
        }
    }
}

.row-view {
    .view-item {

    }
}

.content-body-2 {

}

