.want-to-page {
    h2.page-title {
        float: left;
    }
}

.head-wrap {
    margin: 1em auto;

}

ul.toc {
    .active {
        font-weight: bold;
    }
}

@media (min-width: $device) {

    ul.toc {
        a {
            /*color:$general;*/
        }

        @include reset-list();
        margin-top: .5em;
        margin-left: 1em;
        margin-bottom: 1em;
        // background:white;
        // border:1px solid $bk;
        display: inline-block;
        padding-top: 2em;
        overflow: hidden;
        // position:absolute;
        // top:-53px;
        // right:-10px;

        .toc li .active {
            &:before {
                content: "";
                position: absolute;
                top: -20px;
                display: inline-block;
                line-height: 0;
                right: 0px;
                width: 250px;
                height: 20px;
                background: url(../img/states.svg) no-repeat;
                background-size: 240px;
                // background-position:-10px 0px;

            }
        }

        li {
            display: block;
            float: left;
            width: 250px;
            padding-left: 0em;
            // padding:0 1em;
            font-size: 14px;
            // color:red;
            // background:silver;
            // margin:5px;

            margin-right: -28px;
            text-align: center;
            // height:2em;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: -20px;
                display: inline-block;
                line-height: 0;
                right: 0px;
                width: 250px;
                height: 20px;
                //background:url(../img/states.svg) no-repeat;
                background-size: 240px;
                // background-position:-10px 0px;

            }
            &:nth-child(1) {
                &:before {
                    //background-image:url(../img/states2.svg) ;
                    // background-position:60px 0;
                }
            }
            &:last-of-type {
                margin-right: 0;
                &:before {
                    // background-position:-110px 0;
                }
            }
            &.active {
                // color:$bk_3;
                // font-weight:bold;
                font-weight: normal;
                &:before {
                    // background-position:-130px -16px;
                    background: url(../img/states2.svg) no-repeat;
                }
                &:first-of-type:before {
                    // background-position:60px -16px;
                }

            }
            &.inactive {
                // color:$bk_3;
                // font-weight:bold;

                &:before {
                    // background-position:-130px -16px;
                    background: url(../img/states.svg) no-repeat;
                }
                &:first-of-type:before {
                    // background-position:60px -16px;
                }

            }
            &.current {
                // font-weight:700;
            }
        }
    }
}

.want-to-page .content-inner, .want-to-page .header-inner {
    max-width: 980px;
    margin: 0 auto;
}

.want-list {
    @include reset-list();
    overflow: hidden;
    // display:none;
    .img-link {
        position: absolute;
        top: 0;
        left: 0;
    }

    .want-item {

        background: linear-gradient(155deg, white, $gris_90);
        width: 33%;
        float: left;
        // height:180px;
        height: 190px;
        overflow: hidden;
        position: relative;
        // outline:1px solid black;
        // border-bottom:1px solid white;
        .modal {
            display: none;
            position: absolute;
            TOP: 0;
            left: 0;
        }
        h3 {
            // @include center();
            // background:transparentize(black,.5);
            // display:none;
            // opacity:0;
            height: 100%;
            margin: 0;
            text-align: center;
            // padding:.5em 0;
            // line-height:1em;
            color: white;
            a {
                display: block;
                // @include center();
                width: 100%;
                height: 100%;
                padding-top: 20%;
                color: white;
                opacity: 0;
                @include transition(all 0.4s linear);
                position: absolute;
                // transform: translateX(-100%) translateY(-100%);

            }
        }

        &:before {
            content: "\e60e";
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 60px;
            // line-height:1em;
            color: $gris_80;
            opacity: .9;
            display: block;
            @include transition(all 0.4s linear);
            transform: translateX(-50%) translateY(-50%);

        }

        &:hover {

            h3 {
                // opacity:1;
            }
            h3 a {
                opacity: 1;
                background: $gris_50;
                padding-top: 20%;
                // transform: translateX(0%) translateY(-0%);
            }
            &:before {
                // background:$gris_50;
                // font-size:160px;
                opacity: .5;
                color: white;

                transform: translateX(-50%) translateY(60%);
            }

        }
    }
    .want-item-definition:before {
        content: "\e60f";
    }
    .want-item-import:before {
        content: "\e600";
    }
    .want-item-metrics:before {
        content: "\e613";
    }
    .want-item-create:before {
        content: "\e615";
    }
    .want-item-cognitive:before {
        content: "\e610";
    }
    .want-item-deliverate:before {
        content: "\e606";
    }
    .want-item-adhocracy:before {
        content: "\e606";
    }
    .want-item-carneadas:before {
        content: "\e606";
    }
    .want-item-carneadas2:before {
        content: "\e606";
    }
    .want-item-embed:before {
        content: "\e618";
    }

}

.want-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    display: block;
    z-index: 99;

    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    max-height: 420px;
    overflow: hidden;
    // min-height: 320px;
    // padding:40px;
    height: auto;
    backface-visibility: hidden;
    border: 1px solid $gris_40;
    border-radius: 4px;

    transform: translateX(-50%) translateY(-50%);
    &.md-active {
        visibility: visible;
    }
    p {
        // font-size:18px;
        // font-weight:300;
        color: white;
        background: transparentize($gris_50, .1);
        // line-height:1.5em;
        // background:linear-gradient(to top, $gris_50 50%,transparent);
        padding: 20px;
        // padding-top:50px;
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
    }
    img {
        padding: 40px;
        display: block;
        float: left;
    }
}

#modal-background {
    @include transition(all 0.2s linear);
    opacity: 0;
}

#modal-background.active {
    background: transparentize($gris_40, .5);
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 1;
}

.help-guide {
    display: none;
}

.help-guide.help-active {
    position: fixed;
    display: block;
    bottom: 0;
    background: rgba(102, 102, 102, 0.8);
    color: white;
    width: 100%;
    min-height: 3em;
    text-align: center;
    z-index: 100;
}

.help-guide.help-active p {
    padding: 2em 0;
    max-width: 80%;
    margin: 0 auto;
}

.help-nav {
    position: absolute;
    top: 40%;
    left: 1%;
    width: 2em;
    height: 2em;
    color: white;
    opacity: .5;
}

.help-nav:hover {
    opacity: 1;
}

.help-nav:before {
    content: "\e601";
    font-size: 40px;
    padding: 0;
}

.help-nav-next {
    left: auto;
    right: 1%;
}

.help-nav-next:before {
    content: "\e602";
}

.help-nav-whant {
    position: absolute;
    top: 5px;
    left: 1%;
    width: 2em;
    height: 2em;
    color: white;
    opacity: .5;
}

.help-nav-whant:hover {
    opacity: 1;
}

.help-nav-whant:before {
    content: "\e61a";
    font-size: 20px;
    padding: 0;
}

.help-nav-whant {
    right: auto;
    right: 1%;
}

.help-nav-close {
    position: absolute;
    top: 5px;
    left: 1%;
    width: 2em;
    height: 2em;
    color: white;
    opacity: .5;
}

.help-nav-close:hover {
    opacity: 1;
}

.help-nav-close:before {
    content: "\e60d";
    font-size: 20px;
    padding: 0;
}

.help-nav-close {
    left: auto;
    right: 1%;
}
