body {
    background: white;
    background: $gris_98;
    background: $gris_95;
    // padding:0;margin:0;
}

.cross-window-channel {
    display: none;
}

#logo {

    a {
        display: block;
        float: left;
    }
}

header {
    background: linear-gradient(to bottom, $gris_98 0%, $gris_95 99.5%, $gris_90);

}

#content {
    background: linear-gradient(to bottom, $gris_95 0%, $gris_98 10px);

    border-top: 1px solid darken($gris_90, 3);

}

#main-content {
    background: $gris_98;
}

body {
    color: $general;
}

.fcm-editor {
    background: $gris_90;
    #header {
        background: linear-gradient(to bottom, $gris_95 0%, $gris_80 100%);

    }
    #content {
        background: linear-gradient(to bottom, $gris_80 0%, $gris_90 10px);
        border-top: 1px solid darken($gris_70, 3);

    }
}

footer {
    background: linear-gradient(to bottom, #ededed, $gris_95 10px);
}

a {
    color: $bk_3;
    @include transition(color 0.2s ease);
    &:hover {
        // border-bottom:1px solid $gris_80;
        text-decoration: none;
        color: $bk;
        h3 {
            color: $bk;
            &:before {
                color: $bk;
            }
        }
    }

}

.content a:hover {

}
