$main:$bk_4_1;
$main_2:#aee0f0;
$main_3:$gris_95;
$main_bk:$gris_98;
$main_bk_2:$gris_90;

// $main:$bk_2;
// $main_2:#d2de9c;
// $main_3:#f5f3e3;
// $main_bk:#fffdf2;
// $main_bk_2:#dee8d9;


// $main:#855298;
// $main_2:#aeabce;
// $main_3:$gris_95;
// $main_bk:$gris_98;
// $main_bk_2:$gris_90;


.pagination > li > a, .pagination > li > span,
#main-menu a,
a,
.row-view-create .view-item-wrap:before,
h1, h2, h3, h4 {
  color:$main;
}
.row-view-main h3.fonticon:before {
  background:$main;
}
#main-menu a:focus, #main-menu a:hover {
  background:$main;
}
.submenu {
     background:linear-gradient(to bottom,$main,$main_2);
  
}

.result-wrapper {
  background:$main_3;
}
header {
background: linear-gradient(to bottom, $main_bk 0%, $main_3 99.5%, $main_bk_2);
}

#main-content {
  background: $main_bk;
}
body {
background:$main_3;
}
footer {
  background: linear-gradient(to bottom, $main_bk_2, $main_3 10px);
}