.cookielaw{
    background-color: #F7941E;
}

.cookielaw-text{
    display:block;
    color:white;
    margin:1% 0;
}

#cookielaw-link{
    color:white;
    text-decoration: underline;
    cursor: pointer;
}

#cookielaw-link:hover{
    color: black;
}

.cookielaw-close-icon{
    display:inline-block;
    padding-top: 8%;
    padding-right: 15%;
    color: white;
    cursor: pointer;
}

.cookielaw-close-icon:before{
    content:"\f00d";
}

.cookielaw-close-icon:hover{
    color: black;
}
