$negativo:$gris_80;
.loadingHome {
  position: absolute;
  
  
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: $gris_90;
  background:linear-gradient(to bottom, white, $gris_80);
  
  background:radial-gradient(rgba(255,255,255,.7) 20%, $gris_70), linear-gradient(to bottom, white, $gris_70);
  
    background:radial-gradient($gris_50 20%, $gris_20);

  
  text-align: center;
  width: 100%;
  height: 100%;
  margin:0;
  opacity: 0.96;
  h4 {
  margin-top:1em;
  color:$negativo;
  }
  
  

.loading {
  border: 2px solid transparent;
  border-color: transparent $negativo transparent $negativo;
}
#loading-text {
    color: $negativo;
}

$tamano:200px;
  .loading-container {
  position:absolute;
  right:0;
  left:0;
    margin-top:-45px;
    width:$tamano;
    height:$tamano;
    .loading {
      width:$tamano;
      height:$tamano;
      margin-left:-5px;
    }
  }
  
  #loading-text {
    display:none;
  }
}
.loading-wrap {
  position: relative;
  top: 45%;
  transform: translateY(-50%);

}


#loading-logo-wrap {
  max-width:400px;
  margin:0 auto;
  img {
      -webkit-filter: drop-shadow( 3px 3px 3px rgba(0,0,0,0) ); 
      // filter: drop-shadow( 5px 5px 0px rgba(255,255,255,0) ); 
  }
}