

@media screen and(min-width:$device) {
  #btn-navbar-toggle {
    display:none;
  }
  #page-header {
    // overflow:hidden;
  }
  .collapse {
  display: block;
  visibility: visible;
}


  #main-menu {
        
    & > li > a {
      padding:10px 15px 30px 5px;
    }
  }




.nav > li > a:hover, .nav > li > a:focus {
 
  background-color:transparentize(white,.5);
}



header .container  {
  position:relative;
}


  
.main-menu-wrap {

  

  
}
#main-menu {
    top:11px;
    position:absolute;
    right:0;
      // FLOAT:RIGHT;
      width:100%;

  li {
  display:inline;
    a {
      float:left;
    }
    
  }

}
.submenus {
  // width:100%;
  // background:black;
  // overflow:hidden;
  // height:2em;
  // position:relative;
   // background:linear-gradient(to bottom,$gris_50,$gris_70);

}
.submenu {
  width:100%;
  position:relative;
  overflow:hidden;
// display:none;

  // height:2em;
  // position:relative;
   background:linear-gradient(to bottom,$gris_50,$gris_70);
   
   position:absolute;
   top:50px;
   right:0;
   width:100%;
  ul {
    @include reset-list();
  }
  
  // position:absolute;
  // top:0px;
  /* animacion */
  @include transition(all 0.4s linear);
  // height:1px;
  // opacity:0;
  // position:absolute;
  // top:0;
  
  

  // background:silver;
  // background:$gris_80;
  ul {
    width:$device;
    overflow:hidden;
    margin:0 auto;
    padding:1em 0;
    
    li {
      width:16.66%;
      width:33.33%;
      float:left;
      
      a {
        display:block;
        padding:1em 0 1em 5em;
        // background:transparentize(white,.5);
        // text-transform:uppercase;
        margin:10px;
        color:transparentize($texto_negativo,.2);
        position:relative;
        &:before {
          // content:"\e638";
          font-size:40px;
          line-height:1em;
          position:absolute;
          top:5px;
          left:0em;
        }
        &:hover,&:focus {
          color:$texto_negativo;
        }
      }
    }

  }
      &.active {
       height:auto;
       position:relative;
       opacity:1;
    }
}

.fonticon-close {
  position:absolute;
  top:20px;
  right:20px;
  // background:white;
  // font-size:1.5em;
  width:2em;
  height:2em;
  
 color:transparentize($texto_negativo,.2);
  cursor:pointer;
  &:before {
    content:"\f00d";
  }
  
}




}