#btn-navbar-toggle {
    position: absolute;
    top: 5px;
    right: 20px;
}

@media (min-width: $device_7) {
    .navbar-toggle {
        display: block;
    }
}

.fonticon-create:before {
    content: "\e60f";
}

.fonticon-search:before {
    content: "\e60e";
}

.fonticon-want:before {
    content: "\e61a";
}

.fonticon-how:before {
    content: "\e617";
}

.fonticon-request:before {
    content: "\e618";
}

.fonticon-signup:before {
    content: "\e601";
}

.fonticon-login:before {
    content: "\e12c";
}

.fonticon-logout:before {
    content: "\e12d";
}

.fonticon-user:before {
    content: "\e619";
}

.fonticon-share:before {
    content: "\e61f";
}

.font-icon-historical_events:before {
    content: "\e612";
}

.font-icon-datasets:before {
    content: "\e611";
}

.font-icon-properties:before {
    content: "\e614";
}

.font-icon-metrics:before {
    content: "\e613";
}

.font-icon-visualisation:before {
    content: "\e615";
}

.font-icon-causal_models:before {
    content: "\e610";
}

.font-icon-sign_up:before {
    content: "\e605";
}

.font-icon-log_out:before {
    content: "\e61c";
}

.font-icon-log_in:before {
    content: "\e61b";
}
.font-icon-story:before {
    content: "\e900";
}
#main-menu {
    // margin-top:1.5em;
    a {
        color: $general;

        &:focus,
        &:hover {
            background: #808080;
            text-decoration: none;
        }

        padding: 15px 15px 14px;
        &.fonticon-share {
            color: $gris_70;
            // background:transparentize($gris_80,.9);

            &:focus,
            &:hover {
                // background:linear-gradient( to top,$gris_50, $gris_70);
                color: $texto_negativo;
            }
        }

    }
    li a {
        // border-right:1px solid $bk_1_2;
    }
    li:last-of-type a {
        border-right: none;
    }
}

.navbar-nav a.fonticon:before {

}

.nav > li > a:hover, .nav > li > a:focus {

    background-color: transparentize(white, .5);

}

.nav > li > a:focus {
    background: black;
    color: white;
}

header .container {
    position: relative;
}

.submenu-bk {
  background: #4d4d4d;
}
.submenu {
    width: 100%;
   
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    ul {
        @include reset-list();
    }

    // position:absolute;
    // top:0px;
    /* animacion */
    @include transition(opacity 0.2s ease);
    height: 1px;
    opacity: 0;
    position: absolute;
    top: 0;

    // background:silver;
    // background:$gris_80;
    ul {
        width: $device;
        overflow: hidden;
        margin: 0 auto;
        padding: 1em 0;

        li {
            width: 16.66%;
            width: 33.33%;
            float: left;

            a {
                display: block;
                padding: 1em 0 1em 5em;
                margin: 10px;
                color: #fff;
                position: relative;
                &:before {
                    // content:"\e638";
                    font-size: 40px;
                    line-height: 1em;
                    position: absolute;
                    top: 5px;
                    left: 0em;
                }
                &:hover, &:focus {
                    color: #bbb;
                }
            }
        }

    }
    &.active {
        height: auto;
        position: absolute;
        opacity: 1;
        // top:auto;
        height:100%;
        // height:calc(100% - 50px);
        
    }
    &.submenu-share {
        ul li a:before {
            font-size: 30px;
            left: 20px;
            top: 10px;
        }
    }
}

.fonticon-close {
    position: absolute;
    top: 10px;
    right: 20px;
    // background:white;
    // font-size:1.5em;
    width: 1.5em;
    height: 1.5em;

    color: transparentize($texto_negativo, .2);
    cursor: pointer;
    &:before {
        display: block;
        padding-top: 5px;
        content: "\e60d";
    }

}

// @media (max-width:$device) {

.main-menu-wrap {
    clear: both;
    background-color: #000;
}

// }

#main-menu {
    @include reset-list();
    li,
    a {
        display: block;
    }
}

@media (min-width: $device) {
    .navbar-header {
        .navbar-toggle {
            display: none;
        }
    }
    .main-menu-wrap {
        top: 0px;
        position: absolute;
        right: 0;
        &.collapse {
            display: block;
            visibility: visible;
        }
    }
    #main-menu {
        // margin-top:10px;
        li {
            display: inline;
            a {
                float: left;
            }

        }

    }
    .submenu {
        position: absolute;
        top: 50px;
        // padding-top:50px;
        &.active {
            z-index: 3000;
            top:0;
            padding-top:50px;
            // padding-top:50px;
            position: fixed;
        }
    }

}
