.container-wikipedia{
    margin: 5%;
    margin-top: 0%;
}

.container-wikipedia-entries{
    margin-top: 2%;
}

.wikipedia-search{
    //background-color:#f9f9f9;
    //height:120px;
    //width:40%;
    //min-width: 280px;
    //margin-left: 5%;
    word-wrap: break-word;
}
