.landing-page-wrapper,
.nav {
  a {
    color:$general;
  }
}

.main-content {
  // background:white;
  // padding-top:4em;
  padding-bottom:4em;
}
#logo {
  margin:20px 0;
  // margin-bottom:0em;
  // margin-top:2em;
  
  
  width:$unidad * 6;
  
  float:left;
  
  
  // padding-bottom:1em;
}
body > header {
 // @include clearfix();
 // height:86px;
 // background:$gris_98;
 }
 
 .content-header {
  padding-top:2em;
  padding-bottom:1em;
  // background:red;
 }
 
 .subtitle {
  // font-size:22px;
  // color:$claro;
  text-transform:uppercase;
  width:$unidad * 10;
  
}
.content-header-presentation {
  text-align:center;
    // margin-left:$unidad * 2 ;
  .subtitle {
    @media all and (min-width:$device) {
    margin-left:$unidad ;
    margin-right:$unidad;
    margin:0 auto;
     // width:$unidad * 8;
    }
  }  
}

.subtitle {
  color:$claro;
  
}

footer {
  font-size:.875em;
  color:$claro;
  padding-top:2em;
  .alert-paragraph {
    position:relative;
  }
  .alert-paragraph:before {
    content:"\e606";
    position:absolute;
    left:-2em;
    font-size:3em;
    color:$bk;
    color:lighten($claro, 20);
    
  
  }
  
}

footer .license {
  margin-top: 20px;  
}

#eu-logo {
  display:block;
  margin-top:1em;
}

.footer-links {
  margin:.5em 0;
  a {
    border-right:1px solid $gris_80;
    padding:0 5px;
     color:$claro;
  }
  li:last-of-type a {border-right:none;}
}
.footer-wrapper > .col-lg-6:first-child {
  border-right: 1px solid $gris_90;
}
footer {
  border-top-color:$gris_90;
  background: $footercolor;
  // border-top-color:red;
  a {
   
  }
}
@media (min-width:$device_4) {
  #logo {
    width:$unidad * 4;
  }
}
@media (min-width:$device_7) {
  #logo {
    // width:$unidad * 4;
  }
}
@media (min-width:$device) {
  #logo {
    width:$unidad * 2;
    margin-bottom:10px;
    margin-top:10px;
  }
}

