#paralax-links {
  position:fixed;
  top:120px;
  right:20px;

  @include reset-list();
 
  a {
    display:block;
    width:20px;
    height:20px;
    background:white;
    border:1px solid $gris_80;
    border-radius:50%;
    margin-bottom:15px;
  }
  a.active {
    background-color:#F7941E;
  }
  a:hover {
    background-color:#fff2ca;
  }
}

h3 {
  font-weight:bold;
  font-size: 2.4em;
}

.front-btn {
  display:inline-block;
  padding:.8em 1.3em;
  background: #FFB700;
  color: #000;
  position:relative;
  
  @include transition(all 0.2s ease);

  border-radius:6px;
  padding-left:3.5em;
  &:before {
    font-size:1.6em;
    left:.5em;
    position:absolute;
    // margin-right:.5em;
  }
  &:hover {
    color:black;
    background: $bk;
  }
}

/* Parallax base styles
--------------------------------------------- */

.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  // overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  min-height: 850px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; 
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
  pointer-events: none;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

/* centre the content in the parallax layers */
.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* style the groups
--------------------------------------------- */
html, body {
  height: 100%;
}

#group1 {
  z-index: 5; /* slide over group 2 */
}

#group1 .parallax__layer--base {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../img/front/parallax-1.jpg');
}

#group2 {
  z-index: 3; /* slide under groups 1 and 3 */
}

#group2 .parallax__layer--back {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('../img/front/parallax-2.jpg');
}

#group3 {
  z-index: 4; /* slide over group 2 and 4 */
}

#group3 .parallax__layer--base {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../img/front/parallax-3.jpg');
}

#group4 {
  z-index: 2; /* slide under group 3 and 5 */
}

#group4 .parallax__layer--deep {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../img/front/parallax-4.jpg');
}

#group5 {
  z-index: 3; /* slide over group 4 and 6 */
}

#group5 .parallax__layer--base {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('../img/front/parallax-5.jpg');
}

#group6 {
  z-index: 2; /* slide under group 5 and 7 */
}

#group6 .parallax__layer--back {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('../img/front/parallax-6.jpg');
}

#group7 {
  z-index: 3; /* slide over group 7 */
}

#group7 .parallax__layer--base {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('../img/front/parallax-7.jpg');
}

.parallax__layer--base, .parallax__layer--back, .parallax__layer--deep {
  background-position: center !important;
  background-size: cover !important;
}

#top-bar {
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.landingpage header, .landingpage #cookielaw {
  position: relative;
}

.landingpage header {
  background: transparent;
}

.landingpage header #main-menu a  {
  color: #fff !important;
}

.parallax h2 {
  color: #fff;
  font-size: 2.5em;
}

.parallax h3, .parallax p {
  color: #fff;
}

.parallax footer p {
  color: #333;
}