/*
.home-head {
  & > div {
    padding-left:20px;
    padding-right:20px;
  }
  margin-bottom:3em;
}
.home-head-logo {
  width:$unidad * 3;
  float:left;
  padding-top:25px;
  margin-left:$unidad;
  margin-right:10px;
  
  
}
.home-head-title {
  text-align:left;
}

*/

.home-head-logo {
  width:$unidad * 4;
  margin:0 auto;
}

.row-view-main {
padding-top:10px;
padding-bottom:10px;
  .view-item {
    width:50%;
    text-align:center;

    @media (min-width:$device_4) {

        width:33%;
    }
    @media (min-width:$device_7) {

        width:25%;
    }
    @media (min-width:$device) {

        width:20%;
    }
    
  }
   h3.fonticon {
    position:relative;
    padding-top:70px;
   }
  h3.fonticon:before {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    // color: #FFF;
    background: none repeat scroll 0% 0% $bk_3;

    font-size: 30px;
    position: absolute;
    top: 0;
    left:40%;
    color: #fff;
    // line-height: 40px;
     line-height:1.6em;
  }
  .view-item:hover {
    h3.fonticon:before {
      background-color:$bk;
    }
  }
  
}

.main-content-landing {
  .page-title {
    padding-top:1em;
  }
  .subtitle {
    padding-bottom:1.5em;
  }

}

.home-actions a {
    text-decoration: none;
    color: #666666;
}

.landing-page-content {
    position: relative;
}

.landing-page-content:hover a, .landing-page-content:hover:before {
    color: #fff;
    background: none repeat scroll 0% 0% #f6921e;
}
.landing-page-content > a{
    text-decoration: none;
}
.landing-page-content > a > h3{
    font-weight: 300;
    text-transform: uppercase;
}


.fonticon-pencil,
.fonticon-search,
.fonticon-th-list,
.fonticon-export {
  &:before {
   
   
  }
}
.fonticon-browse:before {content:"\e60e";}
.fonticon-pencil:before {content:"\e60d";}
.fonticon-search:before {content:"\e60e";}
.fonticon-th-list:before {content:"\e018";}
.fonticon-export:before {content:"\e170";}
