.filter-group{
    display:inline-block;
}

.filter-group-left{
    float:left;
    padding-left: 1%;
}

.filter-group-right{
    float:right;
    padding-left: 1%;
}


.filter-input{
    width:20%;
}

.filter-span{
    margin-top: 0.5%;
}


.number-results-wrap{
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display:table;
}

.search-result a{
    cursor:pointer;
}
