.landing-page-wrapper,
.nav {
  a {
    color:$general;
  }
}

#main-content {
  // background:white;
  // padding-top:4em;
  padding-bottom:2em;
}
#logo {
  margin:10px 0;
  width:$unidad * 6;
  float:left;
}
.content-header {
  padding-top:2em;
  padding-bottom:1em;
  // background:red;
  h3 {
  }
}
 
 .subtitle {
  // font-size:22px;
  // color:$claro;
  text-transform:uppercase;
  width:$unidad * 10;
  
}
.content-header-presentation {
  text-align:center;
    // margin-left:$unidad * 2 ;
  .subtitle {
    @media all and (min-width:$device) {
    margin-left:$unidad ;
    margin-right:$unidad;
    margin:0 auto;
     // width:$unidad * 8;
    }
  }  
}

.subtitle {
  color:$claro;
  
}
.flex-container {
  @include  flex-container();
}

@media (min-width:$device_4) {
  #logo {
    width:$unidad * 4;
  }
}
@media (min-width:$device_7) {

}
@media (min-width:$device) {
  #logo {
    width:30px;
    // width:65px;
    // margin-bottom:5px;
    // margin-top:15px;
    // z-index:2000;
    position:absolute;
    top:-2px;
    left:40px;
  
  }
  header {
    height:50px;
  }
  /*
    #logo {
    width:125px;
    // width:65px;
    // margin-bottom:5px;
    // margin-top:15px;
    // z-index:2000;
    position:absolute;
    top:-6px;
    left:40px;
  
  }
  */
  
}




.content-body {
  clear:both;
  padding-top:1.5em;
  padding-bottom:1.5em;
}



.block {
  background:transparentize($gris_90,.5);
  padding:10px;
  border-radius:$radius;
  border:1px solid $gris_80;
  margin-bottom:10px;
  overflow:hidden;
}
.block-button-bar {
  input {
    float:left;
    margin:5px;
  }
}

.block-tag {
  select {
    margin-bottom:15px;
  }

} 


.content-column {


  position:relative;
  
  
  &.content-column-expanded {
    .fonticon-validate {
      display:none;
    }
  }
  &.closed {
    .fonticon-validate {
      display:block;
    }
    .content-column-wrap {
      display:none;
    }
  }
  
  .fonticon-close {
    color:$general;
    top:10px;
    right:5px;
    
  }
  .fonticon-validate {
    position:absolute;
    display:block;
    top:5px;
    right:0;
  }
  .fonticon-validate:before {
      content: "\e605";
      font-size:30px;
  }
}

.panel {
  border-color:$bk_4_3;
  .panel-heading {
    background:linear-gradient(to top, $bk,$bk_1_1);
    padding:0;
    color:white;
    a {
      background:linear-gradient(to top, $bk_4_3,$bk_4_4);
      color:white;
      display:block;
      padding:5px 15px;
      &:hover {
        color:white;
        background:linear-gradient(to top, $bk_4,$bk_4_3);
        h3 {
          color:white;
        }
      }
    }

  }
}


.fonticon-formula:before {
  content: "\e61e";
}
.content-header {
  position:relative;
}


.row-block {
  margin-top:1.5em;
  margin-bottom:1.5em;
}