$ancho:$unidad * 2;
.browse-filters,
.search-content {
  @include paddings();
}

@media (max-width:$device - 1) {
  .browse-filters {
    clear:both;
  }
}
@media (min-width:$device) {
.browse-filters {
  
  width:$ancho;
  float:left;
  margin-right:- $ancho;

  // display:none;
}

.search-content {
  float:left;
  
  width:$unidad * 10;
  margin-left:$ancho;
  margin-right: - 100%;
}
}
.search-results-header {
  color:$claro;
  margin:1em 0;
  overflow:hidden;
}
.num-results-wrap,
.filterbar {
  @include paddings();
  width:$unidad * 6;
  float:left;
  position:relative;
  
}

@media (min-width:$device) {
  .result-wrapper {
    width:49.5%;
    @include paddings();
      &:nth-child(2n) {
      // background:$gris_80;
      margin-left:0.5%;
    }
    &:nth-child(2n + 1) {
      // background:red;
      margin-right:0.5%;
    }
    
  }
}





.result-wrapper {
 

    border:1px solid $gris_90;
  border-radius:$radius;
  
  margin-bottom:10px;
  display:block;

  p {
    // display:none;
  }
  .texticon {
      position:absolute;
      top:0em;
      
      left:1em;
      font-family:tahoma;
    font-size:10px;
    padding-top:5.5em;
    color:$claro;
    opacity:.3;
    width:4em;
    height:7em;
    text-align:center;
    // background:red;
    white-space: nowrap;
	overflow: hidden;
      &:hover {
        opacity:1;
      }
     

    
    }
    
  .texticon-visualization:before {
  content:"Visual.";
  }
  .texticon-fuzzymap:before {
  content:"C. Model";
  }
    .texticon-metric:before {
  content:"Metric";
  }
    .texticon-event:before {
  content:"Event";
  }
    .texticon-dataset:before {
  content:"Dataset";
  }
  .texticon-indicator:before {
  content:"Indicator";
  }
  .texticon-dataset:before {
  content:"Dataset";
  }
  
  &:hover {
    background:$gris_99;
    
   .browse-item-stars {
      opacity:1;
   }
  
  }
  

}
.search-results {
  // display:flex;
  // flex-flow: row wrap;

}


.search-results {
  h5 {
    font-size:1em;
    line-height:1.4em;
    font-weight:600;
    a {
      
    }
    
  }
  
  .result-wrapper {
    position:relative;

    
  }
  .attributes {
    margin-left:4em;
    font-size:14px;
    .description {
      display:none;
    }
    color:$claro;
   
  }
  .key-field-title {
    font-weight:normal;
    font-style:italic;
    
  }
  
  
}


.result-wrapper {

    
}
.searchItemIcon a {
 position:relative;
 padding-left:3.7em;
 // padding-top:1em;
 display:block;
 &:before {

  font-weight:normal;
  content:"\e612";
  position:absolute;
  left:-5px;
  top:10px;
  font-size:30px;
  line-height:1em;
 }
  
}

.metricIcon a:before {
  content:"\e613";
  content: "\e625";
}
.fuzzymapIcon a:before {
  content:"\e610";
      content: "\e627";
}
.visualizationIcon a:before {
  content:"\e615";
      content: "\e626";
}
.indicatorIcon a:before {
  content: "\e80a";
}
.datasetIcon a:before {
  content: "\e611";
}

.browse-filters-block {
  font-size:13px;
  & > ul {
    @include reset-list();
    overflow:auto;
    max-height: 200px;
  }
  ul {
    
    
    li {
      line-height:1.5em;
      margin:0;
      
    }
  }
  border:1px solid $gris_80;
  border-radius:$radius;
  h4 {
    margin:0;
    border-bottom:1px solid $gris_80;
    line-height:1.6em;
    font-size:16px;
    padding:0 10px;
  }
  & +  .browse-filters-block {
    margin:1em 0;
  }
  h3, ul {
    padding:5px;
  }
  
}







  .browse-item-stars {
    // bottom:5px;
    // right:20px;
    // position:absolute;
    // padding-right:5px;
    // transform: translate(100%,0);
    // background:white;
    // width:100%;
    opacity:0.3;
    // color:$gris_70;
  }
.stars {
  overflow:hidden;
  // text-align:right;
  margin-bottom:10px;
  .star {
    font-size:0.875em;
    width:1.2em;
    height:1em;
    text-align:center;
    display:inline-block;
    // float:left;
    // font-size:12px;
    position:relative;
    &:before {
      content:"\e60b";
      position:absolute;
      top:2px;
      left:0px;
      
    }
  }
  .star-inactive:before {
    content:"\e60a";
  }
}