$ancho: $unidad * 2;
.browse-filters,
.search-content {
    @include paddings();
}

@media (max-width: $device - 1) {
    .browse-filters {
        clear: both;
    }
}

@media (min-width: $device) {
    .browse-filters {

        width: $ancho;
        float: left;
        margin-right: - $ancho;

        // display:none;
    }

    .search-content {
        float: left;

        width: $unidad * 10;
        margin-left: $ancho;
        margin-right: - 100%;
    }
}

.search-results-header {
    color: $claro;
    margin: 1em 0;
    overflow: hidden;
}

.num-results-wrap,
.filterbar {
    @include paddings();
    width: $unidad * 6;
    float: left;
    position: relative;

}

@media (min-width: $device) {
    .result-wrapper {
        width: 49.5%;
        @include paddings();
        &:nth-child(2n) {
            // background:$gris_80;
            margin-left: 0.5%;
        }
        &:nth-child(2n + 1) {
            // background:red;
            margin-right: 0.5%;
        }

    }
}

.result-wrapper {

    border: 1px solid $gris_90;
    border-radius: $radius;

    margin-bottom: 10px;
    display: block;

    p {
        // display:none;
    }
    .texticon {
        position: absolute;
        top: 0em;

        left: 1em;
        font-family: tahoma;
        font-size: 10px;
        padding-top: 5.5em;
        color: $claro;
        opacity: .3;
        width: 4em;
        height: 15em;
        text-align: center;
        // background:red;
        white-space: nowrap;
        overflow: hidden;
        &:hover {
            opacity: 1;
        }

    }

    .texticon-visualization:before {
        content: "Visual.";
    }
    .texticon-fuzzymap:before {
        content: "Causal \a Model ";
        white-space: pre; /* or pre-wrap */
    }
    .texticon-ag:before {
        content: "Argument graph";
    }
    .texticon-metric:before {
        content: "Metric";
    }
    .texticon-event:before {
        content: "Event";
    }
    .texticon-dataset:before {
        content: "Dataset";
    }
    .texticon-indicator:before {
        content: "Indicator";
    }
    .texticon-dataset:before {
        content: "Dataset";
    }
    .texticon-story:before {
        content: "Story";
    }
    .rating-stars {
        opacity: 0.4;
    }
    &:hover {
        background: $gris_99;

        .rating-stars {
            opacity: 1;
        }

    }

}

.search-results {
    // display:flex;
    // flex-flow: row wrap;

}

.search-results {
    h5 {
        font-size: 1em;
        line-height: 1.4em;
        font-weight: 600;
        a {

        }

    }

    .result-wrapper {
        position: relative;

    }
    .attributes {
        margin-left: 4em;
        font-size: 14px;
        .description {
            display: none;
        }
        color: $claro;

    }
    .key-field-title {
        font-weight: normal;
        font-style: italic;

    }

}

.result-wrapper {

}

.searchItemIcon a {
    position: relative;
    padding-left: 3.7em;
    // padding-top:1em;
    display: block;
    &:before {

        font-weight: normal;
        content: "\e612";
        position: absolute;
        left: -5px;
        top: 10px;
        font-size: 30px;
        line-height: 1em;
    }

}

.metricIcon a:before {
    content: "\e613";
    content: "\e625";
}

.fuzzymapIcon a:before {
    content: "\e610";
    content: "\e627";
}

.visualizationIcon a:before {
    content: "\e615";
    content: "\e626";
}

.indicatorIcon a:before {
    content: "\e80a";
}

.datasetIcon a:before {
    content: "\e611";
}

.agIcon a:before {
    content: "\f074";
}

.storyIcon a:before {
    content: "\f0f6";
}

.browse-filters-block {
    font-size: 13px;
    & > ul {
        @include reset-list();
        overflow: hidden;
        overflow-y: auto;
        max-height: 450px;
    }

    label, input {
        cursor: pointer;
    }
    label {
        width: 100%;
        margin-left: -13px;
        padding-left: 13px;
        overflow: hidden;
        margin-bottom: -3px;
        .ellipsis {
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            padding-right: 3px;
        }
    }
    ul {

        li {
            line-height: 1.5em;
            margin: 0;
            white-space: nowrap;
        }
    }
    border: 1px solid $gris_80;
    border-radius: $radius;
    h4 {
        margin: 0;
        border-bottom: 1px solid $gris_80;
        line-height: 1.6em;
        font-size: 16px;
        padding: 0 10px;
    }
    & + .browse-filters-block {
        margin: 1em 0;
    }
    h3, ul {
        padding: 5px;
    }

}

.result-selected {
    background-color: #ccc !important;
}
