.scrollbarButton{
    top: 6%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: auto;
    position: fixed;
    right: 0;
    z-index: 1000;    
}

.scrollbarButton ul {
  list-style: none outside none;    
}

.scrollbarButton ul li div {
  cursor: pointer; 
  background: #e5e5e5;
  padding: 10px;
  margin-bottom: 0px;
}

.fonticon-feedback:before{
    content:"\f0e0"
}

.fonticon-questionnaire:before{
    content:"\e9bb"
}

.container-create-feedback{
    margin-left: 10%;
    margin-right: 10%;
}

.feedback-close-icon{
    margin: 0 auto;
    position: fixed;
    top: 6%;
    right: 1%;
}

.feedback-close-icon:before{
    content:"\f00d"
}


