.buttonBar {
  @include reset-list();
  // max-width:$device_max;
  overflow:hidden;
  margin:0 auto;
  li {
    float:left;
    .btn {
      display:inline-block;
      border-radius:0;
      border-left:none;
    
    }
    &:first-of-type {
      .btn {
        border-radius:4px 0 0 4px;
        border-left:1px solid #999999;
      }
    }
     &:last-of-type {
      .btn {
        border-radius:0 4px 4px 0;
      }
    }
    
  }

}