.scrollbarButton{
    margin: 0em auto;
    position: fixed;
    top: 6%;
    right: 0%;
}

.fonticon-feedback:before{content:"\f0e0"}

.container-create-feedback{
    margin-left: 10%;
    margin-right: 10%;
}

.feedback-close-icon{
    margin: 0em auto;
    position: fixed;
    top: 6%;
    right: 1%;
}

.feedback-close-icon:before{content:"\f00d"}


