.story-chapter-content-toolbox{
    margin-bottom: 1%;
}

.story-chapters-list{
    position: fixed;
    width : 15%;
}

.story-chapters-list-entry{
    word-wrap: break-word;
    margin: 3%;
    padding: 3%;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
}

.story-chapters-detail{
    background-color:white;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    box-shadow:0 0 7px grey;
}

.story-chapters-detail-entry{
    word-wrap: break-word;
    margin:2%;
}

.ta-toolbar  {
    .btn-group {
        padding-bottom: 10px;
    }
    .btn-default[disabled] {
        background-color: #F7941E;
    }
}

.ta-editor {
    .placeholder-text {
        &:before {
            color: #aaa;
        }
    }
}