#footer {
  padding-top:3em;
  padding-bottom:3em;
  font-size:.825em;
  color:$claro;
  a  {
    color:$claro;
  }

  .footer-links {
    @include reset-list();
    li {
      display:inline-block;
      border-right:1px solid $gris_80;
      padding:5px 10px;
      &:last-of-type {
        border-right:none;
      }
    }
  }

  .flag-wrap  {
    @include flex-container;
    & > div {
      width:$unidad * 2;
      // float:left;
      // margin-right:
    
     
    }
    .cols-flag {
      // float:left;
       // margin-right:20px;
    }
    .cols-flag-text {
      width:$unidad * 10;
    }
    
  }
  
  .alert-paragraph {
    position:relative;
    // padding-left:3em;
  }
  .license-image  {
    float:left;
    margin-right:20px;
    width:$unidad * 2;
  }
  .alert-paragraph:before {
    content:"\e606";
    // position:absolute;
    // left:0em;
    font-size:1.2em;
    // color:$bk;
    // color:lighten($claro, 20);
    
  
  }
  
  .footer-wrapper > div {
    margin-top:10PX;
    // margin-bottom:1em;
    // background:white;
  }
  
  
  @media (min-width:$device) {
    .footer-wrapper {
      @include flex-container;
      & > div {
        width:50%;
        
        // background:white;
        &:nth-child(2),
        &:nth-child(1) {
          // background:white;
          // border-bottom:1px solid $gris_80;
          
        }
        &:nth-child(1) {
          padding-top:5px;
        }
      }
      .footer-links {
        margin-top:1em;
        
      }
      
    }
    
  }
  
}






















/*
footer{
    border-top: 1px solid #CCCCCC;
}
.footer-wrapper a{
    color: #58595b;
    font-weight: 400;
}
.footer-wrapper >.col-lg-6:first-child{
    border-right: 1px solid #CCCCCC;
}
.footer-wrapper a:hover,.footer-wrapper a:focus,.footer-wrapper a:active{
    color:#fa8800;
    font-weight: 400;
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
}





footer {
  font-size:.875em;
  color:$claro;
  padding-top:2em;
  
  
}

footer .license {
  margin-top: 20px;  
}

#eu-logo {
  display:block;
  margin-top:1em;
}

.footer-links {
  margin:.5em 0;
  a {
    border-right:1px solid $gris_80;
    padding:0 5px;
     color:$claro;
  }
  li:last-of-type a {border-right:none;}
}
.footer-wrapper > .col-lg-6:first-child {
  border-right: 1px solid $gris_90;
}
footer {
  border-top-color:$gris_90;
  a {
   
  }
}

*/