.form-group-rating:before {
  content: "\e60b" !important;
}

.search-content .rating-stars {
  height: 16px;
}

.rating-stars {
  overflow:hidden;
  height: 20px;
  display: inline-block;

  &:hover:not(.readonly) {
    color:$bk;
  }

  .star {
    cursor: pointer;
    font-size:0.875em;
    width:1.2em;
    height:1em;
    text-align:center;
    display:inline-block;
    position:relative;

    &:before {
      content:"\e60a";
      position:absolute;
      top:2px;
      left:0px;
    }

    &.star-full:before {
      content:"\e60b";
    }
    &.star-half:before {
      content:"\e609";
    }
  }

  &.readonly .star {
    cursor: default;
  }
}