
body {
    position: relative; /* For scrollyspy */
    overflow: auto !important; /* For offcanvas */
}

/*
 * Examples
 *
 * Isolated sections of example content for each component or feature. Usually
 * followed by a code snippet.
 */


/* Echo out a label for the example */

/* Tweak display of the code snippets when following an example */
.bs-example + .highlight {
    margin: -15px -15px 15px;
    border-radius: 0;
    border-width: 0 0 1px;
}

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
    .bs-example {
        margin-left: 0;
        margin-right: 0;
        background-color: #fff;
        border-width: 1px;
        border-color: #ddd;
        border-radius: 4px 4px 0 0;
        box-shadow: none;
    }
    .bs-example + .highlight {
        margin-top: -16px;
        margin-left: 0;
        margin-right: 0;
        border-width: 1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

/* Undo width of container */
.bs-example .container {
    width: auto;
}

/* Tweak content of examples for optimum awesome */
.bs-example > p:last-child,
.bs-example > ul:last-child,
.bs-example > ol:last-child,
.bs-example > blockquote:last-child,
.bs-example > .form-control:last-child,
.bs-example > .table:last-child,
.bs-example > .navbar:last-child,
.bs-example > .jumbotron:last-child,
.bs-example > .alert:last-child,
.bs-example > .panel:last-child,
.bs-example > .list-group:last-child,
.bs-example > .well:last-child,
.bs-example > .progress:last-child,
.bs-example > .table-responsive:last-child > .table {
    margin-bottom: 0;
}
.bs-example > p > .close {
    float: none;
}

/* Typography */
.bs-example-type .table .info {
    color: #999;
    vertical-align: middle;
}
.bs-example-type .table td {
    padding: 15px 0;
    border-color: #eee;
}
.bs-example-type .table tr:first-child td {
    border-top: 0;
}
.bs-example-type h1,
.bs-example-type h2,
.bs-example-type h3,
.bs-example-type h4,
.bs-example-type h5,
.bs-example-type h6 {
    margin: 0;
}

/* Images */
.bs-example > .img-circle,
.bs-example > .img-rounded,
.bs-example > .img-thumbnail {
    margin: 5px;
}

/* Tables */
.bs-example > .table-responsive > .table {
    background-color: #fff;
}

/* Buttons */
.bs-example > .btn,
.bs-example > .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
.bs-example > .btn-toolbar + .btn-toolbar {
    margin-top: 10px;
}

/* Forms */
.bs-example-control-sizing select,
.bs-example-control-sizing input[type="text"] + input[type="text"] {
    margin-top: 10px;
}
.bs-example-form .input-group {
    margin-bottom: 10px;
}
.bs-example > textarea.form-control {
    resize: vertical;
}

/* List groups */
.bs-example > .list-group {
    max-width: 400px;
}

/* Navbars */
.bs-example .navbar:last-child {
    margin-bottom: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
    z-index: 1;
    padding: 0;
    overflow: hidden; /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-header,
.bs-navbar-bottom-example .navbar-header {
    margin-left: 0;
}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}
.bs-navbar-top-example {
    padding-bottom: 45px;
}
.bs-navbar-top-example:after {
    top: auto;
    bottom: 15px;
}
.bs-navbar-top-example .navbar-fixed-top {
    top: -1px;
}
.bs-navbar-bottom-example {
    padding-top: 45px;
}
.bs-navbar-bottom-example .navbar-fixed-bottom {
    bottom: -1px;
}
.bs-navbar-bottom-example .navbar {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .bs-navbar-top-example .navbar-fixed-top,
    .bs-navbar-bottom-example .navbar-fixed-bottom {
        position: absolute;
    }
    .bs-navbar-top-example {
        border-radius: 0 0 4px 4px;
    }
    .bs-navbar-bottom-example {
        border-radius: 4px 4px 0 0;
    }
}

.bs-navmenu-fixed-example {
    height: 200px;
    padding-left: 315px;
}
.bs-navmenu-fixed-example:after {
    left: 315px;
}

.bs-navmenu-offcanvas-example {
    min-height: 200px;
    overflow: hidden;
}
.bs-navmenu-offcanvas-example:after {
    display: none;
}
.bs-navmenu-offcanvas-example > div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.bs-navmenu-fixed-example .navmenu-fixed-left,
.bs-navmenu-offcanvas-example .navmenu-fixed-left,
.bs-navmenu-offcanvas-example .navbar-fixed-top {
    position: absolute;
    z-index: 1;
}
.bs-navmenu-offcanvas-example .navmenu-fixed-left {
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
}
.bs-navmenu-offcanvas-example .navbar-toggle {
    float: left;
    margin-left: 15px;
    display: block;
}

/* Pagination */
.bs-example .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Alerts */
.bs-example .alert-fixed-top {
    position: absolute;
    z-index: 1;
    width: auto;
    left: 0;
    right: 0;
    margin-left: 0;
}
@media (min-width: 992px) {
    .bs-example .alert-fixed-top {
        left: 15px;
        right: 15px;
    }
}

/* Pager */
.bs-example > .pager {
    margin-top: 0;
}

/* Example modals */
.bs-example-modal {
    background-color: #f5f5f5;
}
.bs-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-example-modal .modal-dialog {
    left: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Example dropdowns */
.bs-example > .dropdown > .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 5px;
}

/* Example tabbable tabs */
.bs-example-tabs .nav-tabs {
    margin-bottom: 15px;
}

/* Tooltips */
.bs-example-tooltips {
    text-align: center;
}
.bs-example-tooltips > .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Popovers */
.bs-example-popover {
    padding-bottom: 24px;
    background-color: #f9f9f9;
}
.bs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
}

/* Scrollspy demo on fixed height div */
.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: 10px;
    overflow: auto;
}


/*
 * Code snippets
 *
 * Generated via Pygments and Jekyll, these are snippets of HTML, CSS, and JS.
 */

.highlight {
    display: none; /* hidden by default, until >480px */
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    white-space: nowrap;
}
.highlight pre code {
    font-size: inherit;
    color: #333; /* Effectively the base text color */
}
.highlight pre .lineno {
    display: inline-block;
    width: 22px;
    padding-right: 5px;
    margin-right: 10px;
    text-align: right;
    color: #bebec5;
}

/* Show code snippets when we have the space */
@media (min-width: 481px) {
    .highlight {
        display: block;
    }
}


/*
 * Responsive tests
 *
 * Generate a set of tests to show the responsive utilities in action.
 */

/* Responsive (scrollable) doc tables */
.table-responsive .highlight pre {
    white-space: normal;
}

/* Utility classes table  */
.bs-table th small,
.responsive-utilities th small {
    display: block;
    font-weight: normal;
    color: #999;
}
.responsive-utilities tbody th {
    font-weight: normal;
}
.responsive-utilities td {
    text-align: center;
}
.responsive-utilities td.is-visible {
    color: #468847;
    background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
    color: #ccc;
    background-color: #f9f9f9 !important;
}

/* Responsive tests */
.responsive-utilities-test {
    margin-top: 5px;
}
.responsive-utilities-test .col-xs-6 {
    margin-bottom: 10px;
}
.responsive-utilities-test span {
    padding: 15px 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    border-radius: 4px;
}
.visible-on .col-xs-6 .hidden-xs,
.visible-on .col-xs-6 .hidden-sm,
.visible-on .col-xs-6 .hidden-md,
.visible-on .col-xs-6 .hidden-lg,
.hidden-on .col-xs-6 .hidden-xs,
.hidden-on .col-xs-6 .hidden-sm,
.hidden-on .col-xs-6 .hidden-md,
.hidden-on .col-xs-6 .hidden-lg {
    color: #999;
    border: 1px solid #ddd;
}
.visible-on .col-xs-6 .visible-xs,
.visible-on .col-xs-6 .visible-sm,
.visible-on .col-xs-6 .visible-md,
.visible-on .col-xs-6 .visible-lg,
.hidden-on .col-xs-6 .visible-xs,
.hidden-on .col-xs-6 .visible-sm,
.hidden-on .col-xs-6 .visible-md,
.hidden-on .col-xs-6 .visible-lg {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}


/*
 * Customizer
 *
 * Since this is so form control heavy, we have quite a few styles to customize
 * the display of inputs, headings, and more. Also included are all the download
 * buttons and actions.
 */

.bs-customizer .toggle {
    float: right;
    margin-top: 80px;
}

/* Headings and form contrls */
.bs-customizer label {
    margin-top: 10px;
    font-weight: 500;
    color: #555;
}
.bs-customizer h2 {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 30px;
}
.bs-customizer h3 {
    margin-bottom: 0;
}
.bs-customizer h4 {
    margin-top: 15px;
    margin-bottom: 0;
}
.bs-customizer .bs-callout h4 {
    margin-top: 0; /* lame, but due to specificity we have to duplicate */
    margin-bottom: 5px;
}
.bs-customizer input[type="text"] {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #fafafa;
}
.bs-customizer .help-block {
    font-size: 12px;
    margin-bottom: 5px;
}

/* For the variables, use regular weight */
#less-section label {
    font-weight: normal;
}

.bs-customizer-input {
    float: left;
    width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Downloads */
.bs-customize-download .btn-outline {
    padding: 20px;
}

/* Error handling */
.bs-customizer-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding: 15px 0;
    color: #fff;
    background-color: #d9534f;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    border-bottom: 1px solid #b94441;
}
.bs-customizer-alert .close {
    margin-top: -4px;
    font-size: 24px;
}
.bs-customizer-alert p {
    margin-bottom: 0;
}
.bs-customizer-alert .glyphicon {
    margin-right: 5px;
}
.bs-customizer-alert pre {
    margin: 10px 0 0;
    color: #fff;
    background-color: #a83c3a;
    border-color: #973634;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
}


html, body
{
    height: 100%;
}
.bs-about {
    font-size: 16px;
}

/* Examples gallery: space out content better */
.bs-examples h4 {
    margin-bottom: 5px;
}
.bs-examples p {
    margin-bottom: 20px;
}

/* Pseudo :focus state for showing how it looks in the docs */
#focusedInput {
    border-color: rgb(82,168,236);
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

/* Better spacing on download options in getting started */
.bs-docs-dl-options h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.container-smooth {
    max-width: 1170px;
}
@media (min-width: 1px) {
    .container-smooth {
        width: auto;
    }
}
.btn-labeled {
    padding-bottom: 0;
    padding-top: 0;
}
.btn-label {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
    display: inline-block;
    left: -12px;
    padding: 6px 12px;
    position: relative;
}
.btn-label.btn-label-right {
    border-radius: 0 3px 3px 0;
    left: auto;
    right: -12px;
}
.btn-lg .btn-label {
    border-radius: 5px 0 0 5px;
    left: -16px;
    padding: 10px 16px;
}
.btn-lg .btn-label.btn-label-right {
    border-radius: 0 5px 5px 0;
    left: auto;
    right: -16px;
}
.btn-sm .btn-label {
    border-radius: 2px 0 0 2px;
    left: -10px;
    padding: 5px 10px;
}
.btn-sm .btn-label.btn-label-right {
    border-radius: 0 2px 2px 0;
    left: auto;
    right: -10px;
}
.btn-xs .btn-label {
    border-radius: 2px 0 0 2px;
    left: -5px;
    padding: 1px 5px;
}
.btn-xs .btn-label.btn-label-right {
    border-radius: 0 2px 2px 0;
    left: auto;
    right: -5px;
}
.nav-tabs-bottom {
    border-bottom: 0 none;
    border-top: 1px solid #ddd;
}
.nav-tabs-bottom > li {
    margin-bottom: 0;
    margin-top: -1px;
}
.nav-tabs-bottom > li > a {
    border-radius: 0 0 4px 4px;
}
.nav-tabs-bottom > li > a:hover, .nav-tabs-bottom > li > a:focus, .nav-tabs-bottom > li.active > a, .nav-tabs-bottom > li.active > a:hover, .nav-tabs-bottom > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #ddd #ddd;
    border-image: none;
    border-right: 1px solid #ddd;
    border-style: solid;
    border-width: 1px;
}
.nav-tabs-left {
    border-bottom: 0 none;
    border-right: 1px solid #ddd;
}
.nav-tabs-left > li {
    float: none;
    margin-bottom: 0;
    margin-right: -1px;
}
.nav-tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-bottom: 2px;
    margin-right: 0;
}
.nav-tabs-left > li > a:hover, .nav-tabs-left > li > a:focus, .nav-tabs-left > li.active > a, .nav-tabs-left > li.active > a:hover, .nav-tabs-left > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd transparent #ddd #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.row > .nav-tabs-left {
    margin-right: -1px;
    padding-left: 15px;
    padding-right: 0;
    position: relative;
    z-index: 1;
}
.row > .nav-tabs-left + .tab-content {
    border-left: 1px solid #ddd;
}
.nav-tabs-right {
    border-bottom: 0 none;
    border-left: 1px solid #ddd;
}
.nav-tabs-right > li {
    float: none;
    margin-bottom: 0;
    margin-left: -1px;
}
.nav-tabs-right > li > a {
    border-radius: 0 4px 4px 0;
    margin-bottom: 2px;
    margin-left: 0;
}
.nav-tabs-right > li > a:hover, .nav-tabs-right > li > a:focus, .nav-tabs-right > li.active > a, .nav-tabs-right > li.active > a:hover, .nav-tabs-right > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.row > .nav-tabs-right {
    padding-left: 0;
    padding-right: 15px;
}
.navmenu, .navbar-offcanvas {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    height: auto;
    width: 300px;
}

.navmenu-fixed-left, .navmenu-fixed-right, .navbar-offcanvas {
    border-radius: 0;
    bottom: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 1030;
}
.navmenu-fixed-left, .navbar-offcanvas.navmenu-fixed-left {
    border-width: 0 1px 0 0;
    left: 0;
    right: auto;
}
.navmenu-fixed-right, .navbar-offcanvas {
    border-width: 0 0 0 1px;
    left: auto;
    right: 0;
}
.navmenu-nav {
    margin-bottom: 10px;
}
.navmenu-nav.dropdown-menu {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    float: none;
    margin: 0;
    padding-top: 0;
    position: static;
}
.navbar-offcanvas .navbar-nav {
    margin: 0;
}
@media (min-width: 768px) {
    .navbar-offcanvas {
        border-top: 0 none;
        box-shadow: none;
        width: auto;
    }
    .navbar-offcanvas.offcanvas {
        display: block !important;
        height: auto !important;
        overflow: visible !important;
        padding-bottom: 0;
        position: static;
    }
    .navbar-offcanvas .navbar-nav.navbar-left:first-child {
        margin-left: -15px;
    }
    .navbar-offcanvas .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
    .navbar-offcanvas .navmenu-brand {
        display: none;
    }
}
.navmenu-brand {
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
    padding: 10px 15px;
}
.navmenu-brand:hover, .navmenu-brand:focus {
    text-decoration: none;
}
.navmenu-default, .navbar-default .navbar-offcanvas {
    border-color: #ccc;
}
.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand {
    color: #777;
}
.navmenu-default .navmenu-brand:hover, .navbar-default .navbar-offcanvas .navmenu-brand:hover, .navmenu-default .navmenu-brand:focus, .navbar-default .navbar-offcanvas .navmenu-brand:focus {
    background-color: transparent;
    color: #5e5e5e;
}
.navmenu-default .navmenu-text, .navbar-default .navbar-offcanvas .navmenu-text {
    color: #777;
}
.navmenu-default .navmenu-nav > .dropdown > a:hover .caret, .navbar-default .navbar-offcanvas .navmenu-nav > .dropdown > a:hover .caret, .navmenu-default .navmenu-nav > .dropdown > a:focus .caret, .navbar-default .navbar-offcanvas .navmenu-nav > .dropdown > a:focus .caret {
    border-bottom-color: #333;
    border-top-color: #333;
}
.navmenu-default .navmenu-nav > .open > a, .navbar-default .navbar-offcanvas .navmenu-nav > .open > a, .navmenu-default .navmenu-nav > .open > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > .open > a:hover, .navmenu-default .navmenu-nav > .open > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > .open > a:focus {
    background-color: #e6edff;
    color: #555;
}
.navmenu-default .navmenu-nav > .open > a .caret, .navbar-default .navbar-offcanvas .navmenu-nav > .open > a .caret, .navmenu-default .navmenu-nav > .open > a:hover .caret, .navbar-default .navbar-offcanvas .navmenu-nav > .open > a:hover .caret, .navmenu-default .navmenu-nav > .open > a:focus .caret, .navbar-default .navbar-offcanvas .navmenu-nav > .open > a:focus .caret {
    border-bottom-color: #555;
    border-top-color: #555;
}
.navmenu-default .navmenu-nav > .dropdown > a .caret, .navbar-default .navbar-offcanvas .navmenu-nav > .dropdown > a .caret {
    border-bottom-color: #777;
    border-top-color: #777;
}
.navmenu-default .navmenu-nav.dropdown-menu, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu {
    background-color: #e6edff;
}
.navmenu-default .navmenu-nav.dropdown-menu > .divider, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu > .divider {
    background-color: #f8f8f8;
}
.navmenu-default .navmenu-nav.dropdown-menu > .active > a, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu > .active > a, .navmenu-default .navmenu-nav.dropdown-menu > .active > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu > .active > a:hover, .navmenu-default .navmenu-nav.dropdown-menu > .active > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu > .active > a:focus {
    background-color: #d7d7d7;
}
.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: #777;
}
.navmenu-default .navmenu-nav > .active > a, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a, .navmenu-default .navmenu-nav > .active > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover, .navmenu-default .navmenu-nav > .active > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
    background-color: #e6edff;
    color: #555;
}
.navmenu-default .navmenu-nav > .disabled > a, .navbar-default .navbar-offcanvas .navmenu-nav > .disabled > a, .navmenu-default .navmenu-nav > .disabled > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > .disabled > a:hover, .navmenu-default .navmenu-nav > .disabled > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > .disabled > a:focus {
    background-color: transparent;
    color: #ccc;
}
.navmenu-inverse, .navbar-inverse .navbar-offcanvas {
    background-color: #222;
    border-color: #080808;
}
.navmenu-inverse .navmenu-brand, .navbar-inverse .navbar-offcanvas .navmenu-brand {
    color: #999;
}
.navmenu-inverse .navmenu-brand:hover, .navbar-inverse .navbar-offcanvas .navmenu-brand:hover, .navmenu-inverse .navmenu-brand:focus, .navbar-inverse .navbar-offcanvas .navmenu-brand:focus {
    background-color: transparent;
    color: #fff;
}
.navmenu-inverse .navmenu-text, .navbar-inverse .navbar-offcanvas .navmenu-text {
    color: #999;
}
.navmenu-inverse .navmenu-nav > .dropdown > a:hover .caret, .navbar-inverse .navbar-offcanvas .navmenu-nav > .dropdown > a:hover .caret, .navmenu-inverse .navmenu-nav > .dropdown > a:focus .caret, .navbar-inverse .navbar-offcanvas .navmenu-nav > .dropdown > a:focus .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}
.navmenu-inverse .navmenu-nav > .open > a, .navbar-inverse .navbar-offcanvas .navmenu-nav > .open > a, .navmenu-inverse .navmenu-nav > .open > a:hover, .navbar-inverse .navbar-offcanvas .navmenu-nav > .open > a:hover, .navmenu-inverse .navmenu-nav > .open > a:focus, .navbar-inverse .navbar-offcanvas .navmenu-nav > .open > a:focus {
    background-color: #080808;
    color: #fff;
}
.navmenu-inverse .navmenu-nav > .open > a .caret, .navbar-inverse .navbar-offcanvas .navmenu-nav > .open > a .caret, .navmenu-inverse .navmenu-nav > .open > a:hover .caret, .navbar-inverse .navbar-offcanvas .navmenu-nav > .open > a:hover .caret, .navmenu-inverse .navmenu-nav > .open > a:focus .caret, .navbar-inverse .navbar-offcanvas .navmenu-nav > .open > a:focus .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}
.navmenu-inverse .navmenu-nav > .dropdown > a .caret, .navbar-inverse .navbar-offcanvas .navmenu-nav > .dropdown > a .caret {
    border-bottom-color: #999;
    border-top-color: #999;
}
.navmenu-inverse .navmenu-nav.dropdown-menu, .navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu {
    background-color: #080808;
}
.navmenu-inverse .navmenu-nav.dropdown-menu > .divider, .navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu > .divider {
    background-color: #222;
}
.navmenu-inverse .navmenu-nav.dropdown-menu > .active > a, .navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu > .active > a, .navmenu-inverse .navmenu-nav.dropdown-menu > .active > a:hover, .navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu > .active > a:hover, .navmenu-inverse .navmenu-nav.dropdown-menu > .active > a:focus, .navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu > .active > a:focus {
    background-color: #000;
}
.navmenu-inverse .navmenu-nav > li > a, .navbar-inverse .navbar-offcanvas .navmenu-nav > li > a {
    color: #999;
}
.navmenu-inverse .navmenu-nav > li > a:hover, .navbar-inverse .navbar-offcanvas .navmenu-nav > li > a:hover, .navmenu-inverse .navmenu-nav > li > a:focus, .navbar-inverse .navbar-offcanvas .navmenu-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}
.navmenu-inverse .navmenu-nav > .active > a, .navbar-inverse .navbar-offcanvas .navmenu-nav > .active > a, .navmenu-inverse .navmenu-nav > .active > a:hover, .navbar-inverse .navbar-offcanvas .navmenu-nav > .active > a:hover, .navmenu-inverse .navmenu-nav > .active > a:focus, .navbar-inverse .navbar-offcanvas .navmenu-nav > .active > a:focus {
    background-color: #080808;
    color: #fff;
}
.navmenu-inverse .navmenu-nav > .disabled > a, .navbar-inverse .navbar-offcanvas .navmenu-nav > .disabled > a, .navmenu-inverse .navmenu-nav > .disabled > a:hover, .navbar-inverse .navbar-offcanvas .navmenu-nav > .disabled > a:hover, .navmenu-inverse .navmenu-nav > .disabled > a:focus, .navbar-inverse .navbar-offcanvas .navmenu-nav > .disabled > a:focus {
    background-color: transparent;
    color: #444;
}
.alert-fixed-top, .alert-fixed-bottom {
    border-radius: 0;
    left: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 1035;
}
@media (min-width: 992px) {
    .alert-fixed-top, .alert-fixed-bottom {
        left: 50%;
        margin-left: -496px;
        width: 992px;
    }
}
.alert-fixed-top {
    border-width: 0 0 1px;
    top: 0;
}
@media (min-width: 992px) {
    .alert-fixed-top {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-width: 0 1px 1px;
    }
}
.alert-fixed-bottom {
    border-width: 1px 0 0;
    bottom: 0;
}
@media (min-width: 992px) {
    .alert-fixed-bottom {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-width: 1px 1px 0;
    }
}
.offcanvas {
    display: none;
}
.offcanvas.in {
    display: block;
}
@media (max-width: 767px) {
    .offcanvas-xs {
        display: none;
    }
    .offcanvas-xs.in {
        display: block;
    }
}
@media (max-width: 991px) {
    .offcanvas-sm {
        display: none;
    }
    .offcanvas-sm.in {
        display: block;
    }
}
@media (max-width: 1199px) {
    .offcanvas-md {
        display: none;
    }
    .offcanvas-md.in {
        display: block;
    }
}
.offcanvas-lg {
    display: none;
}
.offcanvas-lg.in {
    display: block;
}
.canvas-sliding {
    transition: top 0.35s ease 0s, left 0.35s ease 0s, bottom 0.35s ease 0s, right 0.35s ease 0s;
}
.offcanvas-clone {
    border: medium none !important;
    bottom: 0 !important;
    height: 0 !important;
    left: auto !important;
    margin: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: auto !important;
    width: 0 !important;
}
.table.rowlink td:not(.rowlink-skip), .table .rowlink td:not(.rowlink-skip) {
    cursor: pointer;
}
.table.rowlink td:not(.rowlink-skip) a, .table .rowlink td:not(.rowlink-skip) a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}
.table-hover.rowlink tr:hover td, .table-hover .rowlink tr:hover td {
    background-color: #cfcfcf;
}
.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.btn-file > input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}
.fileinput .form-control {
    cursor: text;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 7px;
    vertical-align: middle;
}
.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.fileinput .thumbnail > img {
    max-height: 100%;
}
.fileinput .btn {
    vertical-align: middle;
}
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none;
}
.fileinput-inline .fileinput-controls {
    display: inline;
}
.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.form-control .fileinput-filename {
    vertical-align: bottom;
}
.fileinput.input-group {
    display: table;
}
.fileinput.input-group > * {
    position: relative;
    z-index: 2;
}
.fileinput.input-group > .btn-file {
    z-index: 1;
}
.fileinput-new.input-group .btn-file, .fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0;
}
.fileinput-new.input-group .btn-file.btn-xs, .fileinput-new .input-group .btn-file.btn-xs, .fileinput-new.input-group .btn-file.btn-sm, .fileinput-new .input-group .btn-file.btn-sm {
    border-radius: 0 3px 3px 0;
}
.fileinput-new.input-group .btn-file.btn-lg, .fileinput-new .input-group .btn-file.btn-lg {
    border-radius: 0 6px 6px 0;
}
.form-group.has-warning .fileinput .fileinput-preview {
    color: #8a6d3b;
}
.form-group.has-warning .fileinput .thumbnail {
    border-color: #faebcc;
}
.form-group.has-error .fileinput .fileinput-preview {
    color: #a94442;
}
.form-group.has-error .fileinput .thumbnail {
    border-color: #ebccd1;
}
.form-group.has-success .fileinput .fileinput-preview {
    color: #3c763d;
}
.form-group.has-success .fileinput .thumbnail {
    border-color: #d6e9c6;
}
.input-group-addon:not(:first-child) {
    border-left: 0 none;
}
