/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#slide-1{
    height: 80%;
}
/* Slide 1 */
#slide-1 .bcg {
    background-image:url('../../../img/test/bcg_slide-1.jpg');
}

/* CSS - Slide 2 */
#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 310px;
    text-align: center
}
/* CSS - Slide 3 */
#slide-3 .bcg {
    background-image:url('../../../img/test/bcg_slide-3.jpg');}