<div collapse="navCollapsed" class=" collapse navbar-collapse columns-4 pull-right nav-medium  nav-medium-effect sign-in-wrapper ng-cloak main-menu-wrap" ng-cloak>
  <ul class="nav navbar-nav" data-ng-controller="UserState">
    
    <li>
      <a id="createLink" href="" ng-click="toggleCreateMenu()" data-hover="Create" class="fonticon fonticon-create">Create</a>
      </li>
    
    <li><a href="#/browse"  data-hover="Browse" ng-click="collapseCreateMenu()" class="fonticon fonticon-search">Browse</a></li>
    
    <li><a href="#/i-want-to" data-hover="I want to" ng-click="collapseCreateMenu()" class="fonticon fonticon-want">I want to</a></li>
    
    <li><a href="#/how-it-works" data-hover="How It Works" ng-click="collapseCreateMenu()"class="fonticon fonticon-how">How It Works </a></li>
    
    <li><a href="#/request" data-hover="Request" ng-click="collapseCreateMenu()" class="fonticon fonticon-request">Request</a></li>
    <li ng-if="authState.loggedIn===false" ng-cloak><a href="#/register" data-hover="Sign Up" ng-click="collapseCreateMenu()" class="fonticon fonticon-signup">Sign Up</a></li>
    <p ng-if="authState.loggedIn===false" class="navbar-text" ng-cloak>OR</p>
    <li id="btn-login" ng-if="authState.loggedIn===false" ng-cloak>
      <a href="#/login" class="login-btn" ng-click="collapseCreateMenu()" class="fonticon fonticon-login">Log In</a></li>
    <li ng-if="authState.loggedIn" ng-cloak><a href="#/logout" ng-click="collapseCreateMenu()" class="fonticon fonticon-logout">Logout ({{ authState.userData.name }})</a></li>
  </ul>

</div>