<div class="container">
    <div class="content-header">
        <h1 class="fonticon fonticon-indicator">{{ indicator.acronym }}</h1>

        <div class="pc-visualization-formcontrols">
            <div class="button-group">
                <a type="button" class="btn btn-primary btn-create" ng-if="userState.loggedIn && (userState.userPath == indicator.creator_path || userState.isAdmin)" href="#!/indicators/{{ indicator.id }}/edit">Edit</a>
                <a type="button" class="btn btn-danger btn-clear" ng-if="userState.loggedIn && (userState.userPath == indicator.creator_path || userState.isAdmin)" ng-click="deleteIndicator(indicator)">Delete</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="metadata metadata-event metadata-event-description">
            <div class="form-group form-group-description">
                <div class="form-item" ngshow="indicator.description">
                    <div class="field-label">Description</div>
                    <div class="field-content">{{indicator.description}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="legend-primary">Details</h3>

        <div class="metadata metadata-event">
            <div class="form-group form-group-keywords">
                <div class="form-item" ng-show="indicator.policy_domains">
                    <div class="field-label">Policy Domains</div>
                    <div class="field-content">
                        <span ng-repeat="p in indicator.policy_domains">{{ p.title }}{{$last ? '' : ', '}}</span></div>
                </div>

                <div class="form-item" ng-if="indicator.unit_category">
                    <div class="field-label">Unit Category</div>
                    <div class="field-content">
                        <span resource-title id="indicator.unit_category" resource="UnitCategory"></span>
                    </div>
                </div>

            </div>
            <div class="form-group form-group-location" ng-if="indicator.language">

                <div class="field-label">Language</div>
                <div class="field-content">
                    <span resource-title id="indicator.language" resource="Language"></span>
                </div>


            </div>
            <div class="form-group form-group-modified">
                <div class="form-item " ng-show="indicator.issued">
                    <div class="field-label">Issued</div>
                    <div class="field-content">{{ indicator.issued | date:'longDate' }}</div>
                </div>
                <div class="form-item" ng-show="indicator.modified">
                    <div class="field-label">Last Modified</div>
                    <div class="field-content">{{ indicator.modified | date:'longDate' }}</div>
                </div>
            </div>

        </div>
        <div class="metadata metadata-event">
            <div class="form-group form-group-rating">
                <div class="form-item">
                    <div class="field-label">Rating</div>
                    <div class="field-content">
                        <pc-rating ng-if="indicator.id" rating-id="indicator_{{indicator.id}}"></pc-rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
