//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}
// @mixin fonticon-big($size,$top) {
  // position:relative;
  // $padding:$size * 4 / 5;
  // padding-left:$padding;
  // &:before {
    // line-height:1em;
    // font-family:iconos;
    // font-size:$size;
    // position:absolute;
    // left:-$padding;
    // top:$top;
  // }
// }

@mixin reset-list {
  list-style-type: none;
  list-style-image: none;
  margin:0;
  padding:0;
  &.item-list  {
    // padding:0;
  }
}
@mixin flex-container {
  display:flex;
   display: -webkit-flex; 
  flex-flow: row wrap;
  -webkit-flex-flow:row wrap; 
 // margin-left:-10px;
 // margin-right:-10px;
  & > div {
  padding-right:10px;
  padding-left:10px;
  }

}
@mixin paddings {
  padding-right:10px;
  padding-left:10px;
}

@mixin links {

  text-decoration:none;
  padding:0.1em 10px;
  border:1px solid lighten($claro,10);
  color:$title;
  color:$gris_70;
  
  margin:0.3em 0;
     display:inline-block;
  border-radius:5px;
  // @include background-image(linear-gradient(top, white, $texto_negativo_suave));
  &:hover {
    // background:$bk_3;
    // color:$texto_negativo;
  }
}



@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    // margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    // margin-bottom: 0;
  }
}


@mixin links-teaser {

}


@mixin fish-menu {
  z-index:1000;
    a {
      
      margin:0;
      padding:12px 10px 6px;

    }
    li {
      float:left;
      position:relative;
      & > ul {
        top:auto;
        left:auto;
      }
      &:hover {
        ul {
          display:block;
        }
      }
      
    }
    ul {
      display:none;
      position:absolute;
      width:15em;
      li {
        float:none;
        clear:left;
      }
      a {

        margin:0;
      }
    }
}

@mixin clearfix {
  &:after {
     visibility: hidden;
    content: "";
  display: table;
  clear: both;
     }
  // display: inline-block;

}


@mixin tabs($var){
  
  
  // Crea un bucle para los elementos h1 a h5
  // @for $i from 1 through $var {
    
    // $amount : $i + 1;
    
    // table:nth-child({$i}) caption {
      // Por cada vuelta, oscurece un 15%
      // left:3em + $i;
    // }
    
  // }
  
}


@mixin tabulado($ancho) {
  float:left;
  width:$ancho;
  margin-right:- $ancho;
}





@mixin boton-grey {
    background:$gris_80;
    // color:white;
   
    padding:4px 10px 2px;
    border-radius:$radius;
    border:1px solid $gris_60;
    background:#da995f;
    background:$gris_60;
    
    /* colores claros */
    background:linear-gradient(to bottom, $gris_98 0%, $gris_90 100%); 
    color:$general;
    border-color:$gris_70;
    
    &:before {
      
    }
    &.active, &:hover , &:focus {
      background:$bk;
      border-color:$gris_50;
      color:white;
      
    }
    &.disabled {
       background:$gris_90;
       text-shadow:none;
       color:$gris_70;
       background:transparent;
       border-color:$gris_80;
    }    
    &.disabled {
       // background:$gris_70;
       // border-color:$gris_70;
       // color:$gris_90;
       
       // opacity:0.7;
       // text-shadow:none;
       // color:$gris_70;
       // background:transparent;
       // border-color:$gris_80;
    }
}


@mixin boton-grey-sub {

   border-bottom-color:$gris_70;
       border-top:none;
       background:$gris_95;
       &:hover  {
        background:$bk;
        color:white;
       }
       
       &:first-of-type  {
        border-radius:0 $radius 0  0;
        border-top:1px solid $gris_70;
      }
      &:last-of-type  {
        border-radius:0  0  $radius $radius;
      }
}