@media only screen and (min-width: 1024px){
.navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .navbar-nav .divider-vertical {
        height: 50px;
        /*margin: 0 9px;*/
        border-right: 1px solid #CCCCCC;
        border-left: 1px solid #f2f2f2;
    }
    .navbar-text {
        float: left;
        margin-left: 0px !important;
    }
    .nav-small {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.8em;
        padding-top: 10PX;
        }
        
        
    
    /*logo */
    .logo-wrapper {
        margin-top: 10px;
    }
    /* Navs*/
    .sign-in-wrapper {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .sign-in-wrapper > .nav-text{
        padding-right: 5px;
        color: #777;
    }
    .nav-medium > button{
        margin-bottom: 10px;
    }
    .nav-medium a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: relative;
        display: inline-block;
        margin: 0px 5px;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1em;
    }

    .nav-medium a:hover,.nav-medium a:active,
    .nav-medium a:focus {
        outline: none;
    }
    /* nav-medium-effect: move up fade out, push border */
    .nav-medium-effect a {
        color: #000;
        text-shadow: none;
        padding: 10px 0;
        text-decoration: none;
    }

    .nav-medium-effect a::before {
        color: #777;
        content: attr(data-hover);
        position: absolute;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
        -webkit-backface-visibility: hidden;
    }
    .nav-medium-effect a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #eb8000;
        opacity: 0;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        transform: translateY(5px);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
        -webkit-backface-visibility: hidden;

    }

    .nav-medium-effect a:hover::before,.nav-medium-effect a:active::before
    .nav-medium-effect a:focus::before {
        opacity: 0;
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-backface-visibility: hidden;
    }

    .nav-medium-effect a:hover::after,.nav-medium-effect a:active::after,
    .nav-medium-effect a:focus::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-backface-visibility: hidden;
    }

    .navbar-ex1-collapse {
        padding-left: 0 !important ;
    }
    .navbar {
        height: 20px;
    }
    .nav>li>a:hover, .nav>li>a:focus {
        background-color: transparent !important;
    }
    .navbar-default {
        background-color: #fff;
        border-color: #fff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background-color: #fff;
    }
    .navbar-brand{
        display: none !important;
    }
    .breadcrumb {
        background-color: #FFF !important;
        }
    .border-top{
        background:url(../img/border-top.png) no-repeat center ;
        height:15px;
        }
    .border-bottom{
        background:url(../img/border-bottom.png) no-repeat center ;
        height:15px;
        }
    .footer-wrapper{
        margin-top:20px;
        margin-bottom:20px;
    }
    
    .page{
        padding-top: 155px;
    }
    .sign-in-wrapper {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .sign-in-wrapper > .nav-text{
        padding-right: 5px;
        color: #777;
    }
    .nav-medium > button{
        margin-bottom: 10px;
    }
    .nav-medium a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: relative;
        display: inline-block;
        margin: 0px 5px;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1em;
    }

    .nav-medium a:hover,.nav-medium a:active,
    .nav-medium a:focus {
        outline: none;
    }
    /* nav-medium-effect: move up fade out, push border */
    .nav-medium-effect a {
        color: #000;
        text-shadow: none;
        padding: 10px 0;
        text-decoration: none;
    }

    .nav-medium-effect a::before {
        color: #777;
        content: attr(data-hover);
        position: absolute;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
        -webkit-backface-visibility: hidden;
    }

    .nav-medium-effect a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #eb8000;
        opacity: 0;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        transform: translateY(5px);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
        -webkit-backface-visibility: hidden;

    }

    .nav-medium-effect a:hover::before,.nav-medium-effect a:active::before
    .nav-medium-effect a:focus::before {
        opacity: 0;
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-backface-visibility: hidden;
    }

    .nav-medium-effect a:hover::after,.nav-medium-effect a:active::after,
    .nav-medium-effect a:focus::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-backface-visibility: hidden;
    }

    .navbar-ex1-collapse {
        padding-left: 0 !important ;
    }
    .navbar {
        height: 20px;
    }
    .navbar-default {
        background-color: #fff;
        border-color: #fff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background-color: #fff;
    }
    .navbar-brand{
        display: none !important;
    }
        .breadcrumb {
        background-color: #FFF !important;
    }
    .border-top{
        background:url(../img/border-top.png) no-repeat center ;
        height:15px;
    }
    .border-bottom{
        background:url(../img/border-bottom.png) no-repeat center ;
        height:15px;
    }
    .footer-wrapper{
        margin-top:20px;
        margin-bottom:20px;
    }
}
/* ipad landscape*/
@media only screen and (min-width : 768px) and (max-width : 1185px)  {
        /* nav-small*/
    .nav-small > .col-lg-12 > .pull-right > a {
        color:#777;
        font-weight: 400;
    }
    .nav-small > .col-lg-12 > .pull-right > a:hover,.nav-small > .col-lg-12 > .pull-right > a:focus,.nav-small > .col-lg-12 >.pull-right > a:active{
        color:#fa8800;
        font-weight: 400;
        -webkit-transition: color 300ms ease-out;
        -moz-transition: color 300ms ease-out;
        transition: color 300ms ease-out;
    }
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .nav-small {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.8em;
        padding-top: 10PX;
    }
    /*logo */
    .logo-wrapper {
        margin-top: 10px;
        text-align: center;
    }
}



/* ipad portrait*/
@media only screen and (min-width: 768px)  and (max-width : 990px) /*and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1)*/{
    /* nav-small*/
    .nav-small > .col-lg-12 > .pull-right > a {
        color:#777;
        font-weight: 400;
    }
    .nav-small > .col-lg-12 > .pull-right > a:hover,.nav-small > .col-lg-12 > .pull-right > a:focus,.nav-small > .col-lg-12 >.pull-right > a:active{
        color:#fa8800;
        font-weight: 400;
        -webkit-transition: color 300ms ease-out;
        -moz-transition: color 300ms ease-out;
        transition: color 300ms ease-out;
    }
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .navbar-collapse .navbar-nav > .divider-vertical {
        display: none;
    }
    .nav-small {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.8em;
        padding-top: 10PX;
    }
    /*logo */
    .logo-wrapper {
        margin-top: 10px;
        text-align: center;
    }
    .page{
        padding-top: 165px;
    }
    .sign-in-wrapper {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .sign-in-wrapper > .nav-text{
        padding-right: 5px;
        color: #777;
    }
    .nav-medium > button{
        margin-bottom: 10px;
    }
    .nav-medium{
        font-size: 12px;
    }
    .nav-medium a {
        padding:0px 0px 10px  0px !important;
        margin: 15px 15px 15px 5px!important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: relative;
        display: inline-block;
        margin: 0px 5px;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1em;
    }
    .nav-medium a:hover,.nav-medium a:active,
    .nav-medium a:focus {
        background-color: #ffffff !important;
        outline: none;
    }
    /* nav-medium-effect: move up fade out, push border */
    .nav-medium-effect a {
        color: #000;
        text-shadow: none;
        padding: 10px 0;
        text-decoration: none;
    }

    .nav-medium-effect a::before {
        color: #777;
        content: attr(data-hover);
        position: absolute;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
        -webkit-backface-visibility: hidden;
    }

    .nav-medium-effect a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        opacity: 0;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        transform: translateY(5px);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
        -webkit-backface-visibility: hidden;

    }

    .nav-medium-effect a:hover::before,.nav-medium-effect a:active::before
    .nav-medium-effect a:focus::before {
        opacity: 0;
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-backface-visibility: hidden;
    }

    .nav-medium-effect a:hover::after,.nav-medium-effect a:active::after,
    .nav-medium-effect a:focus::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-backface-visibility: hidden;
    }

    .navbar-ex1-collapse {
        padding-left: 0 !important ;
    }
    .navbar {
        height: 20px;
    }
    .navbar-default {
        background-color: #fff;
        border-color: #fff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background-color: #fff;
    }
    .navbar-brand{
        display: none !important;
    }
    .breadcrumb {
        background-color: #FFF !important;
    }
    .border-top{
        background:url(../img/border-top.png) no-repeat center ;
        height:15px;
    }
    .border-bottom{
        background:url(../img/border-bottom.png) no-repeat center ;
        height:15px;
    }
    .footer-wrapper{
        margin-top:20px;
        margin-bottom:20px;
    }
}
/* iPhone*/
@media only screen and (max-width: 400px){
    .navbar-brand{
        display: inline !important;
    }
    /* nav-small*/
    .nav-small > .col-lg-12 > .pull-right > a {
        color:#777;
        font-weight: 400;
    }
    .nav-small > .col-lg-12 > .pull-right > a:hover,.nav-small > .col-lg-12 > .pull-right > a:focus,.nav-small > .col-lg-12 >.pull-right > a:active{
        color:#fa8800;
        font-weight: 400;
        -webkit-transition: color 300ms ease-out;
        -moz-transition: color 300ms ease-out;
        transition: color 300ms ease-out;
    }
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .nav-small {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.8em;
        padding-top: 10PX;
    }
    /*logo */
    .logo-wrapper {
        margin-top: 10px;
        text-align: center;
    }
    /*
     */
    .sign-in-wrapper {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .sign-in-wrapper > .nav-text{
        padding-right: 5px;
        color: #777;
    }
    .nav-medium > button{
        margin-bottom: 10px;
    }
    .nav-medium a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: relative;
        display: inline-block;
        margin: 0px 5px;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1em;
    }

    .nav-medium a:hover,.nav-medium a:active,
    .nav-medium a:focus {
        outline: none;
    }
    /* nav-medium-effect: move up fade out, push border */
    .nav-medium-effect a {
        color: #000;
        text-shadow: none;
        padding: 10px 0;
        text-decoration: none;
    }

    .nav-medium-effect a::before {
        color: #777;
        content: attr(data-hover);
        position: absolute;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
        -webkit-backface-visibility: hidden;
    }

    .nav-medium-effect a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #eb8000;
        opacity: 0;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        transform: translateY(5px);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
        -webkit-backface-visibility: hidden;

    }

    .nav-medium-effect a:hover::before,.nav-medium-effect a:active::before
    .nav-medium-effect a:focus::before {
        opacity: 0;
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-backface-visibility: hidden;
    }

    .nav-medium-effect a:hover::after,.nav-medium-effect a:active::after,
    .nav-medium-effect a:focus::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-backface-visibility: hidden;
    }

    .navbar-ex1-collapse {
        padding-left: 0 !important ;
    }
    .navbar {
        height: 20px;
    }
    .navbar-default {
        background-color: #fff;
        border-color: #fff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background-color: #fff;
    }
    .navbar-brand{
        display: none !important;
    }
    .breadcrumb {
        background-color: #FFF !important;
    }
    .border-top{
        background:url(../img/border-top.png) no-repeat center ;
        height:15px;
    }
    .border-bottom{
        background:url(../img/border-bottom.png) no-repeat center ;
        height:15px;
    }
    .footer-wrapper{
        margin-top:20px;
        margin-bottom:20px;
    }
}