@media only screen and (min-width: 1024px){
.nav-small > .col-lg-12 > .pull-right > a {
        color:#777;
        font-weight: 400;
    }
    .nav-small > .col-lg-12 > .pull-right > a:hover,.nav-small > .col-lg-12 > .pull-right > a:focus,.nav-small > .col-lg-12 >.pull-right > a:active{
        color:#fa8800;
        font-weight: 400;
        -webkit-transition: color 300ms ease-out;
        -moz-transition: color 300ms ease-out;
        transition: color 300ms ease-out;
    }
}