$gris_98:#fafafa; 
$gris_95:#f2f2f2; 
$gris_90:#e5e5e5; 
$gris_80:#cccccc; 
$gris_70:#b3b3b3; 
$gris_60:#999999; 
$gris_50:#808080; 
$gris_40:#666666; 
$gris_30:#4d4d4d; 
$gris_20:#333333; 
$gris_10:#1a1a1a; 
$general:$gris_40; 
$claro:$gris_60; 
$strong:$gris_10; 
$texto_negativo:white; 
$texto_negativo_destacado:#a8fffc; 
$texto_negativo_suave:#e0d9be; 
$texto_destacado:#2e4da4; 
$green:#53ad56; 
$red:#963333; 
$title:#908ec1; 
$bk:#f6921e; 
$bk_1_1:#EDC13A; 
$bk_1_2:#907F4B; 
$bk_1_3:#fff2ca; 
$bk_2:#04C395; 
$bk_2_1:#5CF1F7; 
$bk_2_2:#9D5858; 
$bk_3:#9D5858; 
$bk_3_1:#b88569; 
$bk_3_2:#783543; 
$bk_4:#2e4da4; 
$bk_4_1:#3177b3; 
$bk_4_2:#292e94; 
$bk_4_3:#72a9d8; 
$bk_4_4:#9ac1e3; 
