 ul.colores li {
         
          width:228px;
          height:64px;
          float:left;
          margin:1em;
          padding:1em;
          border-radius:4px;
 }
 
 .titulo-color {
  background:white;
  background:rgba(255,255,255,0.5);
  padding:0.3em;
  margin:-1em;
 }