.pc-datagrid {
    height: 260px;
    overflow: auto;
}

.pc-datagrid-heading {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pc-datagrid-mainlabel {
    font-weight: bold;
    margin-top: 25px;
}

.pc-metric-formcontrols {
    padding-top: 10px;
}
.pc-datagrid-columnselect {
    height: 100px;
}

#pc-dropzone-container {

}

#pc-dropzone .dz-default.dz-message {
    background-image: url("../img/drop-bg.png");
    height: 200px;
    margin-top: -100.0px;
    margin-left: -203.0px;
}

.pc-from-file {
    min-height: 300px;
    min-width: 200px;
    background: red;
}
#metricContent{
    font-size: 20px;
    padding-top: 10px;
}
#date-format {
    color: #58595b;
    background-color: #eeeeee;
}

.pc-individual-remove {
    float: right;
}

.pc-result-table col.rowHeader {
    width: 180px;
}

.pc-reference-selection-full button {
    width: 100%;
    background: white;
    color: black;
    border: 1px solid #ccc;
}

.pc-reference-selection-full button:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff, #ccc) repeat;
}

.multiSelect .checkboxLayer {
    max-height: 300px;
    overflow: auto;
}

.help-text.active {
    display: block;
    z-index: 1000;
}

.help-switch:hover {
    cursor: pointer;
    cursor: hand;
}

.submenu.active {
    z-index: 2000;
}
.dataset-filter h5 {
    width: auto;
    margin-left: 10px;
}

.pc-dataset-individuals {
    margin-top: 10px;
    max-height: 420px;
    overflow: auto;
}

.pc-dataset-button-mode {
    float: left;
    margin-right: 20px;
}

.pc-dataset-toolbar {
    min-height: 65px;
}