.pc-datagrid {
    height: 260px;
    overflow: auto;
}

.pc-datagrid-heading {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pc-datagrid-mainlabel {
    font-weight: bold;
    margin-top: 25px;
}

.pc-metric-formcontrols {
    padding-top: 10px;
}

.pc-datagrid-columnselect {
    height: 100px;
}

#pc-dropzone-container {

}

#pc-dropzone .dz-default.dz-message {
    background-image: url("../img/drop-bg.png");
    height: 200px;
    margin-top: -100.0px;
    margin-left: -203.0px;
}

.pc-from-file {
    min-height: 300px;
    min-width: 200px;
    background: red;
}

#metricContent {
    font-size: 20px;
    padding-top: 10px;
}

#date-format {
    color: #58595b;
    background-color: #eeeeee;
}

.pc-individual-remove {
    float: right;
}

.pc-result-table col.rowHeader {
    width: 180px;
}

.pc-reference-selection-full button {
    width: 100%;
    background: white;
    color: black;
    border: 1px solid #ccc;
}

.pc-reference-selection-full button:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff, #ccc) repeat;
}

.multiSelect .checkboxLayer {
    max-height: 300px;
    overflow: auto;
}

.help-text.active {
    display: block;
    z-index: 1000;
}

.help-switch:hover {
    cursor: pointer;
    cursor: hand;
}

.dataset-filter h5 {
    width: auto;
    margin-left: 10px;
}

.pc-dataset-individuals {
    margin-top: 10px;
    max-height: 420px;
    overflow: auto;
}

.pc-dataset-button-mode {
    float: left;
    margin-right: 20px;
}

.pc-dataset-toolbar {
    min-height: 65px;
}

.pc-er-button {
    margin-top: 28px;
}

.dataset-dropdown{
    left: 30%;
    right: auto;
    width: 260px;
}

.open > .dataset-dropdown >li >a{
    background-color: white;
    text-decoration:none;
    display: block;
    cursor:pointer;
}

.open > .dataset-dropdown{
    display: block;
}

.dataset-dropdown-image{
    width:15%;
    height:15%;
}

.dataset-search{
    background-color:#f9f9f9;
    height:120px;
    width:30%;
    min-width: 280px;
    margin-left: 2.5%;
}

.dataset-search-results{
    background-color:#f9f9f9;
    padding: 2% 2% 2% 2%;
}

.dataset-search-results > *:last-child{
    margin-bottom: 2%;
}

.dataset-results-block{
    margin: 0.8%;
}


.dropdown-datasets{
    position:absolute;
    display: inline-block;
    z-index: 1000;
}

.dropdown-button{
    cursor: pointer;
}

.dropdown-content{
    display:none;
    position: absolute;
    min-width:160px;
    background-color: white;
    border: 2px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.dropdown-content a{
    text-decoration:none;
    padding: 7px;
    display:block;
}

.dropdown-datasets:hover .dropdown-content{
    display:block;
}


