.leaflet-control-pan-up {
  background-image: url(../img/panControlImg/pan-up.png);
}
.leaflet-control-pan-left {
  background-image: url(../img/panControlImg/pan-left.png);
}
.leaflet-control-pan-right {
  background-image: url(../img/panControlImg/pan-right.png);
}
.leaflet-control-pan-down {
  background-image: url(../img/panControlImg/pan-down.png);
}