$txt:#525252;
$txt_suave:#b7b7b7;
$txt_suave_2:#cbcbcb;
$bk:#50929e;
  body {
    font-size:11pt;
    font-family: arial, sans-serif;
    color:$txt;
    line-height: 1.3em;
  }
	#page {
	  
	  
	  background: white;
	  padding: 2em;
	  
	}
@media all and (min-width:720px) {
  body {
    background: #ebebeb;
    
  }
	#page {
	  max-width: 960px;
	  margin: 1em auto;
	  
	  
	  box-shadow: 2px 2px 4px #bababa;
	}

}



pre {
  color: #b8a871;
  line-height: 1.2em;
}

@font-face {
  font-family: 'iconos';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#iconosRegular") format("svg");
}


a {
  text-decoration: none;
  color:$txt;
  border-bottom:1px solid $txt_suave_2;
}


.icono:before {
  font-family: 'iconos';
  margin-right: 5px;
}


img {
  max-width: 100%;
}


.mockups {
  overflow: hidden;
}


label {
  padding: 0.3em;
  text-align: center;
  display: block;
}

li {
  margin:0.5em 0;
}

.cols {
  width: 31%;
  float: left;
  margin: 0 1%;
}
code {
  color:$txt_suave_2
}
h3 {
  margin-top:3em;
  background:$bk;
  color:white;
  padding:0.3em;
  font-weight:normal;
}
em {
  color:$txt_suave;
}

ol.letras {
list-style-type:lower-alpha
  }

  
  p.description {
   color:$txt_suave;
   margin-top:0.2em;
}
  
  
