/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#slide-1{
    height: 60%;
}
/* Slide 1 */
#slide-1 .bcg {
    background-image:url('');
}

/* CSS - Slide 2 */
#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 310px;
    text-align: center
}
/* CSS - Slide 3 */
#slide-3 .bcg {
    background-image:url('');}


.div_table {
    height: 100%;
    display: table;
    margin: auto;
}
.div_tablecell {
    display: table-cell;
    vertical-align: middle;
}
#slide1{
    background-image:url('../img/parallaxImg/bcg_section-1.png');
    background-position: center center;
    background-repeat: repeat;
    height: 600px;
}
#slide2{
    background-color: #ffffff;
    height: 200px;
}
#slide3{
    background-image:url('../img/parallaxImg/bcg_section-3.png');
    background-position: center center;
    background-repeat: repeat;
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    height: 600px;
}
#slide4{
    background-image:url('../img/parallaxImg/bcg_section-4.png');
    background-position: center center;
    background-repeat: repeat;
    height: 600px;
    width: 100%;
}
#slide5{
    background-image:url('../img/parallaxImg/bcg_section-5.png');
    background-position: center center;
    background-repeat: repeat;
    height: 600px;
    width: 100%;
}
#slide6{
    background-image:url('../img/parallaxImg/bcg_section-6.png');
    background-position: center center;
    background-repeat: repeat;
    height: 600px;
    width: 100%;
}