@import "variables";
@import "base";
@import "custom";
@import "components/bootstrap";
@import "components/normalize";
@import "components/layout";
@import "components/backgrounds";
// @import "components/html";
// @import "components/layout";
@import "components/pages";
@import "components/pages-detail";
@import "components/pages-create";
@import "components/main";
// @import "components/well";
// @import "components/navigation-mov";
@import "components/navigation";
@import "components/navigation-tabs";
@import "components/main-buttons";
@import "components/browse";
@import "components/myPolicyCompass";
@import "components/pages-landing";
@import "components/pages-search";
@import "components/pages-feedback";
@import "components/pages-create-dataset";
@import "components/pages-visualization";
@import "components/pages-metrics";
@import "components/pages_fcm";
@import "components/pages-share";
// @import "components/navigation-top";
// @import "components/metrics";
// @import "components/landingPage";
@import "components/pages-want";
@import "components/pages-formula";
@import "components/pages-footer";
@import "components/pages-event";
@import "components/pages-event-configurations";
@import "components/pages-event-search";
@import "components/modal";
@import "components/colors";
@import "components/loading";
@import "components/visualisations";
@import "components/leaflet";
@import "components/ratings";
@import "offcanvas";
@import "mediaButtons.scss";
