<div class="browse-filters">
  <div class="browse-filters-block">
    <h3>Output</h3>
    <ul>
      <li><input type="checkbox">Metrics</li>
      <li><input type="checkbox">Fuzzy Cognitive Maps</li>
      <li><input type="checkbox">Cisualisation</li>
      <li><input type="checkbox">Event</li>
    </ul>
    </div>
  <div class="browse-filters-block">
  <h3>Location</h3>
  <ul>
    <li><input type="checkbox">All</li>
    <li><input type="checkbox">Europe</li>
    <li><input type="checkbox">Spain</li>
    <li><input type="checkbox">Greece</li>
    <li><input type="checkbox">Germany</li>
    <li><input type="checkbox">Uk</li>
  </ul>
  </div>
  <div class="browse-filters-block">
  
  <h3>Location</h3>
  <ul>
    <li><input type="checkbox">All</li>
    <li><input type="checkbox">Europe</li>
    <li><input type="checkbox">Spain</li>
    <li><input type="checkbox">Greece</li>
    <li><input type="checkbox">Germany</li>
    <li><input type="checkbox">Uk</li>
  </ul>
  </div>
  
</div>
