<div class="container">
  <div class="row">
    <div class="col-lg-12 browse-statement-phrase ">
      <p>
        Policy Compass will simplify the way to utilize, interact, mash-up, visualise and interpret the increasing amount of international open econonmic data and wealth indicators from reliable international data sources
      </p>
    </div>
  </div>
  <!-- /.row  -->
  <div class="row" style="text-align: center">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
      <div class="input-group">
        <div class="input-group-btn dropdown">
          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">All <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a>
            </li>
            <li><a href="#">Metrics</a>
            </li>
            <li><a href="#">Fuzzy cognitive Maps</a>
            </li>
            <li><a href="#">Visualisation</a>
            </li>
            <li><a href="#">Event</a>
            </li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input type="search" class="browse-input form-control" required="" placeholder="Search for metrics, visualizations,FCM models, events" ng-model="searchQuery" />
        <span class="input-group-btn">
                    <button class="btn btn-warning" type="button" ng-click="search(searchQuery)">Go!</button>
                  </span>
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <!-- /.row  -->
  <div class="row">
    <div class="bs-example bs-navmenu-offcanvas-example">
      <div id="myNavmenuCanvas">
        <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
          <span class="navmenu-brand">Filter </span>
          <ul class="nav navmenu-nav">
            <li><a href="#">Name</a>
            </li>
            <li><a href="#">Date</a>
            </li>
          </ul>
        </nav>
        <div class="col-lg-12 filterbar">
          <a class="search-icon-btn" data-placement="left" data-canvas="#myNavmenuCanvas" data-target="#myNavmenu" type="button" data-toggle="offcanvas"><span class="filter-menu-icon glyphicon glyphicon-th-list"></span><span class="filter-menu-link">Filter</span></a>
          <span class="dropdown pull-right">
                        <btn class="btn btn-show btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            10
                            <span class="caret"></span>
          </btn>
          <ul class="dropdown-menu dropdown-show" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">20</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">30</a>
            </li>
          </ul>
          </span>
          <span class="pull-right text-show">Show</span>
        </div>
        <div>
          <div class="row">
          </div>
          <div class="no-results" ng-hide="searchResults.length">
            <h2>No results found</h2>
          </div>
          <div class="num-results" ng-show="searchResults.length">
            <h2>{{searchResults.length}} results found</h2>
          </div>
          <article class="search-result clearfix" ng-repeat="searchResult in searchResults" ng-cloak>
            <div class="search-result-content align-left">
              <h1 class="search-result-title"><a href="/app/#/{{ searchResult['_type']}}s/{{ searchResult['_source']['id'] }}">{{ searchResult['_source']['title'] }}</a></h1>
              <h4>{{ searchResult['_type']}}</h4>
              <div class="search-result-excerpt">
                <p>{{ searchResult['_source']['description']}}</p>
              </div>
              <!-- .search-result-excerpt -->
            </div>
            <!-- .align-left -->

            <div class="search-result-meta align-right">
              <div class="search-result-meta-date">
                <p>Updated:
                  <time>{{ searchResult['_source']['issued']}}</time>
                </p>
              </div>
              <h4>Publisher: <a href="{{ searchResult['_source']['external_resource']['url'] }}"  target="_blank">{{ searchResult['_source']['publisher'] }}</a></h4>
            </div>
            <!-- .align-right -->
          </article>

        </div>
        <div class="col-lg-12 result-wrapper">
          <div class="row">
            <div class="result-block col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class=".searchItemIcon-effect">
                <div class="searchItemIcon mapIcon col-lg-12"></div>
                <!-- /.col-lg-12  -->
              </div>
              <div class="col-lg-12">
                <a href="#/models">
                  <h5>Fuzzy Cognitive Map</h5>
                  <p class="text-justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun</p>
                </a>
              </div>
              <!-- /.col-lg-12  -->
              <div class="col-lg-12">
                <div class="rating">
                  <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                  <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                </div>
              </div>
              <!-- /.col-lg-12  -->
            </div>
            <!-- /result-block .col-lg-3  -->
            <div class="result-block col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="searchItemIcon visualizationIcon col-lg-12"></div>
              <!-- /.col-lg-12  -->
              <div class="col-lg-12">
                <a href="#/visualizations">
                  <h5>Visualisation</h5>
                  <p class="text-justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun</p>
                </a>
              </div>
              <!-- /.col-lg-12  -->
              <div class="col-lg-12">
                <div class="rating">
                  <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                  <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                </div>
              </div>
              <!-- /.col-lg-12  -->
            </div>
            <!-- /result-block .col-lg-3  -->
            <div class="result-block col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="searchItemIcon eventIcon col-lg-12"></div>
              <!-- /.col-lg-12  -->
              <div class="col-lg-12">
                <a href="#/events">
                  <h5>Historical Events</h5>
                  <p class="text-justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun</p>
                </a>
              </div>
              <!-- /.col-lg-12  -->
              <div class="col-lg-12">
                <div class="rating">
                  <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                  <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                </div>
              </div>
              <!-- /.col-lg-12  -->
            </div>
            <!-- /result-block .col-lg-3  -->
            <div class="result-block col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="searchItemIcon metricIcon col-lg-12"></div>
              <!-- /.col-lg-12  -->
              <div class="col-lg-12">
                <a href="#/metrics">
                  <h5>Metric</h5>
                  <p class="text-justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun</p>
                </a>
              </div>
              <!-- /.col-lg-12  -->
              <div class="col-lg-12">
                <div class="rating">
                  <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                  <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                </div>
              </div>
              <!-- /.col-lg-12  -->
            </div>
            <!-- /result-block .col-lg-3  -->
          </div>
          <!-- /.row  -->
        </div>
        <!-- /.col-lg-12 result-wrapper -->
      </div>
      <!-- myNavmenuCanvas -->
    </div>
    <!-- /.bs-example  -->
  </div>
  <!-- /.row  -->
</div>
<!-- /.container -->
