<a href='' id='addVisualisationButton{{chapter.number}}' class='btn btn-default fonticon-{{ contentType }}' ng-click='open(chapter.number)'>Add {{ contentType }}</a>

<!-- feedback modal template -->
<script type="text/ng-template" id="add-media-modal">
<div class="modal-header dialog-header-notify ng-scope">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title text-info ng-binding fonticon fonticon-{{ contentType }} ng-binding"> Add {{ contentType }}</h4>
</div>

<div class="modal-body text-info ng-binding ng-scope">

	<div ng-switch on="contentType">
		<div ng-switch-when="m" id="filterMetrics" class="selectorMetrics" metrics-list="ListMetricsFilter" number-Max-Metrics="1" functionformetric="rePlotGraph()"></div>

		<div ng-switch-default id="basic-modal-content-pc">
			<div id="filterDatasets" class="selectorMedia" datasets-list="ListDatasetsFilter" number-Max-Datasets="2" functionfordataset="rePlotGraph()" content-id="contentId" content-type="contentType"></div>
		</div>
	</div>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-primary btn-validate" ng-click="addToChapter(chapterNumber, 2)" ng-disabled="!contentId">Add to chapter</button>
    <button class="btn btn-primary btn-clear" ng-click="close()">Cancel</button>
</div>
</script>