<div class="container container-create-visualisation">

    <div class="content-header">
        <h3 ng-if="mode == 'create'"><span class="fonticon fonticon-story"></span> Create a New Story</h3>

        <h3 ng-if="mode == 'edit'"><span class="fonticon fonticon-story"></span> Edit Story</h3>
    </div>

    <div class="pc-visualization-formcontrols">
        <div class="form-group pull-left btn-group">
            <a href="" id="saveButton" data-ng-disabled="storyForm.$invalid" class="btn btn-default btn-save" ng-click="saveStory()">Save</a>
            <a href="" id="addChapterButton" class="btn btn-default btn-add" ng-click="addChapter()">Add Chapter</a>
            <a href="" id="previewButton" class="btn btn-default fa-file-text-o" ng-click="previewStory()">Preview</a>
            <a type="button" class="btn btn-danger fa-trash-o" href="#!/">Cancel</a>
        </div>
    </div>

    <div class="content-body">
        <form name="storyForm" role="form" novalidate>
            <div class="form-group">
                <label>Story Title</label>
                <input class="form-control" id="story_title" type="text" name="story_title" data-ng-model="story_title" required>
            </div>

            <br>
            <br>

            <div id="chaptersDiv" ng-repeat="chapter in chapters">
                <div id='chapter{{chapter.number}}' class='well'>
                    <div class='row'>
                        <div class='col-xs-4'>
                            <h4 ng-show="chapter.title.length > 0">{{ chapter.title }}</h4>
                            <h4 ng-hide="chapter.title.length > 0">Chapter {{ chapter.number }}</h4>
                        </div>

                        <div class='btn-group col-xs-offset-7 col-xs-1 text-right'>
                            <a href='' id='removeChapter{{chapter.number}}' class='btn btn-danger fa-trash-o' ng-click='removeChapter(chapter.number)'></a>
                        </div>
                    </div>

                    <br>

                    <input class='form-control' value="{{ chapter.title }}" id='chapter{{chapter.number}}_title' type='text' name='chapter{{chapter.number}}_title' placeholder='Chapter {{chapter.number}} Title' required>

                    <br>

                    <div id='chapter{{chapter.number}}_content' name='chapter{{chapter.number}}_content' class='story-chapter-content well'>
                        <div id='chapter{{chapter.number}}_content_toolbox' name='chapter{{chapter.number}}_content_toolbox' class='story-chapter-content-toolbox'>
                            <div class='row'>
                                <div class='btn-group col-xs-12'>
                                    <add-media-button-modal content-type="visualization" chapter="chapters[$index]"></add-media-button-modal>

                                    <add-media-button-modal content-type="metric" chapter="chapters[$index]"></add-media-button-modal>

                                    <add-media-button-modal content-type="fuzzymap" chapter="chapters[$index]"></add-media-button-modal>

                                    <add-media-button-modal content-type="dataset" chapter="chapters[$index]"></add-media-button-modal>

                                    <!--<a href='' id='addMetricButton{{chapter.number}}' class='btn btn-default fonticon-metric' ng-click='addToChapter(chapter.number, 0, 1)'></a>
                                    <a href='' id='addVisualisationButton{{chapter.number}}' class='btn btn-default fonticon-visualisation' ng-click='addToChapter(chapter.number, 1, 2)'></a>
                                    <a href='' id='addCausalButton{{chapter.number}}' class='btn btn-default fa-bar-chart-o' ng-click='addToChapter(chapter.number, 2)'></a>-->
                                </div>
                            </div>
                        </div>
                        <div>
                            <text-angular ng-model="chapter.text" placeholder='Chapter {{chapter.number}} Text'></text-angular>
                            <textarea class='form-control' rows='10' id='chapter{{chapter.number}}_text' type='text' name='chapter{{chapter.number}}_text' required placeholder='Chapter {{chapter.number}} Text' required>{{ chapter.text }}</textarea>
                        </div>
                    </div>

                    <div ng-repeat="content in chapter.contents" class="well">
                        <div>
                            <a class="close" ng-click="removeFromChapter($parent.$index, $index, content.type)" title="Delete this {{ content.type }}">×</a>

                            <a ng-click="mediaSmall = !mediaSmall" title="Toggle size" style="cursor: pointer">
                                <i class="fa " ng-class="{'fa-expand': mediaSmall, 'fa-compress': !mediaSmall}" aria-hidden="true"></i>
                            </a>

                            <div ng-if="mediaSmall">
                                <pc-visualization visualization-id="{{content.contentId}}" x-small></pc-visualization>
                            </div>
                            <div ng-if="!mediaSmall">
                                <pc-visualization visualization-id="{{content.contentId}}"></pc-visualization>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
