<update-meta property="og:title" content="{{ storyTitle }}"></update-meta>
<update-meta property="og:description" content="A Policy Compass story"></update-meta>
<div class="container container-create-visualisation">

    <div class="content-header">
        <h1 class="fonticon fonticon-story">{{ storyTitle }}</h1>
        <span>
            Story by
            <a class="fonticon fonticon-user normal">
                <span>
                    <username ng-if="story.creator_path" userpath="{{ story.creator_path }}"></username>
                </span>
            </a>, added <a>{{ story.issued | date:'longDate' }}</a>, last modified <a>{{ story.modified | date:'longDate' }}</a>

            <div ng-if="story.derived_from_id">
                derived from <a ng-if="originalStory.id" href="#!/stories/{{story.derived_from_id}}">{{originalStory.title}}</a>
                added by <username ng-if="originalStory.creator_path" userpath="{{originalStory.creator_path}}"></username>
            </div>
        </span>


    </div>

    <div class="pc-visualization-formcontrols">
        <div class="btn-group">
            <a type="button" class="btn btn-primary btn-create"  href="#!/stories/{{ story.id }}/edit">
                {{userState.loggedIn && (userState.userPath == story.creator_path || userState.isAdmin) ? 'Edit' : 'Edit a copy'}}
            </a>
            <a href="" id="downloadButton" class="btn btn-default fa-file-text-o" ng-click="downloadStory()">Download</a>
        </div>

        <a href="#" ng-if="story.is_draft" ng-disabled="story.is_draft" class="btn btn-default btn-danger">Draft</a>
    </div>

    <div class="content-body">
        <div class="row">
            <div class="story-chapters-list">
                <div ng-repeat="chapter in storyChapters" id="chapters_list" name="chapters_list" class="story-chapters-list-entry">
                    <a ng-if="chapter" href="#anchor-chapter{{ chapter.number }}" du-smooth-scroll du-scrollspy>{{ chapter.title }}</a>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-2 story-chapters-detail">
                <div ng-repeat="chapter in storyChapters" id="chapters_detail" name="chapters_detail" class="story-chapters-detail-entry">
                    <a name="anchor-chapter{{ chapter.number }}" id="anchor-chapter{{ chapter.number }}"></a>

                    <h2>{{ chapter.title }}</h2>

                    <div ta-bind ng-model="chapter.text"></div>

                    <div ng-repeat="content in chapter.contents">
                        <div style="padding: 10px 0;">

                            <div ng-switch on="content.type">
                                <pc-visualization ng-switch-when="visualization" visualization-id="{{content.index}}"></pc-visualization>

                                <pc-dataset ng-switch-when="dataset" dataset-id="{{content.index}}"></pc-dataset>

                                <pc-metric ng-switch-when="metric" metric-id="{{content.index}}"></pc-metric>

                                <pc-fcm ng-switch-when="fuzzymap" fcm-id="content.index"></pc-fcm>

                                <div ng-switch-default>
                                    <div class="alert alert-danger" style="margin-bottom: 0">Sorry, there is currently no renderer available for this {{ content.type }}.</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
