<div class="container">

<h1><span class="glyphicon glyphicon-list-alt"></span> {{ event.title }}</h1>

<div class="row">
  <div>
      <div class="pc-datagrid" data="datagrid" read-only="true" ng-if="gridvisible"></div>
      <div class="col-lg-12">
      <table class="table table-hover">
          <tr ng-show="event.title">
              <td><b>Title:</b></td>
              <td>{{ event.title }}</td>
          </tr>
          <tr ng-show="event.description">
              <td><b>Description:</b></td>
              <td>{{ event.description }}</td>
          </tr>
      </table>
      </div>
      <div class="col-lg-12">
          <legend class="legend-primary">Details</legend>
          <table class="table table-hover">
          <tr ng-show="event.keywords">
              <td><b>Keywords:</b></td>
              <td>{{ event.keywords }}</td>
          </tr>
          <tr ng-show="event.startEventDate">
              <td><b>Event start:</b></td>
              <td>{{ event.startEventDate | date:'longDate' }}</td>
          </tr>
          <tr ng-show="event.endEventDate">
              <td><b>Event end:</b></td>
              <td>{{ event.endEventDate | date:'longDate' }}</td>
          </tr>
          <tr ng-show="event.detailsURL">
              <td><b>Details URL:</b></td>
              <td><a href="{{ event.detailsURL }}" target="_blank">{{ event.detailsURL }}</a></td>
          </tr>
          <tr ng-show="event.geoLocation">
              <td><b>Geolocation:</b></td>
              <td>{{ event.geoLocation }}</td>
          </tr>
          <tr ng-show="language.title">
              <td><b>Language:</b></td>
              <td>{{ language.title }}</td>
          </tr>
          <!--
          <tr ng-show="event.userID">
              <td><b>User:</b></td>
              <td>{{ event.userID }}</td>
          </tr>
          -->
          <tr ng-show="event.scale">
              <td><b>Scale:</b></td>
              <td>{{ event.scale }}</td>
          </tr>
          <tr ng-show="event.externalResourceID">
              <td><b>External Resource:</b></td>
              <td>{{ event.externalResourceID }}</td>
          </tr>
          <tr ng-show="event.dateAddedToPC">
              <td><b>Added:</b></td>
              <td>{{ event.dateAddedToPC | date:'longDate' }}</td>
          </tr>
          <tr ng-show="event.dateIssuedByExternalResource">
              <td><b>Issued:</b></td>
              <td>{{ event.dateIssuedByExternalResource | date:'longDate' }}</td>
          </tr>
          <tr ng-show="event.dateModified">
              <td><b>Modified:</b></td>
              <td>{{ event.dateModified | date:'longDate' }}</td>
          </tr>
          <!--
          <tr ng-show="event.viewsCount">
              <td><b>Views:</b></td>
              <td>{{ event.viewsCount }}</td>
          </tr>
          -->
      </table>
      </div>
      <div class="col-lg-6">
          <table class="table table-hover">
              <tr ng-show="linked_event_visualization.results">
                  <td><b>Linked Visualizations:</b></td>
              </tr>
          </table>
      </div>
      <div class="col-lg-6">
          <table class="table table-hover">
              <tr ng-repeat="linked in linked_event_visualization.results">
                  <td><a href="/app/#/visualizations/{{ linked.visualization }}" target="_blank">{{ linked.title }}</a></td>
              </tr>
          </table>
      </div>
      <div class="col-lg-12">
          <legend class="legend-primary">Options</legend>
          <a type="button" class="btn btn-primary" href="#!/events/{{ event.id }}/edit">Edit</a>
          <button type="button" class="btn btn-danger" ng-click="deleteEvent(event)">Delete</button>
      </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <legend class="legend-primary">Discussion</legend>
        <show-discussion ng-if="event.id" data-key="event_{{ event.id }}"></show-discussion>
    </div>
</div>
</div>
