<update-meta property="og:description" content="Search for an Event"></update-meta>

<div class="container">
    <div class="content-header">
        <div id="top"></div>
        <h2 class="page-title">Search for an Event</h2>

        <!--<p class="subtitle"> Policy Compass will simplify the way to utilize, interact, mash-up, visualise and interpret the-->
        <!--increasing amount of international open econonmic data and wealth indicators from reliable international data-->
        <!--sources </p>-->
    </div>

    <div class="pc-visualization-formcontrols row">
        <div>
            <!-- <a type="button" class="btn btn-default btn-create" ng-click="saveParameters()" href="#!/events/create">Create Event manually</a>-->
            <a type="button" class="btn btn-default btn-create" href="#!/events/create">Create Event manually</a>
        </div>

    </div>

    <div class="content-body">
        <div class="row">
            <div>
                <div class="input-group">
                    <!-- /btn-group -->

                    <input type="text" class="browse-input form-control" ng-keyup="$event.keyCode == 13 && searchEvent()" id="title" name="title"placeholder="Keyword" ng-model="search_title" ng-minlength="3" ng-required="true" required>
                    <span class="input-group-btn">
                        <button class="btn" type="button" ng-click="searchEvent()">Go!</button>
                    </span>

                </div>
                    <div class="filter-group">
                        <div class="row">

                            <div class="col-md-2 col-xs-6">
                                <div class="filter-group-item">
                                    <span class="text-show">Sort By:</span>
                                    <select class="btn btn-show btn-sm dropdown-toggle" ng-model="selectedSortItem" ng-change="sortItemsChanged()" ng-init="selectedSortItem = selectedSortItem || sortOptions[0]" ng-options="sortOptionItem.name for sortOptionItem in sortOptions">
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 col-xs-6">
                                <div class="filter-group-item">
                                    <span class="text-show">Show:</span>
                                    <select class="btn btn-show btn-sm dropdown-toggle" ng-model="selectedItemPerPage" ng-change="itemsPerPageChanged()" ng-init="selectedItemPerPage = selectedItemPerPage || itemsPerPageChoices[0]" ng-options="itemIPP as itemIPP.name for itemIPP in itemsPerPageChoices">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-4 col-xs-12 text-right" ng-controller="DateController">
                                <form class="form-inline" role="form">

                                    <span class="filter-span">
                                        Start Range:
                                    </span>
                                    <input type="text" id="search.startRange" name="search.startRange" ng-bind="search.startRange | date:'yyyy/MM/dd'" class="form-control" datepicker-popup="{{ format }}" ng-model="search.startRange" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" close-text="Close"/>
                                    <button type="button" class="btn btn-default" ng-click="open($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="form-group col-md-4 col-xs-12 text-right" ng-controller="DateController">
                                <form class="form-inline" role="form">
                                    <span class="filter-span">
                                        End Range:
                                    </span>
                                    <input type="text" id="search.endRange" name="search.endRange" class="form-control" datepicker-popup="{{ format }}" ng-model="search.endRange" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" close-text="Close"/>
                                    <button type="button" class="btn btn-default" ng-click="open($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.search content  -->
                <form name="search-results-form" class="tab-form-events" ng-show="searched" >
                    <tabset id="eventTabs" active="tabsActive" ng-show="tabsActive">
                        <tab select="setActiveTab(0)" index="0" active="wikipedia_title_active" heading="Wikipedia" id="tab_wikipedia_titles"  >
                            <div class="filter-group" ng-show="false">
                                <div class="row">
                                    <div class="form-group col-md-4 col-xs-12">
                                        <form class="form-inline" role="form">
                                            <span class="filter-span">
                                                Search:
                                            </span>
                                            <input type="text" id="searchBar" ng-change="filterSearchResults(searchBar)" ng-model="searchBar" name="searchBar" placeholder="Keyword" class="form-control"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="number-results-wrap">
                                <span><ng-pluralize count="wikipedia_title_results.length" when="{'0': 'No results found',
                                               '1': '1 result found',
                                               'other': '{} results found'}"></ng-pluralize></span>
                            </div>

                            <div class="search-results row-flex">
                                <div ng-repeat="result in wikipedia_title_results track by $index" ng-model="wikiTitleResults" class="result-wrapper">
                                    <div class="result-block searchItemIcon" ng-cloak>
                                        <div class="search-result">
                                            <h5>
                                                <a href ng-click="searchForWikipediaEvents(result[0])">{{result[0]}}</a>
                                            </h5>

                                            <div class="attributes">
                                                <p>{{ result[1] }}</p>

                                                <p class="wikipedia-search">URL: {{ result[2] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab select="setActiveTab(1)" index="1" active="dbpedia_active" heading="DBPedia & GESIS" id="tab_dbpedia" >
                            <div class="filter-group">
                                <div class="row">
                                    <div class="form-group col-md-4 col-xs-12">
                                        <form class="form-inline" role="form">
                                            <span class="filter-span">
                                                Search:
                                            </span>
                                            <input type="text" id="searchBar" ng-change="filterSearchResults(searchBar)" ng-model="searchBar" name="searchBar" placeholder="Keyword" class="form-control"/>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="number-results-wrap">
                                <span><ng-pluralize count="searchResultsTotal.length" when="{'0': 'No results found',
                                               '1': '1 result found',
                                               'other': '{} results found'}"></ng-pluralize></span>
                            </div>
                            <div class="search-results row-flex">
                                <div ng-repeat="resultEvent in searchResults track by $index"  value="{{$index}}" ng-model="searchResults" class="result-wrapper result-wrapper-{{'event'}}">
                                    <div class="result-block searchItemIcon {{'event'}}Icon" ng-cloak>
                                        <div class="search-result">
                                            <h5><a ng-click="search.selectedEvent = resultEvent; selectEvent()">
                                                {{ resultEvent.title}}</a>
                                            </h5>

                                            <div class="attributes">

                                                <p>{{ resultEvent.description | limitTo:500 }}</p>

                                                <div class="key-field">
                                                    <label class="key-field-title">Start of Event: </label>
                                                    {{ resultEvent.date|date:'dd-MM-yyyy'}}
                                                </div>

                                                <div class="key-field">
                                                    <label class="key-field-title">URL: </label>
                                                    {{ resultEvent.url }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </tab>
                        <tab select="setActiveTab(2)" index="2" active="wikipedia_event_active" id="tab_wikipedia_results" heading='Events from "{{ wikiTitle }}" article' ng-show="searchedForWikiEvents">
                            <div ng-show="searchedForWikiEvents">
                                <div class="filter-group">
                                    <div class="row">
                                        <div class="form-group col-md-4 col-xs-12">
                                            <form class="form-inline" role="form">
                                                <span class="filter-span">
                                                    Search:
                                                </span>
                                                <input type="text" id="wikiSearchBar" ng-change="filterWikiSearchResults(wikiSearchBar)" ng-model="wikiSearchBar" name="wikiSearchBar" placeholder="Keyword" class="form-control"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="number-results-wrap">
                                    <span><ng-pluralize count="wikiSearchResultsTotal.length" when="{'0': 'No results found',
                                                   '1': '1 result found',
                                                   'other': '{} results found'}"></ng-pluralize></span>
                                </div>
                                <div class="search-results row-flex">
                                    <div ng-repeat="resultEvent in wikiSearchResults track by $index"  value="{{$index}}" ng-model="wikiSearchResults" class="result-wrapper result-wrapper-{{'event'}}">
                                        <div class="result-block searchItemIcon {{'event'}}Icon" ng-cloak>
                                            <div class="search-result">
                                                <h5><a ng-click="search.selectedEvent = resultEvent; selectEvent()">
                                                    {{ resultEvent.title}}</a>
                                                </h5>

                                                <div class="attributes">

                                                    <p>{{ resultEvent.description | limitTo:500 }}</p>

                                                    <div class="key-field">
                                                        <label class="key-field-title">Start of Event: </label>
                                                        {{ resultEvent.date|date:'dd-MM-yyyy'}}
                                                    </div>

                                                    <div class="key-field">
                                                        <label class="key-field-title">URL: </label>
                                                        {{ resultEvent.url }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>

                    <div style="text-align: center" ng-show="activeTab==0">
                        <pagination total-items="wikipedia_title_results.length" ng-change="pageChangedWikiTitles()" items-per-page="itemsperPage" ng-model="currentPageWikiTitles" max-size="paginationSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    </div>

                    <div style="text-align: center" ng-show="activeTab==1">
                        <pagination total-items="totalItems" ng-change="pageChanged()" items-per-page="itemsperPage" ng-model="currentPage" max-size="paginationSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    </div>

                    <div style="text-align: center" ng-show="activeTab==2">
                        <pagination total-items="wikiSearchResultsTotal.length" ng-change="pageChangedWikiResults()" items-per-page="itemsperPage" ng-model="currentPageWikiResults" max-size="paginationSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    </div>

                </form>

                <div class="clearfix"></div>

        </div>
        <!-- /.row  -->
    </div>
</div>

<!-- /.container -->
