<div class="container main-content">
    <legend>
        <h3><span class="glyphicon"></span> Search for an Event</h3>
    </legend>

    <div class="pc-visualization-formcontrols">
            <div class="button-group">
                <a type="button" id="nextStepButton" ng-show="true" ng-disabled="eventForm.$invalid" class="btn btn-default" ng-click="searchEvent()">Search
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a type="button" class="btn btn-danger" href="#!/events/create">Cancel</a>
            </div>
    </div>

    <form name="eventForm" role="form" novalidate>
        <div ng-switch="step">
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group" ng-class="{'has-error': eventForm.title.$dirty && eventForm.title.$invalid}">
                        <label for="title">Keyword *</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Keyword" ng-model="search.title" ng-minlength="3" ng-required="true" required>
                    </div>
                    <div>
                        <div class="form-group date-picker" ng-class="{'has-error': eventForm.startEventDate.$dirty && eventForm.startEventDate.$invalid}" ng-controller="DateController">
                            <label for="startEventDate">Start Range of Event *</label>

                            <p class="input-group">
                                <input type="text" id="startEventDate" name="startEventDate" class="form-control" datepicker-popup="{{ format }}" ng-model="search.startEventDate" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" ng-required="true"  close-text="Close" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="form-group date-picker" ng-controller="DateController" ng-class="{'has-error': eventForm.endEventDate.$dirty && eventForm.endEventDate.$invalid}">
                            <label for="endEventDate">End Range of Event *</label>

                            <p class="input-group">
                                <input type="text" id="endEventDate" name="endEventDate" class="form-control" datepicker-popup="{{ format }}" ng-model="search.endEventDate" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" close-text="Close" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </p>
                        </div>
                    </div>
                    <label>Select Source(s):</label>

                    <div ng-repeat="result in availableExtractors">
                        <div ng-if="result.valid && result.active">
                            <input type="checkbox" ng-model="bool" ng-change="sync(bool, result.name)" ng-checked="isChecked(result.name)"> {{result.name}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div ng-switch-when="second">
                        <label>Results</label>
                        <select multiple class="form-control" ng-model="search.selectedEvent" style="height: 200px">
                            <option ng-repeat="result in searchResults" value="{{$index}}" ng-model="searchResults">{{
                                result.title }}
                            </option>
                        </select><br>

                        <div class="pc-event-formcontrols">
                            <div class="form-group pull-right">
                                <button type="submit" id="saveButton" ng-show="step=='second'" ng-disabled="eventForm.$invalid" class="btn btn-default" ng-click="selectEvent()">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    Continue
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div ng-show="search.selectedEvent">
                        <br>
                        <label>Title:</label> {{ searchResults[search.selectedEvent[0]].title }}<br>
                        <label>Description:</label> {{ searchResults[search.selectedEvent[0]].description }}<br>
                        <label>Year:</label> {{ searchResults[search.selectedEvent[0]].date.substring(0,4) }}<br>
                        <label>URL:</label> {{ searchResults[search.selectedEvent[0]].url }}<br>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
