<div class="modal-header">
	<h1>{{item.name}}</h1>
	{{item.startDate}}
</div>

<div class="modal-header">
	<h3>Fill in this form and click over the submit button to create a new event.</h3>
</div>
<!--
<div ng-controller="VisualizationsCreateController as vc" class="modal-body">
-->	
<div class="modal-body">
	<div id="basic-modal-content-pc">
		<!--
		<form action="#" name="neweventForm" ng-submit="submitFormAddEvent()" novalidate>
		-->
		<form action="#" name="neweventForm" role="form"  ng-submit="submitFormAddEvent()" novalidate >
			
			<div class="form-group" ng-show="events">
				<label for="historicalEvents">Historical events:</label>
					<div>
						<select 
							ng-model="myOption"
                			ng-options="event.title for event in events track by event.id"
                			ng-change="changeselectHE(myOption)"
                			class="form-control" >
            					<option value="">Select Historical Event</option>
            			</select>					
      				</div>
			</div>
			
			<div class="form-group" ng-class="{ 'has-error' : neweventForm.title.$invalid && !neweventForm.title.$pristine }">
            	<label for="titleHE" class="mandatory">Title:</label> {{historicalevent_title}}
            	<input type="hidden" maxlength="80" size="60" name="idHE" id="idHE" class="form-control" ng-model="historicalevent_id">
            	<input type="hidden" maxlength="80" size="60" name="titleHE" id="titleHE" class="form-control" ng-model="historicalevent_title">
            	<p ng-show="neweventForm.title.$invalid && !neweventForm.title.$pristine" class="help-block">A title is required.</p>
        	</div>


			<div class="form-group" ng-controller="DateController">
                <label for="startDate">Start date:</label> {{historicalevent_startDate | date:'longDate'}}
                <p class="input-group">
                    <input type="hidden"
                           id="startDate"
                           name="startDate"
                           class="form-control"
                           datepicker-popup="{{ format }}"
                           ng-model="historicalevent_startDate"
                           is-open="opened"
                           min-date="minDate"
                           max-date="maxDate"
                           datepicker-options="dateOptions"
                           show-button-bar="false"
                           ng-required="false"
                           ng-disabled="true"
                           close-text="Close" 
                           value="{{historicalevent_he_startdate}}" />
                     <!--
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    -->
                </p>
            </div>
            
            
			<div class="form-group" ng-controller="DateController">
                <label for="endDate">End date:</label> {{historicalevent_endDate | date:'longDate'}}
                <p class="input-group">
                    <input type="hidden"
                           id="endDate"
                           name="endDate"
                           class="form-control"
                           datepicker-popup="{{ format }}"
                           ng-model="historicalevent_endDate"
                           is-open="opened"
                           min-date="minDate"
                           max-date="maxDate"
                           datepicker-options="dateOptions"
                           show-button-bar="false"
                           ng-required="false"
                           ng-disabled="true"
                           close-text="Close" 
                           value="{{historicalevent_he_enddate}}" />
                    <!--
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    -->
                </p>
            </div>            
            
			<div class="form-group">
				<label for="Description">Description:</label>
				<div>				
					<textarea rows="2" cols="50" ng-model="historicalevent_description" ng-trim="false" maxlength="150" name="descriptionHEToAdd" id="descriptionHEToAdd">{{historicalevent_description}}</textarea>
    				<span>{{150 - test.length}} left</span>
    			</div>
    		</div>
			
			


			
		</form>		
	</div>   

			<div class="modal-footer">
				<!--		
				<a ng-disabled="neweventForm.$invalid" href="" ng-click="addAnotherHistoricalEvent('dynamicContainer'); rePlotGraph(); ok();" class="button btn btn-success" id="addmetric">Link event</a>
				-->
				<button ng-disabled="!historicalevent_id" href="" ng-click="addAnotherHistoricalEvent('dynamicContainer'); rePlotGraph(); ok();" class="btn btn-default" id="addmetric">Link event</button>				
    			<button class="btn btn-warning" ng-click="cancel()">Close</button>
    			<a href="#/events/create"  target="_blank" class="btn btn-primary" id="addmetric">Create a new event</a>
			</div>

</div>
