<div class="modal-header dialog-header-notify ng-scope">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-info ng-binding fonticon fonticon-event ng-binding"> {{item.name}}</h4>
</div>

<div class="modal-body text-info ng-binding ng-scope">
    <div id="basic-modal-content-pc">
    	    	
        <tabset ng-hide="hideTabs">
            <tab heading="Recommended" active="tabRecommended">
                <div class="row"><br/></div>                
                <div>
                    <div>
                        <label ng-show="recomendationevents.length>1" for="">{{recomendationevents.length}} events found</label>
                        <label ng-show="recomendationevents.length==1" for="">{{recomendationevents.length}} event found</label>
                        <label ng-show="recomendationevents.length==0" for="">No events found</label>
                    </div>
					<!--
                    <div class="createvisualization ">
                        <div class="filterMetricsPagination" id="filterMetricsPaginationDirective">
                            <div class="button-group">
                                <button ng-show="recomendationevents.length>1" ng-disabled="curPage == 0" class="btn" ng-click="curPage=curPage-1">
                                    <span class="glyphicon glyphicon-chevron-left"></span> Previous
                                </button>
                                <button ng-show="recomendationevents.length>1" ng-disabled="curPage >= recomendationevents.length/pageSize - 1" class="btn pull-right" ng-click="curPage = curPage+1">
                                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
					-->
                    <div class="filterDatasetPaginationBody createvisualization ">
                        <ul class="datasets-list metrics-list ">
                        	
                            <li ng-class="{'metrics-list dataset-list active':idHE.indexOf(event.id) >= 0}" ng-repeat="event in recomendationevents | orderBy:'title' | pagination: (curPage-1) * pageSize | limitTo: pageSize ">
								<span ng-show="idsEventsToPlot[event.id]">
									<a title="Unlink event {{event.title}} to the visualisation" href ng-click="deleteContainerHistoricalEvent('row_config_', idHE.indexOf(event.id) , event.title, event.id)">{{event.title}} (It's assigned)</a>
								</span>
								<span ng-hide="idsEventsToPlot[event.id]">
									<a title="Link event {{event.title}} to the visualisation" href ng-click="selectHE(event,'recomendation')">{{event.title}}</a>
								</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="row">
						<div style="text-align: center">
        					<pagination total-items="recomendationevents.length" ng-change="pageChangedHEt()" items-per-page="pageSize" ng-model="curPage" max-size="pagePagesSizeHE" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        				</div>
					</div>

                </div>

            </tab>


            <tab heading="Search" active="tabSearch">
                <div class="row"><br/></div>
                <div>
                    <div>
                        <form action="#" name="searchEventsFormModal" role="form" novalidate>
                            <div class="row">
                                <div class="col-sm-4">
                                	<div class="form-group date-picker ng-scope">
                                    	<label for="filterEvent">Search text</label>
                                    	<p class="input-group">
                                    		<input ng-keyup="$event.keyCode == 13 && findEventsByFilter('ini', filterEvent, startDateToFilter, endDateToFilter)" placeholder="--all events--" type="text" id="filterEvent" ng-model="filterEvent" name="filterEvent" class="form-control ng-isolate-scope ng-pristine ng-valid-required ng-valid">
                                    
                                    		<span class="input-group-btn">
					                			<a type="button" class="btn btn-default" ng-click="findEventsByFilter('ini', filterEvent, startDateToFilter, endDateToFilter)"><i class="glyphicon glyphicon-search"></i></a>
											</span>
										</p>
					                </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group date-picker" ng-controller="DateController">
                                        <label for="retrievalDate">Start date</label>

                                        <p class="input-group">
                                            <input type="text" id="startDateToFilter" name="startDateToFilter" class="form-control" datepicker-popup="" ng-model="startDateToFilter" is-open="opened" min-date-old="minDate" max-date-old="maxDate" min-date="iniStartDateToFilter" max-date="iniEndDateToFilter" datepicker-options="dateOptions" show-button-bar="false" ng-required="false" ng-disabled="true" ng-change="findEventsByFilter('ini', filterEvent, startDateToFilter, endDateToFilter)" close-text="Close"/>
					                    	<span class="input-group-btn">
					                        	<a type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></a>
					                    	</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group date-picker" ng-controller="DateController">
                                        <label for="retrievalDate">End date</label>

                                        <p class="input-group">
                                            <input type="text" id="endDateToFilter" name="endDateToFilter" class="form-control" datepicker-popup="" ng-model="endDateToFilter" is-open="opened" min-date-old="minDate" max-date-old="maxDate" min-date="iniStartDateToFilter" max-date="iniEndDateToFilter" datepicker-options="dateOptions" show-button-bar="false" ng-required="false" ng-disabled="true" ng-change="findEventsByFilter('ini', filterEvent, startDateToFilter, endDateToFilter)" close-text="Close"/>
											<span class="input-group-btn">
						    		        	<a type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></a>
											</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <hr>
                    <div>
                        <div>
                            <label ng-show="events.hits.total>1" for="">{{events.hits.total}} events found</label>
                            <label ng-show="events.hits.total==1" for="">{{events.hits.total}} event found</label>
                            <label ng-show="events.hits.total==0" for="">no events found</label>
                        </div>
						
						<!--
                        <div class="createvisualization ">
                            <div class="filterMetricsPagination" id="filterMetricsPaginationDirective">
                                <div class="button-group">
                                    <button ng-show="events.hits.total>1" ng-disabled="pagToSearch==1" class="btn" ng-click="findEventsByFilter('prev', filterEvent,  startDateToFilter, endDateToFilter)">
                                        <span class="glyphicon glyphicon-chevron-left"></span> Previous
                                    </button>
                                    <button ng-show="events.hits.total>1" ng-disabled="events.hits.total<=pagToSearch*itemsperpagesize" class="btn" ng-click="findEventsByFilter('next', filterEvent, startDateToFilter, endDateToFilter)">
                                        Next <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                       -->
                        <div class="filterDatasetPaginationBody createvisualization ">
                        	<ul class="datasets-list metrics-list ">
                                <li ng-class="{'metrics-list dataset-list active':idHE.indexOf(event._source.id)>=0}" ng-repeat="event in events.hits.hits track by $index">                                	
									<span ng-show="idsEventsToPlot[event._id]">
										<a title="Unlink event {{event._source.title}} to the visualisation" href ng-click="deleteContainerHistoricalEvent('row_config_', '-1' , event._source.title, event._id)">{{event._source.title}} (It's assigned)</a>
									</span>
									<span ng-hide="idsEventsToPlot[event._id]">
										<a title="Link event {{event._source.title}} to the visualisation" href ng-click="selectHE(event,'search')">{{event._source.title}}</a>
									</span>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="row">
							<div style="text-align: center">
								<pagination total-items="events.hits.total" ng-change="pageChangedHESearch(pagToSearch, filterEvent, startDateToFilter, endDateToFilter)" items-per-page="pageSize" ng-model="pagToSearch" max-size="pagePagesSizeHE" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        					</div>
						</div>
					
                    </div>
                </div>
            </tab>

            <tab ng-hide="eventsToPlot.length==0" heading="Configure" active="tabConfiguration">

                <br/>

                <div ng-show="eventsToPlot.length==0">No events selected</div>
                <div ng-if="eventsToPlot.length > 0 " id="listHistoricalEventsToPlot">
                    <div class="designer-metrics ng-scope active" id="designer-metrics-he-num-{{$index+1}}" ng-repeat="event in eventsToPlot track by $index">
                        <h4>{{event.title}}</h4>
                        <input type="hidden" ng-model="idHE[$index+1]" id="idHE{{$index+1}}" name="idHE[]" value="{{event.id}}">
                        <input type="hidden" ng-model="titleHE[$index+1]" id="titleHE{{$index+1}}" name="titleHE[]" value="{{event.title}}">
                        <input type="hidden" ng-model="startDateHE[$index+1]" id="startDateHE{{$index+1}}" name="startDateHE[]" value="{{event.startDate}}">
                        <input type="hidden" ng-model="endDateHE[$index+1]" id="endDateHE{{$index+1}}" name="endDateHE[]" value="{{event.endDate}}">

                        <div class="historicalevent-buttons active">
                            <a type="button" data-intro="Edit event main data" data-position="right" class="btn btn-primary btn-create" ng-click="vieweditHE[$index+1]=!vieweditHE[$index+1]">
                                <span ng-show="vieweditHE[$index+1]">Collapse</span> Configure event data</a>
                            <button data-intro="Unlink event from the list of related events" data-position="left" type="button" class="btn btn-danger btn-clear" ng-click="deleteContainerHistoricalEvent('row_config_',$index+1, event.title, event.id)" id="delete-he-button-{{event.id}}">Unlink</button>
                            <a type="button" data-intro="Access to the event data" data-position="right" class="btn btn-info btn-adddevent" href="#!/events/{{event.id}}" target="_blank" id="view-metric-button-{{event.id}}">Open event details</a>
                        </div>

                        <div ng-show="vieweditHE[$index+1]" class="contentHE">
                            <div><br/></div>
                            <div ng-if="event.color"><label for="">Colour:</label>

                                <spectrum name="colorHE[]" ng-model="colorHE[$index+1]" ng-model-onblur ng-change="updatecolorEvent($index);rePlotGraph()" options="{
										showInput: true,
										showAlpha: false,
										allowEmpty: false,
										preferredFormat: 'hex'
									}"></spectrum>

                            </div>
                            <div ng-if="event.startDate">
                                <label for="">From:</label> {{event.startDate | date:'longDate'}}
                            </div>
                            <div ng-if="event.endDate"><label for="">To:</label> {{event.endDate | date:'longDate'}}
                            </div>
                            <div ng-if="event.desc"><label for="">Description (max. length 150 characters):</label>
                                <textarea ng-change="enableRevertButton();" ng-blur="updateDescriptionEvent($index);rePlotGraph();" rows="2" cols="50" ng-model="descHE[$index+1]" ng-trim="false" maxlength="150"></textarea>
                                <span>{{150 - descHE[$index+1].length}} left</span>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>

        </tabset>

		
		<div ng-hide="!hideTabs">
        <form action="#" name="neweventForm" role="form" ng-submit="submitFormAddEvent()" novalidate>

            <div ng-if="historicalevent_id>0" class="events-display-fields">

                <div class="form-group" ng-class="{ 'has-error' : neweventForm.title.$invalid && !neweventForm.title.$pristine }">
                    <label for="titleHE" class="mandatory field-label">Title:</label>

                    <div class="field-content">{{historicalevent_title}}</div>
                    <input type="hidden" maxlength="80" size="60" name="idHE" id="idHE" class="form-control" ng-model="historicalevent_id">
                    <input type="hidden" maxlength="80" size="60" name="titleHE" id="titleHE" class="form-control" ng-model="historicalevent_title">

                    <p ng-show="neweventForm.title.$invalid && !neweventForm.title.$pristine" class="help-block">A title is required.</p>
                </div>

                <div class="form-group" ng-controller="DateController">
                    <label for="startDate" class="field-label">Start date:</label>

                    <div class="field-content">{{historicalevent_startDate | date:'longDate'}}</div>
                    <p class="input-group">
                        <input type="hidden" id="startDate" name="startDate" class="form-control" datepicker-popup="{{ format }}" ng-model="historicalevent_startDate" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" ng-required="false" ng-disabled="true" close-text="Close" value="{{historicalevent_he_startdate}}"/>
                    </p>
                </div>

                <div class="form-group" ng-controller="DateController">
                    <label for="endDate" class="field-label">End date:</label>

                    <div class="field-content">{{historicalevent_endDate | date:'longDate'}}</div>
                    <p class="input-group">
                        <input type="hidden" id="endDate" name="endDate" class="form-control" datepicker-popup="{{ format }}" ng-model="historicalevent_endDate" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" ng-required="false" ng-disabled="true" close-text="Close" value="{{historicalevent_he_enddate}}"/>
                    </p>
                </div>

                <div class="form-group">
                    <label for="Colour" class="field-label">Colour:</label>

                    <div class="field-content">

                        <spectrum ng-model="historicalevent_color_palete" options="{
	  								showInput: true,
	  								showAlpha: false,
	  								allowEmpty: false,
	  								preferredFormat: 'hex'
	  							}"></spectrum>

                        <input type="hidden" id="historicalevent_color" name="historicalevent_color" class="form-control" ng-required="false" value="{{historicalevent_color_palete}}"/>

                    </div>
                </div>
            </div>


            <div ng-if="historicalevent_id>0" class="form-group">
                <label for="Description">Description (max. length 150 characters):</label>

                <div>
                    <textarea rows="2" cols="50" ng-model="historicalevent_description" ng-trim="false" maxlength="150" name="descriptionHEToAdd" id="descriptionHEToAdd"></textarea>
                    <span>{{150 - historicalevent_description.length}} left</span>
                </div>
            </div>

			<a href="" ng-click="hideTabsModal()" class="btn btn-default btn-cancel"><span class="glyphicon glyphicon-chevron-left"></span> Cancel selection</a>
        </form>
        </div>
    </div>
</div>
<div class="modal-footer ng-scope">
    <button ng-show="hideTabs" ng-disabled="!historicalevent_id" href="" ng-click="addAnotherHistoricalEvent('dynamicContainer'); rePlotGraph(); enableRevertButton(); ok();" class="btn btn-validate" id="addmetric">Link event</button>
    <button class="btn btn-primary btn-clear" ng-click="cancel()">Close</button>
    <!--
    <a href="#!/events/create" target="_blank" class="btn btn-default btn-create" id="addmetric">Create a new event</a>
    -->
</div>
