<update-meta ng-if="mode == 'create'" property="og:description" content="Create a New Visualisation"></update-meta>
<update-meta ng-if="mode == 'edit'" property="og:title" content="{{ visualization.title }}"></update-meta>
<update-meta ng-if="mode == 'edit'" property="og:description" content="Edit Visualisation"></update-meta>

<div class="container container-create-visualisation" id="container-create-visualisation">
    <div class="content-header">
        <h3 ng-if="mode == 'create'" class="fonticon fonticon-visualisation">Create a New Visualisation</h3>

        <h3 ng-if="mode == 'edit'" class="fonticon fonticon-visualisation">Edit Visualisation</h3>

        <div class="subtitle-help">
            <h4>
                <div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>
                Visualise Data
            </h4>
            <div ng-class="{active: help}" class="help-text">
                <div class="fonticon fonticon-close" ng-click="help=!help"></div>
                <p>You can display datasets as a chart using this form.</p>

                <p>
                    To create a visualisation you need to:
                <ul>
                    <li>Select which dataset (one or more) do you wish to use. Use the "Edit Datasets" button to do it.</li>
                    <li>Select the type of chart you want using the appropiate button:
                        <ul>
                            <li>"Map" To plot as a map chart.</li>
                            <li>"Line" To plot as a line chart.</li>
                            <li>"Pie" To plot as pie chart.</li>
                            <li>"Bars" To plot as a bar chart.</li>
                        </ul>
                    </li>
                    <li>In case you select a "Line" or "Bars", then you can related historical events with the chart using the "Edit Events" button.</li>
                    <li>Fulfil the mandatory fields that are marked with an asterisk.</li>
                    <li>Click over the button "Save" to save the visualisation.</li>
                </ul>
                </p>
                <p>
                    If you need, you can click over the button "Revert" to revert all your changes. </p>
            </div>
        </div>
    </div>

    <div ng-hide="ListMetricsFilter.length>0">
        <div class="form-custom-instructions">
            <p>In this form you can create your own datasets visualisations.</p>

            <p>If you need help about how to use this form, please click over the question tag (<span class="fonticon fonticon-help help-switch" ng-click="help=!help"> </span>) or the "View help" button.
            </p>

        </div>
    </div>

	<div ng-show="(visualizationForm.$invalid || visualization.policy_domains_data.output.length==0) && ListMetricsFilter.length>0" class="form-custom-instructions">
		<p class="text-warning">To save a visualisation <span ng-hide="user.state.loggedIn"> you must be logged and </span> all mandatory fields (*) must be filled.</p>
	</div>

<div>
    <div class="pc-visualization-formcontrols">
        <div class="form-group pull-left">
            <canvas ng-show="false" id="canvas" width="800" height="400"></canvas>
            <div id="png-container"></div>


            <div class="button-group" ng-include='"modules/visualization/partials/saveVisualisationButtons.html"'></div>
            <!--
            <div class="button-group">
				<a href="#!/login" ng-if="!user.state.loggedIn" class="btn btn-default btn-save" target="_blank">Login to Save</a>
                <a href="" ng-if="mode == 'create' && user.state.loggedIn" type="submit" data-intro="Save data" data-position="top" ng-disabled="visualizationForm.$invalid || visualization.policy_domains_data.output.length==0" class="btn btn-default btn-save" ng-click="createVisualization(ListMetricsFilter)">
                    Save
                </a>
                <a href="" ng-if="mode == 'edit' && user.state.loggedIn" type="submit" data-intro="Save data" data-position="top" ng-disabled="visualizationForm.$invalid || visualization.policy_domains_data.output.length==0" class="btn btn-default btn-save" ng-click="createVisualization(ListMetricsFilter)">
                    Save
                    <span ng-hide="user.state.userPath==visualization.creator_path"> a copy</span></n>
                </a>
                <a href="" ng-show="mode=='edit'" ng-disabled="disableRevert" type="submit" data-intro="Revert data" data-position="top" class="btn btn-default btn-revert2" ng-click="revertVisualization()">Revert</a>
                <a href="" type="submit" data-intro="Cancel" data-position="top" class="btn btn-default btn-danger btn-clear" ng-click="cancelVisualization()">Cancel</a>
			</div>
			-->
			<div class="button-group">
                <a href="" data-intro="Helps you to link datasets with this visualisation" data-position="top" type="submit" class="btn btn-default btn-adddataset" id="modaladddataset" ng-click="showModal('datasets')">Edit Datasets</a>
                <a href="" ng-disabled="(isSelectedSon('graph_pie')) || ListMetricsFilter.length<=0" data-intro="Helps you to link this visualisation with events" data-position="top" type="submit" class="btn btn-primary btn-adddevent" id="addHEbutton" ng-click="showModal('events')">Edit Events</a>
            </div>


            <!--
            <button ng-hide="ListMetricsFilter.length==0" type="button" data-intro="Plot data in a map" data-position="top" ng-class="{'btn btn-default btn-map':!isSelectedParent(1),'btn btn-info btn-map':isSelectedParent(1)}" ng-click="selectTabParent(1); selectTabSon('mercator');rePlotGraph();">Map</button>

            <div ng-hide="ListMetricsFilter.length==0" ng-class="{'form-group pull-left':!isSelectedParent(2),'button-group':isSelectedParent(2)}">
                <button type="button" data-intro="Plot data as Line, Pie or Bars chart" data-position="top" ng-class="{'btn btn-default btn':!isSelectedParent(2),'btn btn-info':isSelectedParent(2)}" ng-click="selectTabParent(2);selectTabSon('graph_line');rePlotGraph();" class="btn-parent">Graph</button>
                <button type="button" data-intro="Plot data as line chart" data-position="top" ng-hide="!isSelectedParent(2)" ng-disabled="!isSelectedParent(2)" ng-class="{'btn btn-default':!isSelectedSon('graph_line'),'btn btn-info':isSelectedSon('graph_line')}" ng-click="selectTabParent(2);selectTabSon('graph_line');rePlotGraph();" class="btn-line">Line</button>
                <button type="button" data-intro="Plot data as pie chart" data-position="top" ng-hide="!isSelectedParent(2)" ng-disabled="!isSelectedParent(2)" ng-class="{'btn btn-default':!isSelectedSon('graph_pie'),'btn btn-info':isSelectedSon('graph_pie')}" ng-click="selectTabParent(2);selectTabSon('graph_pie');rePlotGraph();" class="btn-pie">Pie</button>
                <button type="button" data-intro="Plot data as bars chart" data-position="top" ng-hide="!isSelectedParent(2)" ng-disabled="!isSelectedParent(2)" ng-class="{'btn btn-default':!isSelectedSon('graph_bars'),'btn btn-info':isSelectedSon('graph_bars')}" ng-click="selectTabParent(2);selectTabSon('graph_bars');rePlotGraph();" class="btn-bars">Bars</button>
            </div>
            -->
            <div class="button-group">
				<button type="button" data-intro="Plot data in a map" data-position="top" ng-class="{'btn btn-default btn-map':!isSelectedParent(1),'btn btn-info btn-map':isSelectedParent(1)}" ng-click="selectTabParent(1); selectTabSon('mercator');rePlotGraph();">Map</button>
                <button type="button" data-intro="Plot data as line chart" data-position="top" ng-class="{'btn btn-default':!isSelectedSon('graph_line'),'btn btn-info':isSelectedSon('graph_line')}" ng-click="selectTabParent(2);selectTabSon('graph_line');rePlotGraph();" class="btn-line">Line</button>
                <button type="button" data-intro="Plot data as pie chart" data-position="top" ng-class="{'btn btn-default':!isSelectedSon('graph_pie'),'btn btn-info':isSelectedSon('graph_pie')}" ng-click="selectTabParent(2);selectTabSon('graph_pie');rePlotGraph();" class="btn-pie">Pie</button>
                <button type="button" data-intro="Plot data as bars chart" data-position="top" ng-class="{'btn btn-default':!isSelectedSon('graph_bars'),'btn btn-info':isSelectedSon('graph_bars')}" ng-click="selectTabParent(2);selectTabSon('graph_bars');rePlotGraph();" class="btn-bars">Bars</button>
            </div>

            <!--
            <span class="helpbutton" ></span>
            -->
        </div>
    </div>

    <div class="content-body">

        <form name="visualizationForm" role="form" novalidate="" form-on-change="formOnChange()">
            <div class="createvisualization">
                <div>
                    <div ng-switch="step">

                        <div ng-show="canPlotGarph" class="chartvisu">
                            <div ng-show="((1==1)  || isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_bars')) && (ListMetricsFilter.length>0)" class="graphContainerdiv">
                                <input type="hidden" id="startDatePosX" name="startDatePosX" value="">
                                <input type="hidden" id="endDatePosX" name="endDatePosX" value="">

                                <div>
                                    <div ng-show="isSelectedSon('map_1') || isSelectedSon('mercator') || isSelectedSon('conicConformal') || isSelectedSon('equirectangular') || isSelectedSon('orthographic') || isSelectedSon('azimuthalEqualArea')">
                                        <div ng-show="mapTimeSlider.length>1">
                                        	<!--
                                            <rzslider rz-slider-model="rangeDatesSliderMin" rz-slider-floor="0" rz-slider-ceil="mapTimeSlider.length-1" rz-slider-translate="translateCountrySlider"></rzslider>
                                           -->
                                            <rzslider rz-slider-model="rangeDatesSliderMin" rz-slider-options="slider_translate_map.options"></rzslider>
                                        </div>
                                    </div>

                                    <div ng-show="isSelectedSon('graph_pie')">
                                        <div ng-show="numbers2.length>1">
                                        	<!--
                                            <rzslider rz-slider-model="rangeDatesSliderMin" rz-slider-floor="0" rz-slider-ceil="numbers2.length-1" rz-slider-translate="translate"></rzslider>
                                           -->

                                           <rzslider rz-slider-model="rangeDatesSliderMin" rz-slider-options="slider_translate_pie.options"></rzslider>

                                        </div>
                                    </div>

                                    <center>
                                        <div>
                                            <div id="container_graph_{{visualization.id}}" class="container_graph">
                                                <div class="loading-container">
                                                    <div class="loading"></div>
                                                    <div id="loading-text">loading</div>
                                                </div>
                                            </div>
                                        </div>
                                    </center>
                                </div>

                            </div>
                        </div>


                        <div ng-show="ListMetricsFilter.length>0" id="showFilterContainer" class="showFilterContainer">
                            <div id="showFilter" ng-show="isSelectedParent(1) || isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_bars')" class="showFilter on_check">

								<div class="col-xs-6 col-md-4">
	                                <div id="div_showLegend" ng-show="isSelectedParent(1) || isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_bars')" class="">

	                                    <div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showLegend" type="checkbox" ng-click="manualClick('showLegend');rePlotGraph();" name="showLegend" id="showLegend" class="checkbox filterCheckBox">
	                                    		Legend
	                                    	</label>
	                                    </div>
	                                    <!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showLegend" type="checkbox" ng-click="manualClick('showLegend');rePlotGraph();" name="showLegend" id="showLegend" class="checkbox filterCheckBox"> Legend
	                                    </label>
	                                    -->
	                                </div>
	                                <div id="div_showLines" ng-show="isSelectedSon('graph_line')" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showLines" type="checkbox" ng-click="manualClick('showLines');rePlotGraph();" name="showLines" id="showLines" class="checkbox filterCheckBox">
	                                    		Lines
	                                    	</label>
	                                    </div>
	                                    <!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showLines" type="checkbox" ng-click="manualClick('showLines');rePlotGraph();" name="showLines" id="showLines" class="checkbox filterCheckBox"> Lines
	                                    </label>
	                                    -->
	                                </div>
	                                <div id="div_showLines" ng-show="isSelectedSon('graph_line')" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showAreas" type="checkbox" ng-click="manualClick('showAreas');rePlotGraph();" name="showAreas" id="showAreas" class="checkbox filterCheckBox">
	                                    		Areas
	                                    	</label>
	                                    </div>
	                                    <!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showAreas" type="checkbox" ng-click="manualClick('showAreas');rePlotGraph();" name="showAreas" id="showAreas" class="checkbox filterCheckBox"> Areas
	                                    </label>
	                                    -->
	                                </div>
	                                <div id="div_showPoints" ng-show="isSelectedSon('graph_line')" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showPoints" type="checkbox" ng-click="manualClick('showPoints');rePlotGraph();" name="showPoints" id="showPoints" class="checkbox filterCheckBox">
	                                    		Points
	                                    	</label>
	                                    </div>
	                                    <!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showPoints" type="checkbox" ng-click="manualClick('showPoints');rePlotGraph();" name="showPoints" id="showPoints" class="checkbox filterCheckBox"> Points
	                                    </label>
	                                    -->
	                                </div>
	                                <div id="div_showLabels" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_bars')" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showLabels" type="checkbox" ng-click="manualClick('showLabels');rePlotGraph();" name="showLabels" id="showLabels" class="checkbox filterCheckBox">
	                                    		Labels
	                                    	</label>
	                                    </div>
	                                	<!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showLabels" type="checkbox" ng-click="manualClick('showLabels');rePlotGraph();" name="showLabels" id="showLabels" class="checkbox filterCheckBox"> Labels
	                                    </label>
	                                   	-->
	                                </div>
	                                <div id="div_showGrid" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_bars')" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showGrid" type="checkbox" ng-click="manualClick('showGrid');rePlotGraph();" name="showGrid" id="showGrid" class="checkbox filterCheckBox">
	                                    		Grid
	                                    	</label>
	                                    </div>
	                                    <!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showGrid" type="checkbox" ng-click="manualClick('showGrid');rePlotGraph();" name="showGrid" id="showGrid" class="checkbox filterCheckBox"> Grid
	                                    </label>
	                                    -->
	                                </div>
	                                <div id="div_showYaxes" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_bars')" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showYAxes" type="checkbox" ng-click="manualClick('showYAxes');rePlotGraph();" name="showYAxes" id="showYAxes" class="checkbox filterCheckBox">
	                                    		Only one Y axe
	                                    	</label>
	                                    </div>
	                                	<!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showYAxes" type="checkbox" ng-click="manualClick('showYAxes');rePlotGraph();" name="showYAxes" id="showYAxes" class="checkbox filterCheckBox"> Only one Y axe
	                                    </label>
	                                   -->
	                                </div>

	                                <div id="div_showAsPercentatge" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_bars')" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showAsPercentatge" type="checkbox" ng-click="manualClick('showAsPercentatge');rePlotGraph();" name="showAsPercentatge" id="showAsPercentatge" class="checkbox filterCheckBox">
	                                    		As %
	                                    	</label>
	                                    </div>
	                                	<!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showAsPercentatge" type="checkbox" ng-click="manualClick('showAsPercentatge');rePlotGraph();" name="showAsPercentatge" id="showAsPercentatge" class="checkbox filterCheckBox"> As %
	                                    </label>
	                                   -->
	                                </div>

	                                <div id="div_showevntsontop" ng-show="(isSelectedSon('graph_line') || isSelectedSon('graph_bars')) && (eventsToPlot.length>0)" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showAstoplines" type="checkbox" ng-click="manualClick('showAstoplines');rePlotGraph();" name="showAstoplines" id="showAstoplines" class="checkbox filterCheckBox">
	                                    		Events on top
	                                    	</label>
	                                    </div>
	                                	<!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showAsPercentatge" type="checkbox" ng-click="manualClick('showAsPercentatge');rePlotGraph();" name="showAsPercentatge" id="showAsPercentatge" class="checkbox filterCheckBox"> As %
	                                    </label>
	                                   -->
	                                </div>

	                                <div id="div_showZoom" ng-show="isSelectedParent(1) && !isSelectedSon('orthographic') && !isSelectedSon('azimuthalEqualArea')" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<input type="hidden" name="initialZoom" id="initialZoom" value="2">
	                                    	<input type="hidden" name="initialLat" id="initialLat" value="49.009952">
	                                    	<input type="hidden" name="initialLng" id="initialLng" value="2.548635">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showZoom" type="checkbox" ng-click="manualClick('showZoom');rePlotGraph();" name="showZoom" id="showZoom" class="checkbox filterCheckBox">
	                                    		Zoom
	                                    	</label>
	                                    </div>
	                                	<!--
	                                    <input type="hidden" name="initialZoom" id="initialZoom" value="2">
	                                    <input type="hidden" name="initialLat" id="initialLat" value="49.009952">
	                                    <input type="hidden" name="initialLng" id="initialLng" value="2.548635">
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showZoom" type="checkbox" ng-click="manualClick('showZoom');rePlotGraph();" name="showZoom" id="showZoom" class="checkbox filterCheckBox"> Zoom
	                                    </label>
	                                   -->
	                                </div>

	                                <div id="div_showBubbles" ng-show="isSelectedParent(1)" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">

	                                    </div>
	                                    <div class="col-xs-6 configureoptionchartfield checkbox-inline">
	                                    	<label class="checkbox-inline configureoptionchartlabel">
	                                    		<input ng-model="showBubbles" type="checkbox" ng-click="manualClick('showBubbles');rePlotGraph();" name="showBubbles" id="showBubbles" class="checkbox filterCheckBox">
	                                    		Bubble marker
	                                    	</label>
	                                    </div>
	                                    <!--
	                                    <label class="checkbox-inline">
	                                        <input ng-model="showBubbles" type="checkbox" ng-click="manualClick('showBubbles');rePlotGraph();" name="showBubbles" id="showBubbles" class="checkbox filterCheckBox"> Bubble marker
	                                    </label>
	                                    -->
	                                </div>
								</div>
								<div class="col-xs-6 col-md-4">
	                                <div id="div_showscaleColor" ng-show="isSelectedParent(1)" class="">
	                                    <div class="col-xs-6 configureoptionchartlabel">Scale Colour</div>
										<div class="col-xs-6 configureoptionchartfield">
	                                        <spectrum-colorpicker name='color' ng-model="scaleColor" on-change="rePlotGraphMapByColourPicker()" options="{
													showInput: true,
													showAlpha: false,
													allowEmpty: false,
													preferredFormat: 'hex'
												}"></spectrum-colorpicker>
	                                    </div>
	                                </div>

	                                <div id="div_resolution" ng-show="TimeSelector.length>1" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">Resolution </div>
	                                	<div class="col-xs-6 configureoptionchartfield"><select id="resolution" ng-change="timeStart='';timeEnd='';rePlotGraph();" ng-model="resolution" ng-options="opt as opt.label for opt in resolutionoptions"></select></div>
	                                </div>

									<div id="div_resolution" ng-show="isSelectedSon('graph_bars')" class="">
	                                	<div class="col-xs-6 configureoptionchartlabel">Grouped by</div>
	                                	<div class="col-xs-6 configureoptionchartfield"><select id="resolution" ng-change="rePlotGraph();" ng-model="groupedby" ng-options="opt as opt.label for opt in barchartgroupoptions"></select></div>
	                                </div>

									<div id="div_resolution" ng-show="isSelectedSon('graph_line') && TimeSelector.length>1 && resolution.value!='day'" class="">
	                                    <div class="col-xs-6 configureoptionchartlabel">Plot data</div>
	                                    <div class="col-xs-6 configureoptionchartfield"><select id="plotdataoption" ng-change="rePlotGraph();" ng-model="plotdataoption" ng-options="opt as opt.label for opt in plotdataoptions"></select></div>
	                                </div>

									<div id="div_resolution" ng-show="isSelectedSon('graph_line') && TimeSelector.length>1 && resolution.value!='day'" class="">
	                                    <div class="col-xs-6 configureoptionchartlabel">Plot x legend</div>
	                                    <div class="col-xs-6 configureoptionchartfield"><select id="plotdataoptionxaxis" ng-change="rePlotGraph();" ng-model="plotxaxislegend" ng-options="opt as opt.label for opt in plotxaxislegendoptions"></select></div>
	                                </div>

	                                <div id="div_fromdate" ng-show="TimeSelector.length>1" class="">
	                                    <div class="col-xs-6 configureoptionchartlabel">From</div>
	                                    <div class="col-xs-6 configureoptionchartfield"><select id="fromDate" ng-change="rePlotGraph()" ng-model="timeStart" ng-options="opt for opt in TimeSelector"></select></div>
	                                </div>

	                                <div id="div_todate" ng-show="TimeSelector.length>1" class="">
	                                    <div class="col-xs-6 configureoptionchartlabel">To</div>
	                                    <div class="col-xs-6 configureoptionchartfield"><select id="toDate" ng-change="rePlotGraph();" ng-model="timeEnd" ng-options="opt for opt in TimeSelector"></select></div>
	                                </div>
								</div>
								<div class="col-xs-6 col-md-4" ng-show="(isSelectedSon('graph_line') || isSelectedSon('graph_bars')) && ListMetricsFilter.length>0">
									<div ng-if="eventsToPlot.length>0">
										<div class="col-xs-8 configureoptionchartlabel">Events:</div>
										<div class="col-xs-2 configureoptionchartfield">{{eventsToPlot.length}}</div>
									</div>
									<div id="designer-metrics-he-num-{{$index+1}}" ng-repeat="event in eventsToPlot track by $index">

                        				<div class="col-xs-8 configureoptionchartlabel">{{$index+1}}.-{{event.title}}</div>
                    					<div class="col-xs-2 configureoptionchartfield">
											<spectrum-colorpicker name="colorHE[]" ng-model="colorHE[$index+1]" ng-model-onblur ng-change="event.color=colorHE[$index+1];rePlotGraph()" options="{
	  											showInput: true,
	  											showAlpha: false,
	  											allowEmpty: false,
	  											preferredFormat: 'hex'
	  										}"></spectrum-colorpicker>
	  									</div>
	  									<div class="col-xs-2 configureoptionchartfield">
	  										<button title="Unlink event from the list of related events" type="button" class="btn btn-danger btn-clear" ng-click="deleteContainerHistoricalEvent('row_config_',$index+1, event.title, event.id)">
	  									</div>

               						</div>
								</div>
                            </div>
                        </div>
						<div class="row">
	                        <tabset ng-hide="ListMetricsFilter.length==0">
	                            <tab heading="Metadata Editor">
	                                <div class="form-group" ng-class="{'has-error': visualizationForm.title.$dirty && visualizationForm.title.$invalid}">
	                                    <label for="title">Title *</label>
	                                    <input ng-maxlength="100" ng-maxlength="maxlength"type="text" class="form-control" id="title" name="title" placeholder="Title" ng-model="visualization.title" ng-minlength="3" required>
	                                </div>

	                                <div class="form-group" ng-class="{'has-error': visualizationForm.description.$dirty && visualizationForm.description.$invalid}">
	                                    <label for="metricdescription" class="">Description *</label>
	                                    <textarea class="form-control" rows="10" id="description"  placeholder="Description" name="description" ng-model="visualization.description" required></textarea>
	                                </div>
	                                <div class="form-group">
	                                    <label for="keywords">Keywords</label>
	                                    <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Keywords" ng-model="visualization.keywords">
	                                </div>

	                                <div class="form-group">
	                                    <label for="language_data">Language *</label>
	                                    <div id="language_data"
	                                    name="Language"
	                                    class="reference-selection-form pc-reference-selection-full"
	                                    resource="Language" selection-mode="single"
	                                    ng-model="visualization.language_id" required
	                                    ></div>
	                                </div>

	                                <div class="form-group">
	                                    <label for="location_data">Location</label>
		                                    <div id="location_data" class="reference-selection-form pc-reference-selection-full" resource="Individual" selection-mode="single" ng-model="visualization.location" parameters="{ class: 'Country' }"></div>
	                                </div>

	                                <div class="form-group">
	                                    <label for="policy_domains_data">Policy Domains *</label>
	                                    <div name="Policy Domains" id="policy_domains_data" class="reference-selection-form pc-reference-selection-full" resource="PolicyDomain" selection-mode="multiple" ng-model="visualization.policy_domains" required></div>
	                                </div>

									<div class="row pull-right">
										<div class="button-group" ng-include='"modules/visualization/partials/saveVisualisationButtons.html"'></div>
									</div>
									<div class="row"></div>

	                            </tab>
	                        </tabset>
                       	</div>
                    </div>
                </div>
            </div>
		</form>
    </div>


	</div>
</div>
