<div class="container container-create-visualisation" id="container-create-visualisation">
	<div class="content-header">
    	<h3 ng-if="mode == 'create'" class="fonticon fonticon-visualisation">Create a New Visualisation</h3>
    	<h3 ng-if="mode == 'edit'" class="fonticon fonticon-visualisation">Edit Visualisation</h3>
    	<div class="subtitle-help">
    		<h4><div class="fonticon fonticon-help help-switch" ng-click="help=!help"></div>Visualise Data</h4>    
    		<div ng-class="{active: help}" class="help-text">
    			
    			<p>You can display datasets as a chart using this form.</p>
    			<p>
    				To create a visualisation you need to:
					<ul>
						<li>Select which dataset (one or more) do you wish to use. Use the "Link Datasets" button to do it.</li>
						<li>Select the type of chart you want using the appropiate button:
							<ul>
								<li>"Map" To plot as a map chart.</li>								
								<li>"Line chart" To plot as a line chart.</li>
								<li>"Pie chart" To plot as pie chart.</li>
								<li>"Bars chart" To plot as a bar chart.</li>
							</ul>
						</li>
						<li>In case you select a "Line chart", then you can related historical events with the chart using the "Link Events" button.</li>
						<li>Fulfil the mandatory fields that are marked with an asterisk.</li>
						<li>Click over the button "Save" to save the visualisation.</li>
					</ul>
				</p>
				<p>
					If you need, you can click over the button "Revert" to revert all your changes.
    			</p>
    		</div>
    	</div>
	</div>
	
	<div ng-hide="ListMetricsFilter.length>0" >
		<div class="form-instructions">
			<p>In this form you can create your own datasets visualisations.</p>
			<p>If you need help about how to use this form, please click over the question tag (<span class="fonticon fonticon-help help-switch" ng-click="help=!help"> </span>) or the "View help" button.</p>						
		</div>
	</div>
				
	<div class="pc-visualization-formcontrols">
        <div class="form-group pull-left">
				<canvas ng-show="false" id="canvas" width="800" height="400"></canvas>
				<div id="png-container"></div>			
				<button type="submit" data-intro="Save data" data-position="top" ng-disabled="visualizationForm.$invalid" class="btn btn-default btn-save" ng-click="createVisualization(ListMetricsFilter)">Save</button>				
				<button type="submit" data-intro="Revert data" data-position="top" class="btn btn-default btn-revert" ng-click="revertVisualization()">Revert</button>
									
				<button data-intro="Helps you to link datasets with this visualisation" data-position="top" type="submit" class="btn btn-default btn-adddataset" id="modaladddataset" ng-click="showModal('datasets')">Link Datasets</button>
				
				
				<button ng-show="isSelectedSon('graph_line') && ListMetricsFilter.length>0" data-intro="Helps you to link this visualisation with events" data-position="top"  type="submit" class="btn btn-primary btn-adddevent" id="addHEbutton" ng-click="showModal('events')">Link Events</button>
				
				
				<button ng-hide="ListMetricsFilter.length==0" type="button" data-intro="Plot data in a map" data-position="top" ng-class="{'btn btn-default btn-map':!isSelectedParent(1),'btn btn-info btn-map':isSelectedParent(1)}" ng-click="selectTabParent(1); selectTabSon('mercator');rePlotGraph();">Map</button>					
				<div ng-hide="ListMetricsFilter.length==0" class="button-group">		
					<button type="button" data-intro="Plot data as Line, Pie or Bars chart" data-position="top" ng-class="{'btn btn-default btn':!isSelectedParent(2),'btn btn-info':isSelectedParent(2)}" ng-click="selectTabParent(2);selectTabSon('graph_line');rePlotGraph();" class="btn-parent">Graph</button>
					<button type="button" data-intro="Plot data as line chart" data-position="top" ng-hide="!isSelectedParent(2)" ng-disabled="!isSelectedParent(2)" ng-class="{'btn btn-default':!isSelectedSon('graph_line'),'btn btn-info':isSelectedSon('graph_line')}" ng-click="selectTabParent(2);selectTabSon('graph_line');rePlotGraph();" class="btn-line">Line</button>
					<button type="button" data-intro="Plot data as pie chart" data-position="top" ng-hide="!isSelectedParent(2)" ng-disabled="!isSelectedParent(2)" ng-class="{'btn btn-default':!isSelectedSon('graph_pie'),'btn btn-info':isSelectedSon('graph_pie')}" ng-click="selectTabParent(2);selectTabSon('graph_pie');rePlotGraph();"  class="btn-pie">Pie</button>
					<button type="button" data-intro="Plot data as bars chart" data-position="top" ng-hide="!isSelectedParent(2)" ng-disabled="!isSelectedParent(2)" ng-class="{'btn btn-default':!isSelectedSon('graph_bars'),'btn btn-info':isSelectedSon('graph_bars')}" ng-click="selectTabParent(2);selectTabSon('graph_bars');rePlotGraph();"  class="btn-bars">Bars</button>
		        </div>
	            <span class="helpbutton" ></span>		
        </div>
    </div>

	<div class="content-body">

	<form name="visualizationForm" role="form" novalidate >
		<div class="row createvisualization">
		    <div>
        		<div ng-switch="step"  >

            	<div ng-show="canPlotGarph" >          	
	            	<div ng-show="((1==1)  || isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_bars')) && (ListMetricsFilter.length>0)" class="graphContainerdiv">
						<input type="hidden" id="startDatePosX" name="startDatePosX" value="">
						<input type="hidden" id="endDatePosX" name="endDatePosX" value="">
 		
							<div ng-click="isSelectedSon('graph_line') ? showModal('events') : void(0)">
								<div ng-show="isSelectedSon('map_1') || isSelectedSon('mercator') || isSelectedSon('conicConformal') || isSelectedSon('equirectangular') || isSelectedSon('orthographic') || isSelectedSon('azimuthalEqualArea')">
									<div ng-show="mapTimeSlider.length>0">
										<rzslider
										 rz-slider-model="rangeDatesSliderMin"
										 rz-slider-floor="0"
										 rz-slider-ceil="mapTimeSlider.length-1"
										 rz-slider-translate="translateCountrySlider"
										 ></rzslider>
									</div>	
								</div>
	
								<div ng-show="isSelectedSon('graph_pie')">	
									<div ng-show="numbers2.length>0">
										<rzslider
										 rz-slider-model="rangeDatesSliderMin"
										 rz-slider-floor="0"
										 rz-slider-ceil="numbers2.length-1"
										 rz-slider-translate="translate"
										 ></rzslider>
									</div>	
								</div>
	<!--
		<div ng-show="isSelectedSon('graph_pie')">
			<div class="pcPieChart" dataset="dataset" chartid="visualization.id" show-Legend="showLegend" small="list" mode="mode" show-Labels="showLabels"></div>
		</div>
		<div ng-show="isSelectedSon('graph_bars')">
			<div class="pcBarsChart" dataset="datasetToSend" chartid="visualization.id" small="list"  mode="mode" show-Legend="showLegend" show-Labels="showLabels"></div>
		</div>
		<div ng-show="isSelectedSon('graph_line')">
			<div class="pcLinesChart" dataset="numbers1" events="eventsToPlot" 
			labels="labelYAxe" small="list"  mode="mode" chartid="visualization.id" 
			show-Legend="showLegend" 
			show-Labels="showLabels"
			show-Lines="showLines"
			show-Areas="showAreas"
			show-Points="showPoints"
			show-Grid="showGrid"
			show-Together="showYAxes"
			></div>
		</div>
		-->
							<center>
								<div >									
									<div id="container_graph_{{visualization.id}}" class="container_graph">
										<div class="loading-container">
											<div class="loading"></div>
											<div id="loading-text">loading</div>
										</div>								
									</div>
								</div>
							</center>
							</div>
					
					</div>
				</div>
        

        
				
				<!--
				<accordion close-others="oneAtATime">
        			<accordion-group heading="Graph properties" is-open="isFirstOpen">
            		-->

						<div ng-show="ListMetricsFilter.length>0" id="showFilterContainer" class="showFilterContainer">
							<div id="showFilter" ng-show="isSelectedParent(1) || isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_bars')" class="showFilter on_check">
								<div id="div_showLegend" ng-show="isSelectedParent(1) || isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_bars')" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showLegend" type="checkbox" ng-click="manualClick('showLegend');rePlotGraph();" name="showLegend"  id="showLegend" class="checkbox filterCheckBox"> Legend
									</label>
								</div>
								<div id="div_showLines" ng-show="isSelectedSon('graph_line')" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showLines" type="checkbox" ng-click="manualClick('showLines');rePlotGraph();" name="showLines"  id="showLines" class="checkbox filterCheckBox"> Lines
									</label>
								</div>
								<div id="div_showLines" ng-show="isSelectedSon('graph_line')" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showAreas" type="checkbox" ng-click="manualClick('showAreas');rePlotGraph();" name="showAreas"  id="showAreas" class="checkbox filterCheckBox"> Areas
									</label>
								</div>
								<div id="div_showPoints" ng-show="isSelectedSon('graph_line')" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showPoints" type="checkbox" ng-click="manualClick('showPoints');rePlotGraph();" name="showPoints"  id="showPoints" class="checkbox filterCheckBox"> Points
									</label>
								</div>
								<div id="div_showLabels" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_bars')" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showLabels" type="checkbox" ng-click="manualClick('showLabels');rePlotGraph();" name="showLabels"  id="showLabels" class="checkbox filterCheckBox"> Labels
									</label>		
								</div>
								<div id="div_showGrid" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_bars')" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showGrid" type="checkbox" ng-click="manualClick('showGrid');rePlotGraph();" name="showGrid" id="showGrid" class="checkbox filterCheckBox"> Grid
									</label>
								</div>
								<div id="div_showYaxes" ng-show="isSelectedSon('graph_line')" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showYAxes" type="checkbox" ng-click="manualClick('showYAxes');rePlotGraph();" name="showYAxes"  id="showYAxes" class="checkbox filterCheckBox"> Only one Y axe
									</label>
								</div>
								
								<div id="div_showAsPercentatge" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_bars')" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showAsPercentatge" type="checkbox" ng-click="manualClick('showAsPercentatge');rePlotGraph();" name="showAsPercentatge"  id="showAsPercentatge" class="checkbox filterCheckBox"> As %
									</label>
								</div>

								<div id="div_showZoom" ng-show="isSelectedParent(1) && !isSelectedSon('orthographic') && !isSelectedSon('azimuthalEqualArea')" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showZoom" type="checkbox" ng-click="manualClick('showZoom');rePlotGraph();" name="showZoom"  id="showZoom" class="checkbox filterCheckBox"> Zoom
									</label>
								</div>

								<div id="div_showBubbles" ng-show="isSelectedParent(1)" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showBubbles" type="checkbox" ng-click="manualClick('showBubbles');rePlotGraph();" name="showBubbles"  id="showBubbles" class="checkbox filterCheckBox"> Bubble marker
									</label>
								</div>
								
								<div id="div_showscaleColor" ng-show="isSelectedParent(1)" class="on_check">
									<label class="checkbox-inline">
										
										<spectrum
											name='color' ng-model="scaleColor" ng-model-onblur ng-change="rePlotGraph()"
											options="{
												showInput: true, 
												showAlpha: false,
												allowEmpty: false,
												preferredFormat: 'hex'
											}">
										</spectrum>
										
										<!--
										<spectrum-colorpicker
											name='color' ng-model="scaleColor" ng-model-onblur ng-change="rePlotGraph()"
											options="{
												showInput: true, 
												showAlpha: false,
												allowEmpty: false,
												preferredFormat: 'hex'
											}">
										</spectrum-colorpicker>
										-->
										<!--																				
										<input type='color' name='color'
											ng-model="scaleColor" 
										ng-model-onblur ng-change="rePlotGraph()" /> 
										-->
										Scale Colour
									</label>
								</div>
								
								<div id="div_resolution" ng-show="TimeSelector.length>1" class="on_check">
									<label class="checkbox-inline">
										Resolution <select id="resolution" ng-change="rePlotGraph();" ng-model="resolution" ng-options="opt as opt.label for opt in resolutionoptions"></select>
									</label>
								</div>								
								
								<div id="div_fromdate" ng-show="TimeSelector.length>1" class="on_check">
									<label class="checkbox-inline">
										From <select id="fromDate" ng-change="rePlotGraph();" ng-model="timeStart" ng-options="opt for opt in TimeSelector"></select>
									</label>
								</div>

								<div id="div_todate" ng-show="TimeSelector.length>1" class="on_check">
									<label class="checkbox-inline">
										To <select id="toDate" ng-change="rePlotGraph();" ng-model="timeEnd" ng-options="opt for opt in TimeSelector"></select>
									</label>
								</div>
											
								<!--								
								<div id="div_showMovement" ng-show="isSelectedParent(1)" class="on_check">
									<label class="checkbox-inline">
										<input ng-model="showMovement" type="checkbox" ng-click="rePlotGraph();" name="showMovement"  id="showMovement" class="checkbox filterCheckBox"> Enable Movement
									</label>
								</div>
								-->
								<!--
								<div id="granularity" class="on_check">
									<label class="checkbox-inline">Granularity
										<select name="granularity" >
  											<option value="Daily">Daily</option>
											<option value="Montly">Montly</option>  											
											<option value="Yearly">Yearly</option>
										</select>
									</label>
								</div>
								-->
							</div>
						</div>            			
            	<!--
        			</accordion-group>
				</accordion>
				-->
				
                <tabset ng-hide="ListMetricsFilter.length==0">     
                	

                    <tab heading="Metadata Editor" >

            			<div class="form-group" ng-class="{'has-error': metricForm.title.$dirty && metricForm.title.$invalid}">
                			<label for="title">Title *</label>
                			<input type="text" class="form-control" id="title" name="title" placeholder="Title" ng-model="visualization.title" ng-minlength="3" required>
            			</div>

			            <div class="form-group" ng-class="{'has-error': visualizationForm.description.$dirty && visualizationForm.description.$invalid}">
            			    <label for="metricdescription" class="">Description *</label>
                			<textarea class="form-control" rows="10" id="description" name="description" ng-model="visualization.description" required></textarea>
            			</div>                    
            			<div class="form-group">
                			<label for="keywords">Keywords</label>
                			<input type="text" class="form-control" id="keywords" placeholder="Keywords" ng-model="visualization.keywords">
            			</div>
            			<div class="form-group" ng-class="{'has-error': visualizationForm.language.$dirty && visualizationForm.language.$invalid}">
                			<label for="language" class="">Language *</label>
                			<select class="form-control language-options" model="visualization.language" ng-model="visualization.language" id="language" name="language" required>
			                </select>
            			</div>

        		    </tab>
                		    
					<!-- ini tab datasets -->
					
                    <tab ng-show="1==2"  heading="Datasets">                    
    								
						<div class="buttonline clearfix-min">	
							<input ng-controller="controllercorrectmetriclist" type="hidden" ng-required="true" class="form-control" id="correctmetrics"  ng-model="correctmetrics" ng-repeat="numberrows in [ListMetricsFilter.length]">	
											
							<button data-intro="Helps you to find datasets" data-position="right" type="submit" class="btn btn-info button-metrics" id="addmetricsbutton" ng-click="addMetrictoList();findMetricsByFilter();collapsetFilter=!collapsetFilter"><span ng-hide="collapsetFilter">Collapse</span><span ng-show="collapsetFilter">Open</span> dataset filter</button>
							
						</div>
						<br />	

						
						<div indexdataset="indexdataset" id="filterDatasets"  class="selectorDatasets" datasets-list="ListMetricsFilter" number-Max-Datasets="99" functionfordataset="rePlotGraphFromSearch(actionDone,position)" disable-Row="arrayResolutionsFilter[resolution.value]"></div>
						
						<div ng-show="metric.title" ng-controller="LoadCombosMetric" class="designer-metrics active" class="designer-metrics" id="designer-metrics-num-{{metric.id}}" ng-repeat="metric in ListMetricsFilter track by $index" >
							<h4>{{metric.title}} -- {{metric.issued | date:'longDate' }}</h4>							
							<input type="hidden" ng-model="MetricSelectediId_[metric.id]" id="MetricSelectediId_{{metric.id}}" name="MetricSelectedId[]" value="">

							<input type="hidden" ng-model="MetricSelectediIndex_[metric.id]" ng-init="MetricSelectediIndex_[metric.id]=metric.id" id="MetricSelectediIndex_{{metric.id}}" name="MetricSelectediIndex[]" value="{{metric.id}}">
							

							<div class="metric-buttons">
								<a type="button" data-intro="Edit dataset view properties" data-position="top" class="btn btn-primary btn-create" ng-click="displaycontentMetric(metric.id);collapsetFilterDataset=!collapsetFilterDataset;" id="edit-metric-button-{{metric.id}}"><span ng-hide="collapsetFilterDataset">Open</span><span ng-show="collapsetFilterDataset">Collapse</span> Edit Mode</a>											    	
						    	<button type="button" data-intro="Remove dataset from the visualisation" data-position="top" class="btn btn-danger btn-clear" ng-click="deleteMetricFromList(metric.id, metric.title, ListMetricsFilter, $index);" id="delete-metric-button-{{metric.id}}">Remove</button>						    	
						    	<a type="button" data-intro="Access to the dataset data" data-position="right" class="btn btn-info btn-adddataset" href="#!/datasets/{{metric.id}}" target="_blank" id="view-metric-button-{{metric.id}}">View Dataset in detaill</a>						    	
						  	</div>

								<div class="metric-forms" style="display: none;">

										<div class="metric-form-item">
											<br>
											<table>
												<thead>
													<th><label for="color">Individual</label></th>
													<th ng-show="isSelectedSon('graph_line')"><label for="color">Colour</label></th>
												</thead>
												<body>
													<tr ng-repeat="option in individualCombo_value_[metric.id]">
														<td>
															<label ng-click="validateCheckboxes(metric.id);">
															<input type="checkbox" 
															checklist-model="IndividualDatasetCheckboxes_[metric.id]" 
															checklist-value="option.id"
															> {{option.title}}
															</label>
														</td>
														<td ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_pie')">
															
															<spectrum
																ng-init=" dataset_color_palete_[metric.id][option.id] = dataset_color_palete_[metric.id][option.id] == null ? colorScale(option.title) : dataset_color_palete_[metric.id][option.id] "
																ng-model="dataset_color_palete_[metric.id][option.id]" 
																ng-model-onblur ng-change="rePlotGraph()" 						
  																options="{
  																	showInput: true, 
  																	showAlpha: false,
  																	allowEmpty: false,
  																	preferredFormat: 'hex'
  																}">
																</spectrum>
																
															<!--
															<spectrum-colorpicker
																ng-init=" dataset_color_palete_[metric.id][option.id] = dataset_color_palete_[metric.id][option.id] == null ? colorScale(option.title) : dataset_color_palete_[metric.id][option.id] "
																ng-model="dataset_color_palete_[metric.id][option.id]" 
																ng-model-onblur ng-change="rePlotGraph()" 						
  																options="{
  																	showInput: true, 
  																	showAlpha: false,
  																	allowEmpty: false,
  																	preferredFormat: 'hex'
  																}">
																</spectrum-colorpicker>	
														-->
														</td>
													</tr>
												</body>
											</table>
	

										</div>
									</div>
																
							
								</div>
                    </tab>
                	<!-- end tab datasets -->
                    
            		<!-- ini tab historical events -->
            		<!--
            		<tab ng-show="isSelectedSon('graph_line')" heading="Historical Events">
            		-->
            		<tab ng-show="1==2" heading="Historical Events">
						<div ng-show="ListMetricsFilter.length>0" class="buttonline clearfix-min">
							<button data-intro="Helps you to link this visualisation with events" data-position="right"  type="submit" class="btn btn-primary button-metrics" id="addHEbutton" ng-click="showModal('events')">Add Historical Event</button>
						</div>
						<br />
						<div ng-show="eventsToPlot.length==0">No events selected</div>
						<div ng-if="eventsToPlot.length > 0 " id="listHistoricalEventsToPlot">						
							<div class="designer-metrics ng-scope active" id="designer-metrics-he-num-{{$index+1}}" ng-repeat="event in eventsToPlot track by $index">
								<h4>{{event.title}}</h4>
								<input type="hidden" ng-model="idHE[$index+1]" id="idHE{{$index+1}}" name="idHE[]" value="{{event.id}}">
								<input type="hidden" ng-model="titleHE[$index+1]" id="titleHE{{$index+1}}" name="titleHE[]" value="{{event.title}}">
								<input type="hidden" ng-model="startDateHE[$index+1]" id="startDateHE{{$index+1}}" name="startDateHE[]" value="{{event.startDate}}">
								<input type="hidden" ng-model="endDateHE[$index+1]" id="endDateHE{{$index+1}}" name="endDateHE[]" value="{{event.endDate}}">					    	
								<!--
								<input type="hidden" ng-model="descHE[$index+1]" id="descHE{{$index+1}}" name="descHE[]" value="{{event.desc}}">
								<input type="hidden" ng-model="colorHE[$index+1]" id="colorHE{{$index+1}}" name="colorHE[]" value="{{event.color}}">
								-->
								<!--
								<div class="contentHE">
									<div ng-if="event.startDate"><label for="">From:</label> {{event.startDate | date:'longDate'}} </div>
									<div ng-if="event.endDate"><label for="">To:</label> {{event.endDate | date:'longDate'}} </div>
									<div ng-if="event.desc"><label for="">Description:</label> {{event.desc}} </div>
								</div>
								-->
								<div class="historicalevent-buttons active">
									<!--		    	
					    			<div class="metric-button metric-delete-button" ng-click="deleteContainerHistoricalEvent('row_config_',$index+1)" id="delete-metric-button-{{metric.id}}"></div>
					    			-->
					    			<a type="button" data-intro="Edit event main data" data-position="right" class="btn btn-primary btn-create" ng-click="vieweditHE[$index+1]=!vieweditHE[$index+1]">
									<span ng-show="vieweditHE[$index+1]">Collapse</span> Edit</a>
									
					    			<button data-intro="Remove event from the list of related events" data-position="left" type="button" class="btn btn-danger btn-clear" ng-click="deleteContainerHistoricalEvent('row_config_',$index+1, event.title)" id="delete-he-button-{{event.id}}">Remove</button>				    				
			    					
								</div>
			  				
								<div ng-show="vieweditHE[$index+1]" class="contentHE">
									<div><br/></div>
									<div ng-if="event.color"><label for="">Colour:</label>
										
										<spectrum
											name="colorHE[]" ng-model="colorHE[$index+1]" ng-model-onblur ng-change="updatecolorEvent($index);rePlotGraph()"
											options="{
												showInput: true, 
												showAlpha: false,
												allowEmpty: false,
												preferredFormat: 'hex'
											}">
										</spectrum>
										 <!--
										<spectrum-colorpicker
											name="colorHE[]" ng-model="colorHE[$index+1]" ng-model-onblur ng-change="updatecolorEvent($index);rePlotGraph()"
											options="{
												showInput: true, 
												showAlpha: false,
												allowEmpty: false,
												preferredFormat: 'hex'
											}">
										</spectrum-colorpicker>
									-->
										<!--
										<input type='color' name="colorHE[]" ng-model="colorHE[$index+1]" ng-model-onblur ng-change="updatecolorEvent($index);rePlotGraph()" />
										-->
									</div>
									 
									<div ng-if="event.startDate"><label for="">From:</label> {{event.startDate | date:'longDate'}} </div>
									<div ng-if="event.endDate"><label for="">To:</label> {{event.endDate | date:'longDate'}} </div>
									<div ng-if="event.desc"><label for="">Description:</label> 
									<!--
										{{event.desc}} 
									-->
									<textarea ng-blur="updateDescriptionEvent($index);rePlotGraph()" rows="2" cols="50" ng-model="descHE[$index+1]" ng-trim="false" maxlength="150" name="descriptionHEToAdd" id="descriptionHEToAdd">{descHE[$index+1]}}</textarea>
    								<span>{{150 - descHE[$index+1].length}} left</span>
									
								</div>
								</div>
							</div>
						</div>
            		</tab>
					<!-- end tab historical events -->
                    

                    
				</tabset>
		            </div>

        		</div>
    		</div>
		</div>
	</form>
</div>