<h1><span class="glyphicon glyphicon-search"></span> Create New Visualization</h1>
<br />
<div class="container">
<div class="row">
	
    <div  class="col-md-4">


    <ul class="nav nav-pills">
    	<li ng-class="{active: isSelectedParent(1)}">
    		<a href ng-click="selectTabParent(1)" id="map" class="graphtype">Map</a>
    	</li>
    	<li ng-class="{active: isSelectedParent(2)}">
    		<a href ng-click="selectTabParent(2)" id="graph" class="graphtype">Graph</a>
    	</li>
    </ul>

	<ul class="nav nav-pills" ng-show="isSelectedParent(1)">
    	<li ng-class="{active: isSelectedSon('map_1')}">
    		<a href ng-click="selectTabSon('map_1');rePlotGraph();" id="map_1" class="submenu">Map 1</a>
    	</li>
    </ul>

	<ul class="nav nav-pills" ng-show="isSelectedParent(2)">
    	<li ng-class="{active: isSelectedSon('graph_line')}">
    		<a href ng-click="selectTabSon('graph_line');rePlotGraph();" id="graph_line" class="submenu">Line</a>
    	</li>
    	
    	<li ng-class="{active: isSelectedSon('graph_pie')}">
    		<a href ng-click="selectTabSon('graph_pie');rePlotGraph();" id="graph_pie" class="submenu">Pie</a>
    	</li>
    	<li ng-class="{active: isSelectedSon('graph_graphbars')}">
    		<a href ng-click="selectTabSon('graph_graphbars');rePlotGraph();" id="graph_graphbars" class="submenu">Bars</a>
    	</li>    	
    </ul>


	<div ng-if="eventsToPlot.length > 0 " id="listHistoricalEvents">
		<div class="table-responsive">
			<table class="table">
				<th> List of historical events: </th>
					<tr id="row_he_{{$index+1}}" class="row_config_he" ng-repeat="event in eventsToPlot track by $index">			
						<td class="">
			        	    	{{event.title}}
			        	    	<input type="hidden" id="titleHE{{$index+1}}" name="titleHE[]" value="{{event.title}}">
			        			<input type="hidden" id="startDateHE{{$index+1}}" name="startDateHE[]" value="{{event.startDate}}">
			        			{{event.startDate}}    	
			        	    </td>
			        	    <td class="">
			        	    	<input type="hidden" id="endDateHE{{$index+1}}" name="endDateHE[]" value="{{event.endDate}}">
			        			{{event.endDate}}    	
			        	    	<input type="hidden" id="descHE{{$index+1}}" name="descHE[]" value="{{event.desc}}">        			    
			        	    </td>        	    
			
							<td class="">
				    			<a href="" ng-click="deleteContainerHistoricalEvent('row_config_',$index+1); rePlotGraph()" id="deleterow_{{$index+1}}" class="button btn btn-warning">Delete Historical Event</a>
				    		</td>	
			    </tr>
			  </table>
			</div>
        </div>



	<form name="visualizationForm" role="form" novalidate>

            <div class="form-group" ng-class="{'has-error': metricForm.title.$dirty && metricForm.title.$invalid}">
                <label for="title">Title *</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" ng-model="visualization.title" ng-minlength="3" required>
            </div>
<!--
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Description" ng-model="visualization.description">
            </div>
-->

            <div class="form-group" ng-class="{'has-error': visualizationForm.description.$dirty && visualizationForm.description.$invalid}">
                <label for="metricdescription" class="">Description *</label>
                <textarea class="form-control" rows="10" id="description" name="description" ng-model="visualization.description" required></textarea>
            </div>
                    
            <div class="form-group">
                <label for="keywords">Keywords</label>
                <input type="text" class="form-control" id="keywords" placeholder="Keywords" ng-model="visualization.keywords">
            </div>

            <div class="form-group" ng-class="{'has-error': visualizationForm.language.$dirty && visualizationForm.language.$invalid}">
                <label for="language" class="">Language *</label>
                <select class="form-control language-options" model="visualization.language" ng-model="visualization.language" id="language" name="language" required>

                </select>
            </div>                       

            <div class="form-group pc-button-spacer">
                <button type="submit" ng-disabled="visualizationForm.$invalid" class="btn btn-default" ng-click="createVisualization()"><span class="glyphicon glyphicon-floppy-disk"></span> Save <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>

        </form>        
        
    </div>
    <div class="col-md-8">
        <div ng-switch="stage">
            <div ng-switch-default>
                <tabset>
                    <tab heading="Graph">

						<div id="configureGraph" ng-show="isSelectedParent(2)">

							<div id="dynamicContainer">			
								<div id="row_config_{{$index+1}}" class="row_config_metric" ng-repeat="metric in metricsFilter track by $index">
									<label id="label_metric_selector_{{$index+1}}">{{metric.name}}</label>
									<input type="hidden" id="idMetricSelected_{{metric.id}}" name="idMetricSelected[]" value="{{metric.name}}">
									<select onchange="" ng-model="metric.column" id="selectorLabelColumn_{{$index+1}}" name="mySelectorLabelColumn[]" class="comboMetricIndexX selectorDynamic">
										<option value="label column">Label Column</option>
										<option value="from">From</option>
										<option value="to">To</option>
										<option value="category">Category</option>
										<option value="value">Value</option>												
									</select>
						    		<select onchange="" ng-model="metric.value" id="selectorDataColumn_{{$index+1}}" name="mySelectorDataColumn[]" class="comboMetricIndexY selectorDynamic">
										<option value="row column">Row Column</option>
										<option value="from">From</option>
										<option value="to">To</option>
										<option value="category">Category</option>
										<option value="value">Value</option>	    				
						    		</select>	    			
									<select onchange="" ng-model="metric.group" id="selectorGroupingData_{{$index+1}}" name="mySelectorGroupingData[]" class="comboSelectorGroupingData selectorDynamic">
										<option value="grouping column">Grouping Column</option>
									</select>						    
						    		<div id="deleteRowButton_{{$index+1}}" class="deleteRowButton">
						    			<a href="" ng-click="deleteContainerFilterMetric('row_config_',$index+1);" id="deleterow_{{$index+1}}" class="button btn btn-warning">Delete Row</a>
						    		</div>				
								</div>			
							</div>			
							<div id="comboselectmetric" class="comboselectmetric">			
								<div id="containercomboselectmetric">
									<span class="nullable">
										<select id="metricsList" name="metricsList[]" class="selectorDynamic">
											<option value="">Select Metric</option>
											<option id="{{metric.id}}" ng-repeat="metric in metrics track by $index">{{metric.title}}
										</select>
										
									</span>	
									
									<a href="" ng-click="addContainerFilterMetric('dynamicContainer');" class="button btn btn-default" id="addmetric">Add metric</a>
								</div>
							</div>
							<div  id="showFilterContainer" class="showFilterContainer">
								<div id="showFilter" class="on_check">
									<div id="div_showLegend" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_graphbars')" class="on_check">
										<label class="checkbox-inline">
											<input type="checkbox" ng-click="rePlotGraph();" name="showLegend" checked id="showLegend" class="checkbox filterCheckBox">Show Legend
										</label>
									</div>
									<div id="div_showLines" ng-show="isSelectedSon('graph_line')" class="on_check">
										<label class="checkbox-inline">
											<input type="checkbox" ng-click="rePlotGraph();" name="showLines" checked id="showLines" class="checkbox filterCheckBox">Show Lines
										</label>
									</div>
									<div id="div_showPoints" ng-show="isSelectedSon('graph_line')" class="on_check">
										<label class="checkbox-inline">
											<input type="checkbox" ng-click="rePlotGraph();" name="showPoints" checked id="showPoints" class="checkbox filterCheckBox">Show Points
										</label>
									</div>
									<div id="div_showLabels" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_graphbars')" class="on_check">
										<label class="checkbox-inline">
											<input type="checkbox" ng-click="rePlotGraph();" name="showLabels" checked id="showLabels" class="checkbox filterCheckBox">Show Labels
										</label>		
									</div>
									<div id="div_showGrid" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_graphbars')" class="on_check">
										<label class="checkbox-inline">
											<input type="checkbox" ng-click="rePlotGraph();" name="showGrid" checked id="showGrid" class="checkbox filterCheckBox">Show Grid
										</label>
									</div>
									
									<div id="div_showYaxes" ng-show="isSelectedSon('graph_line')" class="on_check">
										<label class="checkbox-inline">
											<input type="checkbox" ng-click="rePlotGraph();" name="showYAxes" checked id="showYAxes" class="checkbox filterCheckBox">Show only one Y axe
										</label>
									</div>
								</div>
							</div>
							
							<!--
					        <div id="buttonsGraphConfig" class="buttonsGraphConfig on_check" ng-show="isSelectedSon('graph_line') || isSelectedSon('graph_pie') || isSelectedSon('graph_graphbars')">			
								<input ng-if="metricsFilter.length > 0 " id="saveas" ng-click="saveGraphAs();" type="button" value="Save As" class="btn btn-success">
								<input ng-if="metricsFilter.length > 0 " id="revert" ng-click="revertGraph();" type="button" value="Revert" class="btn btn-danger">			
							</div>
							-->
						</div>


        				<div >
        					<input type="hidden" id="startDatePosX" name="startDatePosX" value="">
	        				<a href="" ng-click="isSelectedSon('graph_line') ? showModal() : void(0)">
        					<div id="container_graph" class="container_graph"></div>
	        				</a>
						</div>


                    </tab>
                    
                </tabset>
            </div>


        </div>

    </div>

</div>