<div class="container containerWithSecondBar">

    <browse-submenu></browse-submenu>

<h1><span class="glyphicon glyphicon-list-alt"></span> {{ visualization.title }}</h1>
<br />
<div class="panel panel-default">
  <div class="panel-body">
      <table class="table table-hover">
          <tr ng-show="visualization.title">
              <td><b>Title:</b></td>
              <td>{{ visualization.title }}</td>
          </tr>
          <tr ng-show="visualization.description">
              <td><b>Description:</b></td>
              <td>{{ visualization.description }}</td>
          </tr>                    
          <tr ng-show="visualization.keywords">
              <td><b>Keywords:</b></td>
              <td>{{ visualization.keywords }}</td>
          </tr>

          
          <tr ng-show="visualization.created_at">
              <td><b>Created:</b></td>
              <td>{{ visualization.created_at | date:'longDate' }}</td>
          </tr>
          <tr ng-show="visualization.updated_at">
              <td><b>Updated:</b></td>
              <td>{{ visualization.updated_at | date:'longDate' }}</td>
          </tr>

          
          <tr ng-show="visualization.language_id">
              <td><b>Language:</b></td>
              <td>{{ visualization.language_id }}</td>
          </tr>
                    

      </table>

		<div ng-controller="VisualizationsEditController" ng-include='"modules/visualization/partials/graph.html"' ></div>
      <br/>		
		
      
      <div>
          <button type="button" class="btn btn-danger" ng-click="deleteVisualization(visualization)">Delete</button>
          <a type="button" class="btn btn-primary" href="#/visualizations/{{ visualization.id }}/edit">Edit</a>
      </div>
  </div>
</div>
</div>