<center>
	<div>
		<div ng-hide="list">
			<div ng-show="isSelectedSon('graph_pie')">
				<form>
					<span>
						<label class="checkbox-inline" for="selectedAll">
							<input type="checkbox" ng-model="selectedAll" ng-change="checkAll();angularpiechartdisplaybycheckbox();" /> Check All
						</label>
					</span>
					<br/>
					<span ng-repeat="option in numbers2">
      					<label class="checkbox-inline" for="{{option.Key}}">
        					<input id="dateselectorcheckbox" class="dateselectorcheckbox" ng-change="angularpiechartdisplaybycheckbox();" type="checkbox" ng-model="selection.Keys[option.Key]" name="dateselectorcheckbox"  />
        					{{option.Key}}
      					</label>
					</span>
				</form>
			</div>
		</div>

		<div ng-show="isSelectedSon('graph_pie')">
			<div class="pcPieChart" dataset="dataset" chartid="visualization.id" show-Legend="showLegend" small="list" mode="mode" show-Labels="showLabels"></div>
		</div>

		<div ng-show="isSelectedSon('graph_bars')">
			<div class="pcBarsChart" dataset="datasetToSend" chartid="visualization.id" small="list"  mode="mode" show-Legend="showLegend" show-Labels="showLabels" show-Grid="showGrid"></div>
		</div>

		<div ng-show="isSelectedSon('graph_line')">
			<div class="pcLinesChart" dataset="numbers1" events="eventsToPlot" 
			labels="labelYAxe" small="list"  mode="mode" chartid="visualization.id" 
			show-Legend="showLegend" 
			show-Labels="showLabels"
			show-Lines="showLines"
			show-Areas="showAreas"
			show-Points="showPoints"
			show-Grid="showGrid"
			show-Together="showYAxes"
			show-Percentatge="showAsPercentatge"
			xaxeformat=""
			></div>
		</div>
	</div>
</center>