@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?qaahjl');
	src:url('fonts/icomoon.eot?#iefixqaahjl') format('embedded-opentype'),
		url('fonts/icomoon.woff?qaahjl') format('woff'),
		url('fonts/icomoon.ttf?qaahjl') format('truetype'),
		url('fonts/icomoon.svg?qaahjl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-create2-03:before {
	content: "\e636";
}

.icon-create2-04:before {
	content: "\e637";
}

.icon-create2-02:before {
	content: "\e638";
}

.icon-create2-01:before {
	content: "\e639";
}

.icon-plus:before {
	content: "\e624";
}

.icon-want:before {
	content: "\e620";
}

.icon-request:before {
	content: "\e621";
}

.icon-create:before {
	content: "\e625";
}

.icon-circle:before {
	content: "\e622";
}

.icon-browse:before {
	content: "\e623";
}

.icon-uniF000:before {
	content: "\f000";
}

.icon-checkmark:before {
	content: "\e001";
}

.icon-close:before {
	content: "\e002";
}

.icon-book3:before {
	content: "\e000";
}

.icon-library:before {
	content: "\e100";
}

.icon-file2:before {
	content: "\e101";
}

.icon-image2:before {
	content: "\e102";
}

.icon-images2:before {
	content: "\e103";
}

.icon-camera:before {
	content: "\e104";
}

.icon-music:before {
	content: "\e105";
}

.icon-headphones:before {
	content: "\e106";
}

.icon-stack:before {
	content: "\e107";
}

.icon-map:before {
	content: "\e108";
}

.icon-map2:before {
	content: "\e109";
}

.icon-location:before {
	content: "\e10a";
}

.icon-location2:before {
	content: "\e10b";
}

.icon-envelop:before {
	content: "\e10c";
}

.icon-notebook:before {
	content: "\e10d";
}

.icon-address-book:before {
	content: "\e10e";
}

.icon-home:before {
	content: "\e10f";
}

.icon-home2:before {
	content: "\e110";
}

.icon-newspaper:before {
	content: "\e111";
}

.icon-tag:before {
	content: "\e112";
}

.icon-tags:before {
	content: "\e113";
}

.icon-clock:before {
	content: "\e114";
}

.icon-clock2:before {
	content: "\e115";
}

.icon-bell:before {
	content: "\e116";
}

.icon-droplet:before {
	content: "\e117";
}

.icon-film:before {
	content: "\e118";
}

.icon-play:before {
	content: "\e119";
}

.icon-camera2:before {
	content: "\e11a";
}

.icon-folder:before {
	content: "\e11b";
}

.icon-folder-open:before {
	content: "\e11c";
}

.icon-download:before {
	content: "\e11d";
}

.icon-box-remove:before {
	content: "\e11e";
}

.icon-box-add:before {
	content: "\e11f";
}

.icon-drawer:before {
	content: "\e120";
}

.icon-drawer2:before {
	content: "\e121";
}

.icon-drawer3:before {
	content: "\e122";
}

.icon-tv:before {
	content: "\e123";
}

.icon-user:before {
	content: "\e124";
}

.icon-users:before {
	content: "\e125";
}

.icon-user2:before {
	content: "\e126";
}

.icon-user3:before {
	content: "\e127";
}

.icon-quotes-left:before {
	content: "\e128";
}

.icon-cog3:before {
	content: "\e129";
}

.icon-equalizer2:before {
	content: "\e12a";
}

.icon-wrench:before {
	content: "\e12b";
}

.icon-lock:before {
	content: "\e12c";
}

.icon-unlocked:before {
	content: "\e12d";
}

.icon-lock2:before {
	content: "\e12e";
}

.icon-key:before {
	content: "\e12f";
}

.icon-key2:before {
	content: "\e130";
}

.icon-pie2:before {
	content: "\e131";
}

.icon-bars22:before {
	content: "\e132";
}

.icon-cog22:before {
	content: "\e133";
}

.icon-remove:before {
	content: "\e134";
}

.icon-globe2:before {
	content: "\e135";
}

.icon-earth:before {
	content: "\e136";
}

.icon-link:before {
	content: "\e137";
}

.icon-flag:before {
	content: "\e138";
}

.icon-attachment:before {
	content: "\e139";
}

.icon-eye:before {
	content: "\e13a";
}

.icon-exit:before {
	content: "\e13b";
}

.icon-enter:before {
	content: "\e13c";
}

.icon-facebook:before {
	content: "\e13d";
}

.icon-twitter:before {
	content: "\e13e";
}

.icon-feed:before {
	content: "\e13f";
}

.icon-linkedin:before {
	content: "\e144";
}

.icon-file-word:before {
	content: "\e145";
}

.icon-file-pdf:before {
	content: "\e146";
}

.icon-file-zip:before {
	content: "\e147";
}

.icon-calendar3:before {
	content: "\e148";
}

.icon-calendar22:before {
	content: "\e149";
}

.icon-checkmark-circle:before {
	content: "\e14a";
}

.icon-cancel-circle:before {
	content: "\e14b";
}

.icon-info:before {
	content: "\e14c";
}

.icon-bubble:before {
	content: "\e14d";
}

.icon-bubble2:before {
	content: "\e14e";
}

.icon-Untitled-1:before {
	content: "\e14f";
}

.icon-arrow-right2:before {
	content: "\e003";
}

.icon-arrow-right22:before {
	content: "\e004";
}

.icon-arrow-down2:before {
	content: "\e005";
}

.icon-arrow-left2:before {
	content: "\e006";
}

.icon-arrow-down22:before {
	content: "\e007";
}

.icon-arrow-up2:before {
	content: "\e00b";
}

.icon-stop:before {
	content: "\e00d";
}

.icon-pause:before {
	content: "\e00e";
}

.icon-last:before {
	content: "\e00f";
}

.icon-previous:before {
	content: "\e010";
}

.icon-first:before {
	content: "\e011";
}

.icon-forward:before {
	content: "\e012";
}

.icon-backward:before {
	content: "\e013";
}

.icon-checkbox-partial:before {
	content: "\e008";
}

.icon-radio-checked:before {
	content: "\e009";
}

.icon-radio-unchecked:before {
	content: "\e00a";
}

.icon-play2:before {
	content: "\e00c";
}

.icon-plus-alt:before {
	content: "\e014";
}

.icon-minus-alt:before {
	content: "\e015";
}

.icon-pushpin:before {
	content: "\e016";
}

.icon-menu2:before {
	content: "\e017";
}

.icon-android:before {
	content: "\e141";
}

.icon-vimeo:before {
	content: "\e140";
}

.icon-windows8:before {
	content: "\e142";
}

.icon-skype:before {
	content: "\e143";
}

.icon-list-gl:before {
	content: "\e018";
}

.icon-down-gl:before {
	content: "\e166";
}

.icon-upload:before {
	content: "\e167";
}

.icon-uniE168:before {
	content: "\e168";
}

.icon-uniE169:before {
	content: "\e169";
}

.icon-uniE170:before {
	content: "\e170";
}

.icon-download2:before {
	content: "\e960";
}

.icon-magic-wand:before {
	content: "\e997";
}

.icon-make-group:before {
	content: "\ea58";
}

.icon-embed:before {
	content: "\ea7f";
}

.icon-embed2:before {
	content: "\ea80";
}

.icon-loop:before {
	content: "\e635";
}

.icon-git-branch:before {
	content: "\f020";
}

.icon-git-compare:before {
	content: "\f0ad";
}

.icon-git-merge:before {
	content: "\f023";
}

.icon-stats:before {
	content: "\e634";
}

.icon-file:before {
	content: "\e62a";
}

.icon-expand:before {
	content: "\e62b";
}

.icon-contract:before {
	content: "\e62c";
}

.icon-expand2:before {
	content: "\e62d";
}

.icon-contract2:before {
	content: "\e62e";
}

.icon-bars:before {
	content: "\e62f";
}

.icon-target:before {
	content: "\e630";
}

.icon-switch:before {
	content: "\e631";
}

.icon-database:before {
	content: "\f096";
}

.icon-gist:before {
	content: "\f00e";
}

.icon-pencil:before {
	content: "\e60d";
}

.icon-quill:before {
	content: "\e60e";
}

.icon-pen:before {
	content: "\e60f";
}

.icon-image:before {
	content: "\e610";
}

.icon-images:before {
	content: "\e611";
}

.icon-calendar2:before {
	content: "\e612";
}

.icon-spinner:before {
	content: "\e60c";
}

.icon-settings:before {
	content: "\e613";
}

.icon-equalizer:before {
	content: "\e614";
}

.icon-cog:before {
	content: "\e615";
}

.icon-cogs:before {
	content: "\e616";
}

.icon-cog2:before {
	content: "\e617";
}

.icon-pie:before {
	content: "\e618";
}

.icon-stats2:before {
	content: "\e619";
}

.icon-bars2:before {
	content: "\e61a";
}

.icon-list:before {
	content: "\e61b";
}

.icon-menu:before {
	content: "\e61c";
}

.icon-tree:before {
	content: "\e61d";
}

.icon-star:before {
	content: "\e61e";
}

.icon-star2:before {
	content: "\e61f";
}

.icon-office:before {
	content: "\e60b";
}

.icon-signup:before {
	content: "\e601";
}

.icon-thumbs-up:before {
	content: "\e602";
}

.icon-thumbs-up2:before {
	content: "\e603";
}

.icon-bookmarks:before {
	content: "\e604";
}

.icon-bookmark:before {
	content: "\e605";
}

.icon-star3:before {
	content: "\e606";
}

.icon-star22:before {
	content: "\e607";
}

.icon-star32:before {
	content: "\e608";
}

.icon-heart:before {
	content: "\e609";
}

.icon-heart-broken:before {
	content: "\e60a";
}

.icon-pencil2:before {
	content: "\e600";
}

.icon-landscape:before {
	content: "\e632";
}

.icon-flow-branch:before {
	content: "\e633";
}

.icon-circles:before {
	content: "\e629";
}

.icon-book:before {
	content: "\e627";
}

.icon-grid:before {
	content: "\e626";
}

.icon-book2:before {
	content: "\e628";
}

.icon-search:before {
	content: "\f002";
}

.icon-th-large:before {
	content: "\f009";
}

.icon-th:before {
	content: "\f00a";
}

.icon-th-list:before {
	content: "\f00b";
}

.icon-check:before {
	content: "\f00c";
}

.icon-times:before {
	content: "\f00d";
}

.icon-plus-circle:before {
	content: "\f055";
}

.icon-minus-circle:before {
	content: "\f056";
}

.icon-times-circle:before {
	content: "\f057";
}

.icon-check-circle:before {
	content: "\f058";
}

.icon-question-circle:before {
	content: "\f059";
}

.icon-arrow-left:before {
	content: "\f060";
}

.icon-arrow-right:before {
	content: "\f061";
}

.icon-arrow-up:before {
	content: "\f062";
}

.icon-arrow-down:before {
	content: "\f063";
}

.icon-plus2:before {
	content: "\f067";
}

.icon-minus:before {
	content: "\f068";
}

.icon-asterisk:before {
	content: "\f069";
}

.icon-exclamation-circle:before {
	content: "\f06a";
}

.icon-calendar:before {
	content: "\f073";
}

.icon-arrow-circle-left:before {
	content: "\f0a8";
}

.icon-arrow-circle-right:before {
	content: "\f0a9";
}

.icon-arrow-circle-up:before {
	content: "\f0aa";
}

.icon-arrow-circle-down:before {
	content: "\f0ab";
}

.icon-globe:before {
	content: "\f0ac";
}

.icon-filter:before {
	content: "\f0b0";
}

.icon-table:before {
	content: "\f0ce";
}

.icon-columns:before {
	content: "\f0db";
}

.icon-calendar-o:before {
	content: "\f133";
}

.icon-sort-alpha-asc:before {
	content: "\f15d";
}

.icon-sort-alpha-desc:before {
	content: "\f15e";
}

.icon-sort-amount-asc:before {
	content: "\f160";
}

.icon-sort-amount-desc:before {
	content: "\f161";
}

.icon-sort-numeric-asc:before {
	content: "\f162";
}

.icon-sort-numeric-desc:before {
	content: "\f163";
}

