#EditorBody {
	height: 350px;
	width: 100%;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
	border: 1px solid #aaa;
	border-radius:10px;
	-webkit-border-radius:10px;
	padding: 0px;
	display: block;
	z-index: 1;
}

#left-toolbar {
	height: 100%;
	width: 150px;
	float: left;
	text-align: center;
	position: relative;
	top: 0px;
	left: 0px;
	border: 1px solid #aaa;
	border-bottom-left-radius:8px;
	border-top-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-bottom-left-radius:8px;
	padding: 0px;
	display: block;
	z-index: 0;
	margin-bottom: 0px;
	background-color:#E9E9E9;
}
  
#cy {
	height: 600px;
	width: 100%;
	float: left;
    border: 1px solid #eb8000;
	position: relative;
}
  
#Footer {
	height: 10%;
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	top: 20px;
	left: 0px;
	border: 0px solid #aaa;
	border-radius:10px;
	-webkit-border-radius:10px;
	padding: 0px;
	display: block;
	z-index: 1;
}

#Addconcept{
	display: none;
}
#Addconnection{
	display:none;
}
